openapi: 3.0.1
info:
  description: Criteo API - MarketingSolutions
  title: Criteo API
  version: 2025-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Advertiser
- name: Analytics
- name: Audience
- name: Campaign
- name: Creative
- name: Gateway
paths:
  /2025-07/advertisers/me:
    get:
      description: Fetch the portfolio of Advertisers for this account
      operationId: ListAdvertisers
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: advertiser
                  id: "13"
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: "1352"
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: "73550"
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
      security:
      - oauth: []
      tags:
      - Advertiser
      x-accepts: application/json
  /2025-07/audiences/{audience-segment-id}/contactlist:
    delete:
      description: Delete all identifiers from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The Contact List was emptied
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove identifiers to or from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser id to fetch the transparency data.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            example:
              shouldDisplayProductIds: false
              startDate: 2025-05-31T00:00:00.0000000+00:00
              endDate: 2025-06-03T00:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/xml:
            example: |-
              <TransparencyQueryMessage xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages">
                <EndDate>2025-06-03T00:00:00+00:00</EndDate>
                <StartDate>2025-05-31T00:00:00+00:00</StartDate>
                <ShouldDisplayProductIds>false</ShouldDisplayProductIds>
              </TransparencyQueryMessage>
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          text/xml:
            example: |-
              <TransparencyQueryMessage xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages">
                <EndDate>2025-06-03T00:00:00+00:00</EndDate>
                <StartDate>2025-05-31T00:00:00+00:00</StartDate>
                <ShouldDisplayProductIds>false</ShouldDisplayProductIds>
              </TransparencyQueryMessage>
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/*+xml:
            example: |-
              <TransparencyQueryMessage xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages">
                <EndDate>2025-06-03T00:00:00+00:00</EndDate>
                <StartDate>2025-05-31T00:00:00+00:00</StartDate>
                <ShouldDisplayProductIds>false</ShouldDisplayProductIds>
              </TransparencyQueryMessage>
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
        description: The query message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Analytics_Read
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets:
    patch:
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSetV24Q3'
        description: List of adsets to patch.
        x-bodyName: adSets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetIdV24Q3'
          description: List of patched adSets.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Create the specified ad set
      operationId: CreateAdSet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetV24Q3Request'
        description: the ad sets to create
        required: true
        x-bodyName: adSet
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV24Q3'
          description: The ad set that has been created and errors / warnings
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/{ad-set-id}:
    get:
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV24Q3'
          description: data for the ad set
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/{ad-set-id}/audience:
    put:
      description: Link or unlink an audience with an ad set
      operationId: UpdateAdSetAudience
      parameters:
      - description: The ad set ID.
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
        description: Ad set-Audience update request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetAudienceLinkEntityV1Response'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/{ad-set-id}/category-bids:
    get:
      description: Get the Category Bids for all valid Categories associated to an
        Ad Set
      operationId: GetAdSetCategoryBids
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
          description: List of Category Bids for all valid Categories associated to
            an Ad Set.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Category Bids for one or more Categories in a single request.
        Partial success policy is followed.
      operationId: PatchAdSetCategoryBids
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
        x-bodyName: categoryBidsToUpdate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
          description: List of updated Category Bids for given Categories associated
            to an Ad Set.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers:
    get:
      description: Get the Display Multipliers for all valid Categories associated
        to an Ad Set
      operationId: GetDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
          description: List of Display Multipliers for all valid Categories associated
            to an Ad Set.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Display Multipliers for one or more Categories in a single
        request. Partial success policy is followed.
      operationId: PatchDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
        x-bodyName: displayMultipliersToUpdate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
          description: List of updated Display Multipliers for given Categories associated
            to an Ad Set.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/search:
    post:
      description: Search for ad sets
      operationId: SearchAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV24Q3'
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSetV24Q3'
          description: data for the ad sets
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/ads/{id}:
    delete:
      description: Delete an Ad
      operationId: DeleteAd
      parameters:
      - description: The ad identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: The ad was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get an Ad with its id
      operationId: GetAd
      parameters:
      - description: The ad identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The found ad is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
  /2025-07/marketing-solutions/advertisers/{advertiser-id}/ads:
    get:
      description: Get the list of self-services Ads for a given advertiser
      operationId: GetAdvertiserAds
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of ads to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of ads. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
          description: The list of self-services Ads is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create an Ad
      operationId: CreateAdvertiserAd
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The created Ad is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons:
    get:
      description: Get the list of self-services Coupons for a given advertiser
      operationId: GetAdvertiserCoupons
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of coupons to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of coupons. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
          description: The list of self-services Coupons is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Coupon
      operationId: CreateAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The created Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons-supported-sizes:
    get:
      description: Get the list of Coupon supported sizes
      operationId: GetAdvertiserCouponSupportedSizes
      parameters:
      - description: The ad set id on which you want to check the Coupon supported
          sizes.
        explode: true
        in: query
        name: ad-set-id
        required: false
        schema:
          type: string
        style: form
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
          description: The list of Coupon supported sizes is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
  /2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons/{id}:
    delete:
      description: Delete a Coupon
      operationId: DeleteAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The Coupon was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Coupon with its id
      operationId: GetAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The found Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Coupon
      operationId: EditAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The edited Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons/{id}/preview:
    get:
      description: Get the preview of a specific Coupon
      operationId: GetAdvertiserCouponPreview
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The height of the coupon to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The Coupon identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the coupon to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: The preview HTML of a specific Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
  /2025-07/marketing-solutions/advertisers/{advertiser-id}/creatives:
    get:
      description: Get the list of self-services Creatives for a given advertiser
      operationId: GetAdvertiserCreatives
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of creatives to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of creatives. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreativeRead'
          description: The list of self-services Creatives is returned.This list will
            contain creatives in draft status as well which will have some properties
            as null
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Creative
      operationId: CreateAdvertiserCreative
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The created creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: UpdateAudienceSegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/{audience-segment-id}/contact-list:
    delete:
      description: Delete all identifiers from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The Contact List was emptied
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove identifiers to or from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/{audience-segment-id}/contact-list/statistics:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: GetAudienceSegmentContactListStatistics
      parameters:
      - description: The segment ID.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListStatisticsEntityV1Response'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      tags:
      - Audience
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/compute-sizes:
    post:
      description: Gets the size of all segments. An error is returned for those whose
        size calculation is not supported.
      operationId: ComputeAudienceSegmentsSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns their\
        \ IDs. For those that cannot be created, one or multiple errors are returned."
      operationId: CreateAudienceSegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/delete:
    post:
      description: Delete the segments associated to the given audience IDs.
      operationId: DeleteAudienceSegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/estimate-size:
    post:
      description: Gets the size estimation of a non existent segment. An error is
        returned when size calculation is not supported.
      operationId: EstimateAudienceSegmentsSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEstimationV1Response'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/in-market-brands:
    get:
      description: Returns a list with all available in-market brands that can be
        used to define an in-market segment.
      operationId: GetAudienceSegmentsInMarketBrands
      parameters:
      - description: The advertiser ID.
        explode: true
        in: query
        name: advertiser-id
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      tags:
      - Audience
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/in-market-interests:
    get:
      description: Returns a list with all available in-market interests that can
        be used to define an in-market segment. These in-market interests correspond
        to the Google product taxonomy.
      operationId: GetAudienceSegmentsInMarketInterests
      parameters:
      - description: The advertiser ID.
        explode: true
        in: query
        name: advertiser-id
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      tags:
      - Audience
      x-accepts: application/json
  /2025-07/marketing-solutions/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: SearchAudienceSegments
      parameters:
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audiences:
    patch:
      description: "Updates the properties of all audiences with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: UpdateAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkUpdateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audiences/compute-sizes:
    post:
      description: Gets the size of all audiences. An error is returned for those
        whose size calculation is not supported.
      operationId: ComputeAudiencesSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audiences/create:
    post:
      description: "Creates all audiences with a valid configuration, and returns\
        \ their IDs. For those that cannot be created, one or multiple errors are\
        \ returned."
      operationId: CreateAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkCreateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audiences/delete:
    post:
      description: Deletes the audiences associated to the given audience IDs.
      operationId: DeleteAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkDeleteInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceIdEntityV1ListResponse'
          description: Success
        "204":
          content:
            application/json: {}
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audiences/estimate-size:
    post:
      description: Gets the size estimation of a non existent audience. An error is
        returned when size calculation is not supported.
      operationId: EstimateAudiencesSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEstimationV1Response'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: SearchAudiences
      parameters:
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/campaigns:
    patch:
      description: Patch a list of Campaigns.
      operationId: PatchCampaigns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
        description: List of campaigns to patch.
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
          description: List of patched campaigns.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Create the specified campaign
      operationId: CreateCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        description: the campaigns to create
        required: true
        x-bodyName: marketingCampaign
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
          description: The campaign that has been created and errors / warnings
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/campaigns/{campaign-id}:
    get:
      description: Get the data for the specified campaign
      operationId: GetCampaign
      parameters:
      - description: Id of the campaign
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
          description: data for the campaign
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/campaigns/search:
    post:
      description: Search for campaigns
      operationId: SearchCampaigns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequestV23Q1'
        description: filters on campaigns
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1ListResponse'
          description: data for the campaigns
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/creatives/{id}:
    delete:
      description: Delete a Creative if there are no ads binded to it
      operationId: DeleteCreative
      parameters:
      - description: The creative identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The creative was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Creative with its id
      operationId: GetCreative
      parameters:
      - description: The creative identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The found creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Creative
      operationId: EditCreative
      parameters:
      - description: The creative identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The edited creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/creatives/{id}/preview:
    post:
      description: Get the preview of a specific Creative
      operationId: GenerateCreativePreview
      parameters:
      - description: The height of the Creative to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The Creative identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the Creative to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: The preview HTML of a specific Creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      tags:
      - Creative
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers:
    get:
      description: Get the collection of advertisers associated with the user.
      operationId: GetMarketplaceAdvertisers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdvertiserInfoMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}:
    get:
      description: Get an advertiser.
      operationId: GetMarketplaceAdvertiser
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserInfoMessage'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/ad-preview:
    get:
      description: "Get a preview of an HTML ad with products belonging to the provided\
        \ seller\r\n• <b>advertiserId</b>: Valid crp advertiserId, seller belongs\
        \ to provided advertiser<br />\r\n• <b>sellerId</b>: Products from given SellerId\
        \ will fill the ad preview, must be existing crp sellerId<br />\r\n• <b>height</b>:\
        \ height may be supplied to request a specific ad preview height. Default\
        \ height: 250<br />\r\n• <b>width</b>: width may be supplied to request a\
        \ specific ad preview width. Default width: 300<br />\r\n            \r\n\
        Ad preview api calls are capped to 1000 per day per advertiser by default.\
        \ Current usage, limit, and period can be found using v2/crp/advertisers/preview-limit"
      operationId: GetMarketplaceSellerAdPreview
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Seller CampaignId
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Height of the ad to display
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Id of the seller
        explode: true
        in: query
        name: sellerId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Width of the ad to display
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/adsets:
    get:
      description: Get the collection of adsets associated with the advertiserId.
      operationId: GetMarketplaceAdSetsByAdvertiser
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdvertiserAdsetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/budgets:
    get:
      description: Get CRP budgets for a specific advertiser
      operationId: GetMarketplaceBudgetsByAdvertiser
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Return only budgets with given Id
        explode: true
        in: query
        name: budgetId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Return budgets that end after the given date using the `yyyy-MM-DD`\
          \ format.\r\n            If param is not provided, default behavior is to\
          \ only return budgets that have not yet ended."
        explode: true
        in: query
        name: endAfterDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets belonging to given sellerId
        explode: true
        in: query
        name: sellerId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Return budgets that start on or before the given date using the
          `yyyy-MM-DD` format.
        explode: true
        in: query
        name: startBeforeDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only budgets with the given budget type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: withBalance
        required: false
        schema:
          type: boolean
        style: form
      - description: Return budgets with any positive spend.
        explode: true
        in: query
        name: withSpend
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/campaigns:
    get:
      description: Get the collection of CRP campaigns associated with the advertiserId.
      operationId: GetMarketplaceCampaignsByAdvertiser
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdvertiserCampaignMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/seller-campaigns:
    get:
      description: Get CRP seller campaigns for a specific advertiser
      operationId: GetMarketplaceSellerCampaignsByAdvertiser
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/sellers:
    post:
      description: Create new sellers for an advertiser
      operationId: GetMarketplaceSellersByAdvertiser
      parameters:
      - description: Id of the advertiser
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the partner
        explode: true
        in: query
        name: partnerId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: Names of the sellers to associate with new Ids
        x-bodyName: sellerNames
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBase'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/preview-limit:
    get:
      description: Get the collection of advertisers preview limits associated with
        the authorized user.
      operationId: GetMarketplaceAdvertiserPreviewLimits
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdvertiserQuotaMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/budgets:
    get:
      description: "Return a collection of budgets filtered by optional filter parameters.\r\
        \nIf all parameters are omitted the entire collection to which the user has\r\
        \naccess is returned, except those whose endDate is in the past. Returned\
        \ budgets must satisfy all supplied filter\r\ncriteria if multiple parameters\
        \ are used.\r\n            \r\n<b>Date filter.</b> Filtering can return only\
        \ budgets that were active for a\r\ndate range by specifying the startBeforeDate\
        \ and endAfterDate. Leaving off the startBeforeDate\r\nvalue makes budgets\
        \ with any startDate qualify, whereas when leaving off the endAfterDate value\
        \ will only return\r\nbudgets whose endDate has not already passed. To get\
        \ budgets that were active\r\non a specific date, set both values to that\
        \ day.\r\n            \r\n<b>Spend.</b> If the endAfterDate is supplied, the\
        \ spend excludes spend that\r\nhappened after that date. In the case of a\
        \ daily budget, only the spend for\r\nthe final day is displayed.\r\n    \
        \        \r\nSee the budgets endpoint for additional details."
      operationId: GetMarketplaceSellerBudgets
      parameters:
      - description: Return only budgets belonging to the specified advertiser
        explode: true
        in: query
        name: advertiserId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only budgets that pay for a given campaign.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Return budgets that end after the given date using the `yyyy-MM-DD`\
          \ format.\r\n             If param is not provided, default behavior is\
          \ to only return budgets that have not yet ended."
        explode: true
        in: query
        name: endAfterDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets belonging to the given seller.
        explode: true
        in: query
        name: sellerId
        required: false
        schema:
          type: string
        style: form
      - description: Return budgets that start on or before the given date using the
          `yyyy-MM-DD` format.
        explode: true
        in: query
        name: startBeforeDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only budgets with the given budget type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: withBalance
        required: false
        schema:
          type: boolean
        style: form
      - description: Return budgets with any positive spend.
        explode: true
        in: query
        name: withSpend
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: "Modify one or more existing active budgets to change their limitations\
        \ or status.\r\nAll three types of budgets can be modified.\r\n          \
        \  \r\nThe following constraints apply when modifying an existing budget.\r\
        \n            \r\n• <b>campaignIds</b>: a non-empty subset of the original\
        \ campaign ids MAY be supplied<br />\r\n• <b>amount</b>: an amount MAY be\
        \ supplied only if the type is not Uncapped and if supplied it MUST be non-negative<br\
        \ />\r\n• <b>startDate</b>: a future start date MAY be supplied for budgets\
        \ that have not yet started<br />\r\n• <b>endDate</b>: an end date MAY be\
        \ supplied and if supplied MUST be a future date greater than the start date<br\
        \ />\r\n            \r\nOther attributes MUST NOT be supplied.\r\n       \
        \     \r\nAdding new campaigns to a budget is not allowed. In addition, reducing\
        \ the amount for\r\na Capped budget to a value less than the current spend\
        \ not allowed."
      operationId: UpdateMarketplaceSellerBudgets
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/UpdateSellerBudgetMessage'
              type: array
        description: ""
        x-bodyName: updateSellerBudgets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: "Create one or more new budgets to enable spending with the given\
        \ limitations.\r\nAll three types of budgets can be created this way.\r\n\
        \            \r\nThe following constraints apply when creating a new budget.\r\
        \n            \r\n• <b>sellerId</b>: the seller MUST be supplied<br />\r\n\
        • <b>campaignIds</b>: a non-empty array of campaign ids MUST be supplied<br\
        \ />\r\n• <b>budgetType</b>: a budget type MUST be supplied<br />\r\n• <b>amount</b>:\
        \ an amount MAY be supplied only if the type is not Uncapped and if supplied\
        \ it MUST be non-negative<br />\r\n• <b>startDate</b>: a future start date\
        \ MUST be supplied<br />\r\n• <b>endDate</b>: an end date MAY be supplied\
        \ and if supplied MUST be greater than the start date<br />\r\n          \
        \  \r\nOther attributes MUST NOT be supplied."
      operationId: CreateMarketplaceSellerBudgets
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CreateSellerBudgetMapiMessage'
              type: array
        description: ""
        x-bodyName: createSellerBudgets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/budgets/{budgetId}:
    get:
      description: "Return a budget. For example,\r\n            \r\n    {\r\n   \
        \     \"id\": \"1759183\",\r\n        \"sellerId\": \"321392\",\r\n      \
        \  \"campaignIds\": [\r\n            143962\r\n        ],\r\n        \"budgetType\"\
        : \"Capped\",\r\n        \"amount\": 1000,\r\n        \"startDate\": \"2021-01-11\"\
        ,\r\n        \"endDate\": \"2021-01-12\",\r\n        \"spend\": null,\r\n\
        \        \"status\": \"Active\"\r\n    }\r\n            \r\nA budget limits\
        \ the spend of a seller for one or more campaigns.\r\n            \r\nThere\
        \ are three types of budget:<br /><b>Uncapped</b> budgets put no limit on\
        \ the total amount of spend.<br /><b>Capped</b> budgets limit the total spend\
        \ to a fixed amount.<br /><b>Daily</b> budgets limit daily spend to a fixed\
        \ amount.<br />\r\n            \r\nIn addition, budgets can limit the spend\
        \ to a specific range of dates using\r\nthe start and end date attributes.\
        \ Finally a budget must be active to be used.\r\n            \r\n<b>Spend</b>\
        \ approximates the current spend against this budget. There may be a lag\r\
        \nbetween when an ad is clicked and the time it accrues to the spend. Daily\
        \ budgets\r\nshow spend against the most recent day only."
      operationId: GetMarketplaceSellerBudget
      parameters:
      - description: Id of the budget.
        explode: false
        in: path
        name: budgetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerBudgetMessage'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: "Modify an existing active budget to change its limitations or\
        \ status.\r\nAll three types of budgets can be modified.\r\n            \r\
        \nSee the additional restrictions listed in the PATCH budgets endpoint."
      operationId: UpdateMarketplaceSellerBudget
      parameters:
      - description: Id of the budget
        explode: false
        in: path
        name: budgetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSellerBudgetMessageBase'
        description: ""
        x-bodyName: message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerBudgetMessage'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns:
    get:
      description: "Return a collection of seller campaigns filtered by optional filter\
        \ parameters.\r\nIf all parameters are omitted the entire collection to which\
        \ the user has\r\naccess is returned. Returned sellers must satisfy all supplied\
        \ filter\r\ncriteria if multiple parameters are used."
      operationId: GetMarketplaceSellerCampaigns
      parameters:
      - description: Return only seller belonging to the specified advertiser
        explode: true
        in: query
        name: advertiserId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only seller campaigns whose budget has the given status.
        explode: true
        in: query
        name: budgetStatus
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only seller campaigns associated with the given campaign.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only seller campaigns belonging to the given seller.
        explode: true
        in: query
        name: sellerId
        required: false
        schema:
          type: string
        style: form
      - description: Return only seller campaigns for sellers with the given status.
        explode: true
        in: query
        name: sellerStatus
        required: false
        schema:
          enum:
          - Inactive
          - Active
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: "Patching a collection of seller campaigns allows their bids to\
        \ be modified.\r\nEach bid must be a non-negative value. Setting the bid to\
        \ zero will make a seller campaign inactive.\r\n            \r\nThe currency\
        \ used for bids will be the default currency of the campaign."
      operationId: UpdateMarketplaceSellerCampaigns
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SellerCampaignUpdate'
              type: array
        description: ""
        x-bodyName: campaignMessages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}:
    get:
      description: "Return details for a seller campaign. For example,\r\n       \
        \     \r\n    {\r\n        \"id\": \"543210.123456\",\r\n        \"sellerId\"\
        : \"543210\",\r\n        \"campaignId\": 123456,\r\n        \"bid\": 1.55,\r\
        \n        \"suspendedSince\": \"2018-07-30T15:15:24.813\",\r\n        \"suspensionReasons\"\
        : [\r\n            \"NoMoreBudget\"\r\n        ]\r\n    }\r\n            \r\
        \nAn active seller campaign is one for which the value of <b>suspendedSince</b>\
        \ is null and\r\nthe <b>bid</b> is positive. The currency of the bid is the\
        \ <b>bidCurrency</b> of the\r\nassociated campaign.\r\n            \r\nAny\
        \ active seller campaign must also have an active total (capped or uncapped)\
        \ budget.\r\nIt may optionally have an active daily budget as well to further\
        \ limit spending.\r\n            \r\nSuspension reasons:\r\n- ManuallyStopped:\
        \ The Seller-Campaign has been manually paused. This is not related to the\
        \ other suspension reasons.\r\n- NoBudgetDefined: No valid budget has been\
        \ linked to the Seller-Campaign.\r\n- NoCpcDefined: No CPC has been set for\
        \ the Seller-Campaign.\r\n- NoMoreBudget: The current budget of the Seller-Campaign\
        \ has been exhausted.\r\n- RemovedFromCatalog: All the products of the Seller-Campaign\
        \ have been deleted from the catalog.\r\n- NotYetStarted: The Seller-Campaign\
        \ has just been created and has not yet been processed."
      operationId: GetMarketplaceSellerCampaign
      parameters:
      - description: Id of the seller campaign.
        explode: false
        in: path
        name: sellerCampaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: "Patching a seller campaign allows the bid to be modified. The\
        \ bid must be a non-negative value.\r\nSetting the bid to zero will make a\
        \ seller campaign inactive.\r\n            \r\nThe currency used for bids\
        \ will be the default currency of the campaign."
      operationId: UpdateMarketplaceSellerCampaign
      parameters:
      - description: The new bid for the seller campaign.
        explode: true
        in: query
        name: bid
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Id of the existing seller campaign to update
        explode: false
        in: path
        name: sellerCampaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerCampaignMessage'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}/budgets:
    get:
      description: "Return a collection of budgets for this seller campaign filtered\
        \ by optional filter parameters.\r\nIf all parameters are omitted the entire\
        \ collection to which the user has\r\naccess is returned, except those whose\
        \ endDate is in the past. Returned budgets must satisfy all supplied filter\r\
        \ncriteria if multiple parameters are used.\r\n            \r\nSee the budgets\
        \ endpoint for additional details."
      operationId: GetMarketplaceBudgetsBySellerCampaign
      parameters:
      - description: "Return budgets that end after the given date using the `yyyy-MM-DD`\
          \ format.\r\n             If param is not provided, default behavior is\
          \ to only return budgets that have not yet ended."
        explode: true
        in: query
        name: endAfterDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets belonging to the given seller campaign.
        explode: false
        in: path
        name: sellerCampaignId
        required: true
        schema:
          type: string
        style: simple
      - description: Return budgets that start on or before the given date using the
          `yyyy-MM-DD` format.
        explode: true
        in: query
        name: startBeforeDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only budgets with the given budget type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Return only budgets with a positive balance.
        explode: true
        in: query
        name: withBalance
        required: false
        schema:
          type: boolean
        style: form
      - description: Return budgets with a positive spend.
        explode: true
        in: query
        name: withSpend
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/sellers:
    get:
      description: "Return a collection of sellers filtered by optional filter parameters.\r\
        \nIf all parameters are omitted the entire collection to which the user has\r\
        \naccess is returned. Returned sellers must satisfy all supplied filter\r\n\
        criteria if multiple parameters are used."
      operationId: GetMarketplaceSellers
      parameters:
      - description: Return only sellers belonging to the specified advertiser
        explode: true
        in: query
        name: advertiserId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only sellers belonging to the specified campaign
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only sellers with the matching name.
        explode: true
        in: query
        name: sellerName
        required: false
        schema:
          type: string
        style: form
      - description: Return only sellers with specific status.
        explode: true
        in: query
        name: sellerStatus
        required: false
        schema:
          enum:
          - Inactive
          - Active
          type: string
        style: form
      - description: Return only sellers with specific budget status.
        explode: true
        in: query
        name: withBudgetStatus
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only sellers with or without products in catalog.
        explode: true
        in: query
        name: withProducts
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBase'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}:
    get:
      description: "Return details for the selected seller. For example,\r\n     \
        \       \r\n    {\r\n        \"id\" : \"123456\"\r\n        \"sellerName\"\
        : \"HBogart\",\r\n    }"
      operationId: GetMarketplaceSeller
      parameters:
      - description: Id of the seller.
        explode: false
        in: path
        name: sellerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerBase'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/budgets:
    get:
      description: "Return a collection of budgets for this seller filtered by optional\
        \ filter parameters.\r\nIf all parameters are omitted the entire collection\
        \ to which the user has\r\naccess is returned, except those whose endDate\
        \ is in the past. Returned budgets must satisfy all supplied filter\r\ncriteria\
        \ if multiple parameters are used. See the budgets endpoint for additional\
        \ details."
      operationId: GetMarketplaceBudgetsBySeller
      parameters:
      - description: Return only budgets that pay for a given campaign.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Return budgets that end after the given date using the `yyyy-MM-DD`\
          \ format.\r\n            If param is not provided, default behavior is to\
          \ only return budgets that have not yet ended."
        explode: true
        in: query
        name: endAfterDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets belonging to the given seller.
        explode: false
        in: path
        name: sellerId
        required: true
        schema:
          type: string
        style: simple
      - description: Return budgets that start on or before the given date using the
          `yyyy-MM-DD` format.
        explode: true
        in: query
        name: startBeforeDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only budgets with the given budget type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Return only budgets with the given status.
        explode: true
        in: query
        name: withBalance
        required: false
        schema:
          type: boolean
        style: form
      - description: Return budgets with any positive spend.
        explode: true
        in: query
        name: withSpend
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/seller-campaigns:
    get:
      description: "Return a collection of seller campaigns for this seller filtered\
        \ by optional filter parameters.\r\nIf all parameters are omitted the entire\
        \ collection to which the user has\r\naccess is returned. Returned sellers\
        \ must satisfy all supplied filter\r\ncriteria if multiple parameters are\
        \ used. See the seller campaigns endpoint for additional details."
      operationId: GetMarketplaceSellerCampaignsBySeller
      parameters:
      - description: Return only seller campaigns whose budget has the given status.
        explode: true
        in: query
        name: budgetStatus
        required: false
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
        style: form
      - description: Return only seller campaigns associated with the given campaign.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only seller campaigns belonging to the given seller.
        explode: false
        in: path
        name: sellerId
        required: true
        schema:
          type: string
        style: simple
      - description: Return only seller campaigns for sellers with the given status.
        explode: true
        in: query
        name: sellerStatus
        required: false
        schema:
          enum:
          - Inactive
          - Active
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
                type: array
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: ""
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Associate an existing Seller with an existing Campaign allowing
        for budget creation
      operationId: CreateMarketplaceSellerCampaignsBySeller
      parameters:
      - description: Supply a generated Id of an existing Seller
        explode: false
        in: path
        name: sellerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSellerCampaignMessageMapi'
        description: Supply the campaign Id and bid to create the mapping
        x-bodyName: sellerCampaign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerCampaignMessage'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: ""
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-07/marketing-solutions/marketplace-performance-outcomes/stats/campaigns:
    get:
      description: "## Dimensions\r\n            \r\nGet performance statistics aggregated\
        \ for _campaigns_. The campaign id appears\r\nin the output as the first column.\r\
        \n            \r\nAggregation can be done by `hour`, `day`, `month`, or `year`\
        \ aligned with the user timezone\r\nif provided. The aggregation interval\
        \ size is controlled by `intervalSize`. The time\r\ninterval appears in the\
        \ output as the second column.\r\n            \r\n## Metrics\r\n         \
        \   \r\nThe metrics reported by this endpoint are\r\n            \r\n.  |\
        \ Metric Group | Description\r\n---|--------------|------------\r\nA | impressions\
        \ | Number of times product is shown in a banner\r\nB | clicks | Number of\
        \ clicks on product\r\nC | cost | Amount spent for clicks on products\r\n\
        D | saleUnits | Number of products sold attributed to clicks\r\nE | revenue\
        \ | Revenue generated by sales\r\nF | CR = Conversion Rate | salesUnits /\
        \ clicks\r\nG | CPO = Cost Per Order | cost / salesUnits\r\nH | COS = Cost\
        \ of Sale | cost / revenue\r\nI | ROAS = Return On Add Spend | revenue / cost\r\
        \n            \r\nThe last six metrics can be computed in two ways depending\
        \ on the policy to count only\r\nthe sales that result from clicks on the\
        \ same sellers product in a banner\r\n(same-seller) or not (any-seller). \
        \ Reporting can be controlled by `clickAttributionPolicy`.\r\n           \
        \ \r\nThe 9 (or 15) metric values appear in the output as the final 9 (or\
        \ 15) columns.\r\n            \r\n## Filtering\r\n            \r\nThe results\
        \ can be filtered by campaign, date or count.\r\n            \r\nFiltering\
        \ the results to events associated with a specific campaign is done by setting\r\
        \nthe `campaignId` filter parameter to the desired value.\r\n            \r\
        \nFiltering the results to events\r\nthat happened in a time interval is done\
        \ by setting the `startDate` and\r\n`endDate` filter parameters using the\
        \ `yyyy-MM-DD` format. The start date\r\nincludes all events timestamped since\
        \ the beginning of that day while the end\r\ndate includes events until the\
        \ end of day. The maximum duration of the date\r\nrange is 1 year. If the\
        \ aggregation interval is `hour`, then the maximum\r\nduration of the date\
        \ range is 31 days. Note that month and year aggregate values\r\nmay contain\
        \ partial data for the interval if filtering by date.\r\n            \r\n\
        Filtering the results to a maximum number of data rows is done by setting\
        \ the\r\n`count` filter parameter. When combined with startDate this can be\
        \ used to perform\r\nsimple pagination.\r\n            \r\n## Response Format\r\
        \n            \r\nThe representation format can be specified by MIME values\
[...]
