openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: Preview
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /preview/retail-media/accounts/{accountId}/grant-consent:
    post:
      description: Grant consent to a business application on behalf of a Private
        Market demand account
      operationId: GrantConsent
      parameters:
      - description: The demand account ID on which to grant consent
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          application/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          text/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
        x-bodyName: grantConsentInput
      responses:
        "204":
          description: Success
      summary: ""
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove:
    post:
      description: "Add/remove identifiers to or from a retail-media contact list\
        \ audience-segment, with external audience segment id."
      operationId: updateContactListIdentifiers
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: AddRemoveContactlistResult
                  attributes:
                    contactListId: 568708742535471104
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers'
              schema:
                $ref: '#/components/schemas/RetailMediaContactlistOperation'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings: []
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/audience-segments/{audience-segment-id}/contact-list/clear:
    post:
      description: "Delete all identifiers from a retail-media contact list audience-segment,\
        \ with external audience segment id."
      operationId: DeleteContactListIdentifiers
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Contact List identifiers were deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings: []
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
  /preview/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /preview/retail-media/chatbot-catalogs/{catalogid}/product-recommendations:
    post:
      description: Ask a chatbot for a product recommendation
      operationId: chatbotProductRecommendations
      parameters:
      - description: the identifier of the catalog to query
        explode: false
        in: path
        name: catalogid
        required: true
        schema:
          description: the identifier of the catalog to query
          title: catalogid
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InbotDiscussionBodyModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBodyModel'
          description: Successful Response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpValidationError'
          description: Validation Error
      tags:
      - OnSiteRecommendation
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalog/products/batch:
    post:
      description: |-
        Used to publish a batch of operations to insert, update and deletes products.
         The batch is processed asynchronously.The response provides an operationToken which can be used to track
         the status of the report of the operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"required-field\"),(type=\"validation\", code=\"required-field\"\
            ),(type=\"validation\", code=\"json-format\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "413":
          content:
            application/json: {}
          description: "Request too large. By default, payload up to 16 MB is rejected."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Too Many Requests. Allowed error types and errors: [(type=\"\
            availability\", code=\"too-many-requests\")]"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-token-is-malformed\"),(type=\"validation\"\
            , code=\"catalog-operation-report-is-expired\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Not Found. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-not-found\")]"
        "429":
          content:
            application/json: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-accepts: application/json
  /preview/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      description: Gets page of private market child accounts that are associated
        with the given account
      operationId: ExternalApiAccounts_GetApiExternalV1AccountPrivateMarketChildAccountsByAccountId
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The (zero-based) offset into the collection of accounts. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The number of accounts to be returned. The default is 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailMediaChildAccount'
          description: Success
      tags:
      - Accounts
      x-source-method: ExternalApiAccounts_GetPrivateMarketChildDemandAccountsV1
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns the full segments. For those that cannot be updated, one or\
        \ multiple errors are returned."
      operationId: bulkUpdateAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns the\
        \ full segments. For those that cannot be created, one or multiple errors\
        \ are returned."
      operationId: bulkCreateAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/delete:
    post:
      description: Delete the segments associated to the given audience IDs.
      operationId: bulkDeleteAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Segment Id.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/cpc-min-bids:
    post:
      description: Get overall and individual minimum bid amount for given retailer
        id and sku id list.
      operationId: GetCpcMinBidsBySkuIdsV1
      parameters:
      - description: Retailer Id.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCpcMinBidsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCpcMinBidsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCpcMinBidsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCpcMinBidsRequest'
        description: Cpc minimum bid amount request object.
        x-bodyName: cpcMinBidsRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeCpcMinBidsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeCpcMinBidsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeCpcMinBidsResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/products:
    get:
      description: Retrieve a page of promoted products for a line item
      operationId: FetchPromotedProducts
      parameters:
      - description: ID of the line item.
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Offset of the first item to fetch. Defaults to zero.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Maximum page size to fetch. Defaults to 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "A comma separated list of attribute names from the response\
          \ model to compute and return.\r\n            Valid values are `status`\
          \ and `bidOverride` in any order. Defaults to `status`."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProductResourceCollectionOutcome'
          description: Promoted products associated with the line item
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/products/append:
    post:
      description: Append a collection of promoted products to a line item
      operationId: AppendPromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products appended to the line item
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/products/delete:
    post:
      description: Remove a collection of promoted products from a line item
      operationId: DeletePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products removed from the line item
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/products/pause:
    post:
      description: Pause a collection of promoted products associated with a line
        item
      operationId: PausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products paused
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      description: Un-pause a collection of promoted products associated with a line
        item
      operationId: UnpausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products un-paused
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/catalogs/sellers:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiV1ExternalAccountCatalogsSellersByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfSellerCatalogRequest'
        x-bodyName: body
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-retrieval:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuRetrievalApi_PostApiV1ExternalCatalogsSkuRetrieval
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
                x-nullable: false
              type: array
              uniqueItems: false
              x-nullable: false
        description: The list of SKU keys to retrieve sku information
        x-nullable: false
        x-bodyName: skuKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearch
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestPreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search/accounts/{account-id}/retailers/{retailer-id}:
    post:
      description: "Endpoint to search skus by text, account and retailer with an\
        \ option to filter by brands id's."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchAccountIdAndRetailerId
      parameters:
      - description: The account for which skus should be searched for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimPreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku/search/retailers/{retailer-id}:
    post:
      description: Endpoint to search skus by text for a retailer with an option to
        filter by brands id's.
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchRetailerByRetailerId
      parameters:
      - description: The account id of the initiator of the call.
        explode: false
        in: header
        name: X-Origin-Account
        required: false
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: "The maximum number of results to return with each call. Must\
          \ be greater than zero and less than 1500. 10,000 records deep is the max\
          \ limit."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimV2PreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataV2ListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/cpc-rates:
    get:
      description: "Gets the minimum cpc bid for the retailer, and optionally the\
        \ categories under the retailer"
      operationId: RetailerApi_GetApiV1ExternalRetailerCategoryCpcRatesByRetailerId
      parameters:
      - description: The retailer id
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The fields in the response that is to be included
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpcRateCardPreviewResponse'
          description: bids found
        "403":
          content:
            application/json: {}
          description: forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/placements:
    get:
      description: Gets all placement information for the given retailer
      operationId: RetailerApi_GetApiV1ExternalRetailerPlacementsByRetailerId
      parameters:
      - description: The retailer id for which placements should be fetched.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementPreviewListResponse'
          description: placements records.
        "403":
          content:
            application/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/brands:
    get:
      description: Gets the brands for the given retailer
      operationId: RetailerApi_GetApiV1ExternalRetailerBrandsByRetailerId
      parameters:
      - description: The retailer id for which brands should be fetched.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: "Filter to narrow down brands [first-party|third-party|first-and-third-party].\
          \ Defaults to first-and-third-party"
        explode: true
        in: query
        name: sku-stock-type-filter
        required: false
        schema:
          enum:
          - first-party
          - third-party
          - first-and-third-party
          type: string
        style: form
        x-nullable: false
      - description: " Filter to narrow down brands [all|uc|retailer]. Defaults to\
          \ uc"
        explode: true
        in: query
        name: brand-type
        required: false
        schema:
          enum:
          - all
          - uc
          - retailer
          type: string
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandPreviewListResponse'
          description: Brands found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/sellers/{seller}:
    get:
      description: Endpoint to get market place seller id and name
      operationId: SellerApi_GetApiV1ExternalRetailerByRetailerIdSellerBySeller
      parameters:
      - description: The retailer id for which seller should be fetched.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: The seller id or seller name which should be validated.
        explode: false
        in: path
        name: seller
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerPreviewResponse'
          description: Seller found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives:
    post:
      description: Create a creative for an account
      operationId: PostApiV2ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel2'
        description: The creative to create
        x-bodyName: creative
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: PostApiV2ExternalAccountCreativesSearchByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creatives to filter by
        explode: true
        in: query
        name: creative-ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: "GetApiV2ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: "PutApiV2ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel2'
        description: The creative to create
        x-bodyName: creative
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Success
        "204":
          description: Creative updated
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/reports/accounts:
    post:
      description: |-
        Returns an asynchronous Accounts Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncAccountsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/campaigns:
    post:
      description: |-
        Return an asynchronous Campaigns Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncCampaignsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/line-items:
    post:
      description: |-
        Returns an asynchronous Line Items Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/attributed-transactions:
    post:
      description: Returns a synchronous Attributed Transactions Report
      operationId: GenerateSyncAttributedTransactionsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/campaigns:
    post:
      description: Returns a synchronous Campaigns Report
      operationId: GenerateSyncCampaignsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/line-items:
    post:
      description: Returns a synchronous Line Items Report
      operationId: GenerateSyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/{reportId}/output:
    get:
      description: Returns the output of an async report
      operationId: GetAsyncExportOutput
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /preview/retail-media/reports/{reportId}/status:
    get:
      description: Returns the status of an async report
      operationId: GetAsyncExportStatus
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /preview/retail-media/accounts/sellers/search:
    post:
      description: Get the sellers mapped to provided accounts
      operationId: SearchSellers
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
        description: ""
        x-bodyName: searchDetails
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/balances/{balanceId}/history:
    get:
      description: Gets the balance's historical change data.
      operationId: GetBalanceHistory
      parameters:
      - description: Balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfBalanceHistoryChangeDataCaptureV1'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
  /preview/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetRecommendedKeywords
      parameters:
      - description: The external line item identifier
        explode: false
        in: path
        name: externalLineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRecommendedKeywordsResult'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/balances:
    get:
      description: Gets page of balance objects for the given account id
      operationId: GetApiV2ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
            text/json:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    post:
      description: Create balance for the given account id
      operationId: PostApiV2ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to create balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceV2Request'
        description: An object that represents the available options to set when creating
          a Retail Media Balance
        required: true
        x-nullable: false
        x-bodyName: createBalance
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/balances/{balance-id}:
    get:
      description: Get a balance for the given account id and balance id
      operationId: "GetApiV2ExternalAccountByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance id
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    patch:
      description: Modify a balance for the given account id
      operationId: "PatchApiV2ExternalAccountByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceModelV2Request'
        description: An object that represents the available options to modify a balance.
        required: true
        x-nullable: false
        x-bodyName: updateBalanceModel
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/balances/{balance-id}/change-dates:
    post:
      description: Change dates of a balance for the given account id
      operationId: "PostApiV2ExternalAccountChangeDatesByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDatesOfBalanceV2Request'
        description: An object that represents the available options to modify schedule
          of a balance.
        required: true
        x-nullable: false
        x-bodyName: changeDatesOfBalance
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: GetApiV2ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: LineItemsApi_PostApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      description: Fetch all bid multipliers for a given line item
      operationId: GetApiV2ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: External LineItemId for bid multiplier retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliersV2'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliersV2'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliersV2'
          description: BidMultipliers Found
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the bid multipliers for a given line item
      operationId: PutApiV2ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: External LineItemId for bid multiplier retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersV2Request'
        description: New Bid Multipliers to be set
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersV2Response'
          description: BidMultipliers Updated
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons:
    get:
      description: Get all the product buttons associated with a line item
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/create:
    post:
      description: Append new product buttons to a line item
      operationId: ProductButtons_PostApi202210ExternalLineItemProductButtonsCreateByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonListRequest'
        description: List of product buttons to append to the specified line item
        x-nullable: false
        x-bodyName: productButtons
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}:
    delete:
      description: Delete a product button
      operationId: ProductButtons_DeleteApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    get:
      description: Get a single product button
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a product button
      operationId: ProductButtons_PutApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonRequest'
        description: Details of the updated product button
        x-nullable: false
        x-bodyName: productButton
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: GetApiV2ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: LineItemsApi_PutApi202110ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/brands/search:
    post:
      description: Search for brands given a retailer ID and search term.
      operationId: SearchBrandsByNameAsyncV1
      parameters:
      - description: offset of paginated results
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: the number of brands to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
          application/*+json:
            schema:
[...]
