openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: preview
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /preview/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /preview/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: AccountsApi_GetApiV1ExternalAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/retailers:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountRetailersByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/audiences:
    get:
      description: Get a page of audiences for a given account ID
      operationId: AudienceApi_GetAudiencesByAccountId
      parameters:
      - description: External account ID which owns audience.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-example: "68004146450571264"
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-example: 25
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-example: 0
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPageOfAudiencesByAccountIdResponse'
          description: A page of audiences for the supplied account.
        "400":
          content:
            application/json: {}
          description: Missing or invalid account ID.
        "404":
          content:
            application/json: {}
          description: The audience was not found.
        "406":
          content:
            application/json: {}
          description: The Accept header must contain application/json.
        "415":
          content:
            application/json: {}
          description: The Content-Type header must be application/json if present.
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an audience for a given account ID
      operationId: AudienceApi_CreateAudience
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-example: 68004146450571264
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRetailMediaAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRetailMediaAudienceResponse'
          description: The audience that was just created.
        "400":
          content:
            application/json: {}
          description: "Missing or invalid account ID. - OR - Missing or invalid retailerID\
            \ field. - OR - Missing or invalid name field. Name should be less than\
            \ 255 characters. - OR - Missing or invalid userType field. Valid values\
            \ are: 'buy', 'view'. - OR - The retailerTaxonomyIds is not a valid list\
            \ of IDs or may contain more than 100 elements. - OR - Missing or invalid\
            \ lookbackDays field.\_ Valid values are:\_7, 14,\_ 30, 45, 60, 90, 120,\
            \ 150 or 180. - OR - Exactly one of retailerTaxonomyIds or globalBrandIds\
            \ must be specified, but not both. - OR - The retailer is invalid because\
            \ it is not live - OR - The globalBrandIds is not a valid list of IDs\
            \ or may contain more than 100 elements."
        "404":
          content:
            application/json: {}
          description: The audience was not found. - OR - You do not have permission
            to access these global brands.
        "406":
          content:
            application/json: {}
          description: The Accept header must contain application/json.
        "409":
          content:
            application/json: {}
          description: An audience name should be unique per account.
        "415":
          content:
            application/json: {}
          description: The Content-Type header must be application/json if present.
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/v2/accounts/{accountId}/audiences:
    get:
      description: Get a page of audiences for a given account ID
      operationId: GetRetailMediaAudienceV2ListByAccountId
      parameters:
      - description: External account ID which owns audience.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-example: 68004146450571264
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-example: 25
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-example: 0
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaAudienceV2ListResponse'
          description: A page of audiences for the supplied account.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: Missing or invalid account ID. - OR - You do not have permission
            to access this account.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: The Accept header must contain application/json.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: The Content-Type header must be application/json if present.
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an audience for a given account ID
      operationId: CreateRetailMediaAudienceV2
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-example: 68004146450571264
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRetailMediaAudienceV2Request'
        required: true
        x-bodyName: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaAudienceV2Response'
          description: The audience that was just created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: "Missing or invalid retailerID field. - OR - Missing or invalid\
            \ name field. Name should be less than 255 characters. - OR - Missing\
            \ or invalid userType field. Valid values are: 'buyer', 'viewer'. - OR\
            \ - The brandIds is not a valid list of IDs or may contain more than 100\
            \ elements. - OR - The categoryIds is not a valid list of IDs or may contain\
            \ more than 100 elements. - OR - Missing or invalid lookbackWindow field.\
            \ Valid values are: P7D, P14D, P30D, P45D, P60D, P90D, P120D, P150D or\
            \ P180D. - OR - Exactly one of categoryIds or brandIds must be specified,\
            \ but not both. - OR - The retailer is invalid because it is not live\
            \ - OR - Missing or invalid userAction field. Valid values are: 'buy',\
            \ 'view', 'addToCart'."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: Missing or invalid account ID.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: The Accept header must contain application/json.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: An audience name should be unique per account.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonStatusCodeResponse'
          description: The Content-Type header must be application/json if present.
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1KeywordsModelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1KeywordsModelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1KeywordsModelResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the associated line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaExternalv1AddRemoveKeywordsModelRequest'
        description: Object containing keywords to be added or removed
        x-bodyName: keywords
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaExternalv1SetBidsModelRequest'
        description: Object containing a list of bid overrides for associated keywords
        x-bodyName: keywords
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/preferred-deal-line-items/{id}/proposal:
    get:
      description: Fetch the status of a proposal to modify a Preferred Deal Line
        Item.
      operationId: FetchProposal
      parameters:
      - description: The external id of a line item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Server Error
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/preferred-deal-line-items/{id}/proposal/submit:
    post:
      description: Submit a proposal to modify a Preferred Deal Line Item for review.
      operationId: SubmitProposal
      parameters:
      - description: The external id of a line item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Server Error
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives:
    post:
      description: Create a creative for an account
      operationId: CreativesApi_PostApi202210ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        description: The creative to create
        x-nullable: false
        x-bodyName: creative
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creatives created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: CreativesApi_PostApi202210ExternalAccountCreativesSearchByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Creatives to filter by
        explode: true
        in: query
        name: creative-ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: "CreativesApi_GetApi202210ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: "CreativesApi_PutApi202210ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        description: The creative to create
        x-nullable: false
        x-bodyName: creative
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Success
        "204":
          content:
            application/json: {}
          description: Creative updated
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/catalogs:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV0ExternalAccountCatalogsByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequestPreview'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-retrieval:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuRetrievalApi_PostApiV1ExternalCatalogsSkuRetrieval
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
                x-nullable: false
              type: array
              uniqueItems: false
              x-nullable: false
        description: The list of SKU keys to retrieve sku information
        x-nullable: false
        x-bodyName: skuKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearch
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestPreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search/accounts/{account-id}/retailers/{retailer-id}:
    post:
      description: "Endpoint to search skus by text, account and retailer with an\
        \ option to filter by brands id's."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchAccountIdAndRetailerId
      parameters:
      - description: The account for which skus should be searched for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimPreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku/search/retailers/{retailer-id}:
    post:
      description: Endpoint to search skus by text for a retailer with an option to
        filter by brands id's.
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchRetailerByRetailerId
      parameters:
      - description: The account id of the initiator of the call.
        explode: false
        in: header
        name: X-Origin-Account
        required: false
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: "The maximum number of results to return with each call. Must\
          \ be greater than zero and less than 1500. 10,000 records deep is the max\
          \ limit."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimV2PreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataV2ListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/{catalogId}/output:
    get:
      description: "Output the indicated catalog. Catalogs are only available for\
        \ retrieval when their associated status request\r\nis at a Success status.\r\
        \nProduces application/x-json-stream of CatalogProduct json objects."
      operationId: CatalogApi_GetApiV0ExternalCatalogOutputByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/x-json-stream: {}
            application/json: {}
          description: Catalog download initiated.
        "400":
          content:
            application/x-json-stream: {}
            application/json: {}
          description: "The indicated catalog is not available for retrieval, wait\
            \ for a success status."
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: CatalogApi_GetApiV0ExternalCatalogStatusByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/cpc-rates:
    get:
      description: "Gets the minimum cpc bid for the retailer, and optionally the\
        \ categories under the retailer"
      operationId: RetailerApi_GetApiV1ExternalRetailerCategoryCpcRatesByRetailerId
      parameters:
      - description: The retailer id
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The fields in the response that is to be included
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpcRateCardPreviewResponse'
          description: bids found
        "403":
          content:
            application/json: {}
          description: forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/placements:
    get:
      description: Gets all placement information for the given retailer
      operationId: RetailerApi_GetApiV1ExternalRetailerPlacementsByRetailerId
      parameters:
      - description: The retailer id for which placements should be fetched.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementPreviewListResponse'
          description: placements records.
        "403":
          content:
            application/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/templates:
    get:
      description: Get retailer creative templates
      operationId: CreativesApi_GetApi202207ExternalRetailerTemplatesByRetailerId
      parameters:
      - description: External retailer id to retrieve creative templates for
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
          description: Templates found
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/templates/{template-id}:
    get:
      description: Gets the template for the specified retailer id and template id
      operationId: "CreativesApi_GetApi202207ExternalRetailerByRetailerId}Templates{templateId"
      parameters:
      - description: Retailer Id
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: Template Id
        explode: false
        in: path
        name: template-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
          description: Template found for the retailer
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/brands:
    get:
      description: Gets the brands for the given retailer
      operationId: RetailerApi_GetApiV1ExternalRetailerBrandsByRetailerId
      parameters:
      - description: The retailer id for which brands should be fetched.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: "Filter to narrow down brands [first-party|third-party|first-and-third-party].\
          \ Defaults to first-and-third-party"
        explode: true
        in: query
        name: sku-stock-type-filter
        required: false
        schema:
          enum:
          - first-party
          - third-party
          - first-and-third-party
          type: string
        style: form
        x-nullable: false
      - description: " Filter to narrow down brands [all|uc|retailer]. Defaults to\
          \ uc"
        explode: true
        in: query
        name: brand-type
        required: false
        schema:
          enum:
          - all
          - uc
          - retailer
          type: string
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandPreviewListResponse'
          description: Brands found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/sellers/{seller}:
    get:
      description: Endpoint to get market place seller id and name
      operationId: SellerApi_GetApiV1ExternalRetailerByRetailerIdSellerBySeller
      parameters:
      - description: The retailer id for which seller should be fetched.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: The seller id or seller name which should be validated.
        explode: false
        in: path
        name: seller
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerPreviewResponse'
          description: Seller found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/reports/campaigns:
    post:
      description: Return an async Campaign Report
      operationId: GenerateAsyncCampaignReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/line-items:
    post:
      description: Return an async Line Item Report
      operationId: GenerateAsyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/revenue:
    post:
      description: Return an async Revenue Report
      operationId: GenerateAsyncRevenueReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/attributed-transactions:
    post:
      description: Return an Attributed Transactions Report
      operationId: GenerateAttributedTransactionsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributedTransactionReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AttributedTransactionReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AttributedTransactionReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/reports/sync/campaigns:
    post:
      description: Return a Campaign Report
      operationId: GenerateCampaignReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CampaignReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CampaignReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/reports/sync/line-items:
    post:
      description: Return a Line Item Report
      operationId: GenerateLineItemsReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/LineItemReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LineItemReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/reports/{reportId}/output:
    get:
      description: Return the output of an async report
      operationId: GetAsyncExportOutput
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /preview/retail-media/reports/{reportId}/status:
    get:
      description: Return the status of an async report
      operationId: GetAsyncExportStatus
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /preview/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      description: Get current campaign budget overrides by given external campaign
        id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/catalogs/sku/search/accounts/{accountId}/retailers/{retailerId}/by-id:
    post:
      description: Gets a list of SKUs based on a privided list of Product Ids
      operationId: GetSkuByProductId
      parameters:
      - description: account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: retailer id
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "skip a number of matches before retrning results, used with\
          \ limit"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: max number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfSkuSearchResult'
          description: Success
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetSuggestedKeywords
      parameters:
      - description: The external line item identifier
        explode: false
        in: path
        name: externalLineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfSuggestedKeywordsResult'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/balances:
    get:
      description: Get page of balances for the given accountId.
      operationId: Balances_GetApiV1ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get page of balances for
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponsePagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Create balance for the given account id
      operationId: Balances_PostApiV1ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to create balances for
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceRequest'
        x-nullable: false
        x-bodyName: createBalance
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/balances/{balanceId}:
    get:
      description: Get a balance for the given account id and balance id
      operationId: Balances_GetApiV1ExternalAccountByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance id
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Modify a balance for the given account id
      operationId: Balances_PatchApiV1ExternalAccountByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to change the dates
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceModelRequest'
        x-nullable: false
        x-bodyName: updateBalanceModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/balances/{balanceId}/add-funds:
    post:
      description: Add funds to a balance for the given account id
      operationId: Balances_PostApiV1ExternalAccountAddFundsByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to add funds to
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFundsToBalanceRequest'
        x-nullable: false
        x-bodyName: addFundsToBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/balances/{balanceId}/change-dates:
    post:
      description: Change dates of a balance for the given account id
      operationId: Balances_PostApiV1ExternalAccountChangeDatesByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to change the dates
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDatesOfBalanceRequest'
        x-nullable: false
        x-bodyName: changeDatesOfBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      description: Get bid multipliers by line item
      operationId: LineItems_GetApi202301ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Replace bid multipliers on a line item
      operationId: LineItems_PutApi202301ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons:
    get:
      description: Get all the product buttons associated with a line item
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/create:
    post:
      description: Append new product buttons to a line item
      operationId: ProductButtons_PostApi202210ExternalLineItemProductButtonsCreateByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonListRequest'
        description: List of product buttons to append to the specified line item
        x-nullable: false
        x-bodyName: productButtons
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}:
    delete:
      description: Delete a product button
      operationId: ProductButtons_DeleteApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    get:
      description: Get a single product button
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a product button
      operationId: ProductButtons_PutApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonRequest'
        description: Details of the updated product button
        x-nullable: false
        x-bodyName: productButton
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    ApplicationSummaryModelResponse:
      description: Response of ApplicationSummaryModel
      example:
        data:
          attributes:
            organizationId: 6
            name: name
            description: description
            criteoService: criteoService
            applicationId: 0
          type: type
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      description: A class that represents a ValueType in a guild compliant way
      example:
        attributes:
          organizationId: 6
          name: name
          description: description
          criteoService: criteoService
          applicationId: 0
        type: type
      properties:
        type:
          nullable: true
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceId: traceId
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: The request correlation ID this problem comes from.
          nullable: true
          type: string
        traceIdentifier:
          description: "The request correlation ID this problem comes from. (deprecated,\
            \ use traceId instead)"
          nullable: true
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          nullable: true
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          nullable: true
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          nullable: true
          type: string
        title:
          description: A short human-readable description of the problem type
          nullable: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          nullable: true
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          nullable: true
          type: object
        stackTrace:
          nullable: true
          type: string
      type: object
    ApplicationSummaryModel:
      description: Model of ApplicationSummary
      example:
        organizationId: 6
        name: name
        description: description
        criteoService: criteoService
        applicationId: 0
      properties:
        applicationId:
          format: int32
          nullable: true
          type: integer
        name:
          nullable: true
          type: string
        organizationId:
          format: int32
          nullable: true
          type: integer
        description:
          nullable: true
          type: string
        criteoService:
          nullable: true
          type: string
      type: object
    JsonApiPageResponseOfAccount:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            subtype: unknown
            parentAccountLabel: parentAccountLabel
            name: name
            timeZone: timeZone
            currency: currency
            countries:
            - countries
            - countries
            type: unknown
          id: id
          type: type
        - attributes:
            subtype: unknown
            parentAccountLabel: parentAccountLabel
            name: name
            timeZone: timeZone
            currency: currency
            countries:
            - countries
            - countries
            type: unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndAccountAndAccount'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfBrand:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            name: name
          id: id
          type: type
        - attributes:
            name: name
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndBrandAndBrand'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfRetailer:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            name: name
            campaignEligibilities:
            - unknown
            - unknown
          id: id
          type: type
        - attributes:
            name: name
            campaignEligibilities:
            - unknown
            - unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndRetailerAndRetailer'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    PageMetadata:
      description: Metadata related to the current request
      example:
        currentPageSize: 6
        previousPage: previousPage
        nextPage: nextPage
        totalPages: 5
        totalItemsAcrossAllPages: 0
        currentPageIndex: 1
      properties:
        totalItemsAcrossAllPages:
          format: int64
          nullable: true
          type: integer
          x-nullable: true
        currentPageSize:
          format: int32
          type: integer
          x-nullable: false
        currentPageIndex:
          format: int32
          type: integer
          x-nullable: false
        totalPages:
          format: int64
          nullable: true
          type: integer
          x-nullable: true
        nextPage:
          type: string
          x-nullable: false
        previousPage:
          type: string
          x-nullable: false
      required:
      - currentPageIndex
      - currentPageSize
      type: object
      x-nullable: false
    CommonError:
      description: A JSON:API Common error structure
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
          x-nullable: false
        type:
          description: (REQUIRED) The classification of the error.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          x-nullable: false
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kabab-case."
          type: string
          x-nullable: false
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem.
          type: string
          x-nullable: false
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type."
          type: string
          x-nullable: false
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem.
          type: string
          x-nullable: false
        source:
          additionalProperties:
            type: string
            x-nullable: false
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
          x-nullable: false
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          type: string
          x-nullable: false
      type: object
      x-nullable: false
    CommonWarning:
      description: A JSON:API Base common warning
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
          x-nullable: false
        type:
          description: (REQUIRED) The classification of the error.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          x-nullable: false
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kabab-case."
          type: string
          x-nullable: false
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem.
          type: string
          x-nullable: false
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type."
          type: string
          x-nullable: false
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem.
          type: string
          x-nullable: false
        source:
          additionalProperties:
            type: string
            x-nullable: false
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
          x-nullable: false
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          type: string
          x-nullable: false
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndAccountAndAccount:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          subtype: unknown
          parentAccountLabel: parentAccountLabel
          name: name
          timeZone: timeZone
          currency: currency
          countries:
          - countries
          - countries
          type: unknown
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalAccount'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndBrandAndBrand:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          name: name
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalBrand'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndRetailerAndRetailer:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          name: name
          campaignEligibilities:
          - unknown
          - unknown
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalRetailer'
      required:
      - id
      - type
      type: object
      x-nullable: false
    ExternalAccount:
      description: A Retail Media Account used to launch campaigns and line items
      example:
        subtype: unknown
        parentAccountLabel: parentAccountLabel
        name: name
        timeZone: timeZone
        currency: currency
        countries:
        - countries
        - countries
        type: unknown
      properties:
        name:
          maxLength: 510
          minLength: 0
          type: string
          x-nullable: false
        type:
          enum:
          - unknown
          - supply
          - demand
          type: string
          x-nullable: false
        subtype:
          enum:
          - unknown
          - brand
          - seller
          nullable: true
          type: string
          x-nullable: true
        countries:
          items:
            type: string
            x-nullable: false
          type: array
          x-nullable: false
        currency:
          type: string
          x-nullable: false
        parentAccountLabel:
          maxLength: 510
          minLength: 0
          type: string
          x-nullable: false
        timeZone:
          type: string
          x-nullable: false
      required:
      - countries
      - currency
      - name
      - parentAccountLabel
      - timeZone
      - type
      type: object
      x-nullable: false
    ExternalBrand:
      description: A Retail Media Brand used to represent a collection of products
        sold under the same umbrella name
      example:
        name: name
      properties:
        name:
          maxLength: 120
          minLength: 0
          type: string
          x-nullable: false
      required:
      - name
      type: object
      x-nullable: false
    ExternalRetailer:
      description: A Retail Media Retailer used to represent a selection of products
        from multiple brands
      example:
        name: name
        campaignEligibilities:
        - unknown
        - unknown
      properties:
        name:
          maxLength: 100
          type: string
          x-nullable: false
        campaignEligibilities:
          items:
            enum:
            - unknown
            - auction
            - preferred
            type: string
            x-nullable: false
          type: array
          x-nullable: false
      required:
      - name
      type: object
      x-nullable: false
    GetPageOfAudiencesByAccountIdResponse:
      description: Response for page of audiences by given account
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            customerListDetails:
              size: "34212"
            name: Test audience
            retailerId: "68004146450571264"
            userBehaviorDetails:
              targetIds:
              - targetIds
              - targetIds
              targetType: category
              userType: viewer
              lookbackWindow: P7D
          id: "314159"
          audienceType: customerList
          type: RetailMediaAudienceSummary
        - attributes:
            customerListDetails:
              size: "34212"
            name: Test audience
            retailerId: "68004146450571264"
            userBehaviorDetails:
              targetIds:
              - targetIds
              - targetIds
              targetType: category
              userType: viewer
              lookbackWindow: P7D
          id: "314159"
          audienceType: customerList
          type: RetailMediaAudienceSummary
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          description: data
[...]
