openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: Preview
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Accounts
- name: Analytics
- name: Audience
- name: Balance
- name: Billing
- name: Campaign
- name: Catalog
- name: Gateway
- name: OnSiteRecommendation
paths:
  /preview/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      description: Gets page of private market child accounts that are associated
        with the given account
      operationId: ExternalApiAccounts_GetApiExternalV1AccountPrivateMarketChildAccountsByAccountId
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of accounts to be returned. The default is 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of accounts. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata'
          description: Success
      tags:
      - Accounts
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns the full segments. For those that cannot be updated, one or\
        \ multiple errors are returned."
      operationId: bulkUpdateAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Segment Id.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/compute-sizes:
    post:
      description: Gets the size of all segments. An error is returned for those whose
        size calculation is not supported.
      operationId: computeAudienceSegmentsSizes
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentComputeSizesInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentComputeSizesInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentComputeSizesInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns the\
        \ full segments. For those that cannot be created, one or multiple errors\
        \ are returned."
      operationId: bulkCreateAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/delete:
    post:
      description: Delete the segments associated to the given IDs.
      operationId: bulkDeleteAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/estimate-size:
    post:
      description: Gets the size estimation of a non existent segment. An error is
        returned when size calculation is not supported.
      operationId: estimateAudienceSegmentSize
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentEstimateSizeInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentEstimateSizeInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentEstimateSizeInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEstimationV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEstimationV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEstimationV1Response'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences:
    patch:
      description: "Updates the properties of all audiences with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: bulkUpdateAudience
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkUpdateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkUpdateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkUpdateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkUpdateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences/compute-sizes:
    post:
      description: Gets the size of all audiences. An error is returned for those
        whose size calculation is not supported.
      operationId: computeAudiencesSizes
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceComputeSizesInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceComputeSizesInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceComputeSizesInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences/create:
    post:
      description: "Creates all audiences with a valid configuration, and returns\
        \ their IDs. For those that cannot be created, one or multiple errors are\
        \ returned."
      operationId: bulkCreateAudience
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkCreateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkCreateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkCreateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkCreateInputV1'
        description: Audience creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences/delete:
    post:
      description: Deletes the audiences associated to the given IDs.
      operationId: bulkDeleteAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkDeleteInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkDeleteInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkDeleteInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkDeleteInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success
        "204":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences/estimate-size:
    post:
      description: Gets the size estimation of a non existent audience. An error is
        returned when size calculation is not supported.
      operationId: estimateAudienceSize
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceEstimateSizeInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceEstimateSizeInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceEstimateSizeInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEstimationV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEstimationV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEstimationV1Response'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/balances:
    get:
      description: Gets page of balance objects for the given account id
      operationId: GetApiV2ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
            text/json:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    post:
      description: Create balance for the given account id
      operationId: PostApiV2ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to create balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceV2Request'
        description: An object that represents the available options to set when creating
          a Retail Media Balance
        required: true
        x-bodyName: createBalance
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/balances/{balance-id}:
    get:
      description: Get a balance for the given account id and balance id
      operationId: "GetApiV2ExternalAccountByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance id
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    patch:
      description: Modify a balance for the given account id
      operationId: "PatchApiV2ExternalAccountByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceModelV2Request'
        description: An object that represents the available options to modify a balance.
        required: true
        x-bodyName: updateBalanceModel
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/balances/{balance-id}/change-dates:
    post:
      description: Change dates of a balance for the given account id
      operationId: "PostApiV2ExternalAccountChangeDatesByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDatesOfBalanceV2Request'
        description: An object that represents the available options to modify schedule
          of a balance.
        required: true
        x-bodyName: changeDatesOfBalance
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives:
    post:
      description: Create a creative for an account
      operationId: PostApiV2ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel2'
        description: The creative to create
        x-bodyName: creative
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: "GetApiV2ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: "PutApiV2ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel2'
        description: The creative to create
        x-bodyName: creative
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Success
        "204":
          description: Creative updated
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: PostApiV2ExternalAccountCreativesSearchByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creatives to filter by
        explode: true
        in: query
        name: creative-ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{account-id}/keywords/in-review-report:
    get:
      description: Generate a list of reports for line items which contain one or
        more actionable keyword reviews
      operationId: InReviewReportV1
      parameters:
      - description: The account to generate a report for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/brand-catalog-export:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiExternalV2AccountBrandCatalogExportByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfBrandCatalogRequestV2'
        x-bodyName: body
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Catalog request successfully created
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/seller-catalog-export:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiExternalV2AccountSellerCatalogExportByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerCatalogRequestV2'
        x-bodyName: body
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Catalog request successfully created
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/accounts/fees/search:
    post:
      description: Get fees for provided accounts
      parameters:
      - description: "used for paging, number of results returned per request, Maximum\
          \ of 500"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "used for paging, number of records to skip"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomePrivateMarketAccountFeesAndMetadata'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Bad Request
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/fees/update:
    post:
      description: Set fees for provided accounts
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesUpdateRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeAccountFeesUpdateResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeAccountFeesUpdateResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeAccountFeesUpdateResult'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/accounts/sellers/search:
    post:
      description: Get the sellers mapped to provided accounts
      operationId: SearchSellers
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
        description: ""
        x-bodyName: searchDetails
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfSellerSearchResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfSellerSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfSellerSearchResult'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/auction-line-items/{lineItemId}:
    get:
      description: Gets a sponsored product line item by its id.
      operationId: GetAuctionLineItemV2
      parameters:
      - description: The id of the line item
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates a Sponsored Products Line Item given a line item id and
        a request.
      operationId: UpdateAuctionLineItemV2
      parameters:
      - description: The line item ID of the sponsored products line item.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
        description: An update request containing all details of the requested update.
        x-bodyName: sponsoredProductsLineItemUpdateRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove:
    post:
      description: "Add/remove identifiers to or from a retail-media contact list\
        \ audience-segment, with external audience segment id."
      operationId: updateContactListIdentifiers
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                type: AddRemoveContactlistResult
                data:
                  contactListId: 568708742535471104
                  operation: add
                  requestDate: 2018-12-10T10:00:50.0000000+00:00
                  identifierType: madid
                  nbValidIdentifiers: 7343
                  nbInvalidIdentifiers: 13
                  sampleInvalidIdentifiers:
                  - InvalidIdentifier
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers'
              schema:
                $ref: '#/components/schemas/RetailMediaContactlistOperation'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings: []
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/audience-segments/{audience-segment-id}/contact-list/clear:
    post:
      description: "Delete all identifiers from a retail-media contact list audience-segment,\
        \ with external audience segment id."
      operationId: DeleteContactListIdentifiers
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Contact List identifiers were deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings: []
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
  /preview/retail-media/balances/{balanceId}/history:
    get:
      description: Gets the balance's historical change data.
      operationId: GetBalanceHistory
      parameters:
      - description: Balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfBalanceHistoryChangeDataCaptureV1'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
  /preview/retail-media/billing/partner-report:
    post:
      description: Create a Partner Billing Report request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputPartnerBillingReportRequestV1'
        description: Partner Billing Report request object.
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Billing
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/billing/partner-report/{requestId}/output:
    get:
      description: Get the output of an existing Partner Billing Report.
      parameters:
      - description: The id of a Partner Billing Report request.
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/csv:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
          description: Success
        "403":
          content:
            application/csv:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Billing
      x-accepts: application/json
  /preview/retail-media/billing/partner-report/{requestId}/status:
    get:
      description: Get the status of an existing Partner Billing Report.
      parameters:
      - description: The id of a Partner Billing Report request.
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
          description: Success
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Billing
      x-accepts: application/json
  /preview/retail-media/brands/search:
    post:
      description: Search for brands given a retailer ID and search term.
      operationId: SearchBrandsByNameAsyncV1
      parameters:
      - description: the number of brands to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: offset of paginated results
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
        description: BrandIdSearchRequest which contains the request parameters
        x-bodyName: brandIdSearchRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: GetApiV2ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: LineItemsApi_PostApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/campaigns/{campaignId}/auction-line-items:
    get:
      description: Gets a page of sponsored product line items by campaign id.
      operationId: GetAuctionLineItemsByCampaignIdV2
      parameters:
      - description: The id of the campaign
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfSponsoredProductsLineItem'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: CreateAuctionLineItemV2
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SponsoredProductsLineItemCreateRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/SponsoredProductsLineItemCreateRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/SponsoredProductsLineItemCreateRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SponsoredProductsLineItemCreateRequestModel'
        description: The line item settings to create a line item with
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/catalog/products/batch:
    post:
      description: |-
        Used to publish a batch of operations to insert, update and deletes products.
         The batch is processed asynchronously.The response provides an operationToken which can be used to track
         the status of the report of the operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"required-field\"),(type=\"validation\", code=\"required-field\"\
            ),(type=\"validation\", code=\"json-format\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "413":
          content:
            application/json: {}
          description: "Request too large. By default, payload up to 16 MB is rejected."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Too Many Requests. Allowed error types and errors: [(type=\"\
            availability\", code=\"too-many-requests\")]"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-token-is-malformed\"),(type=\"validation\"\
            , code=\"catalog-operation-report-is-expired\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Not Found. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-not-found\")]"
        "429":
          content:
            application/json: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-accepts: application/json
  /preview/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: Catalog_GetApiExternalV2CatalogStatusByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Catalog request found.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-retrieval:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuRetrievalApi_PostApiV1ExternalCatalogsSkuRetrieval
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
              uniqueItems: false
        description: The list of SKU keys to retrieve sku information
        x-bodyName: skuKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearch
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestPreviewRequest'
        description: ""
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search/accounts/{account-id}/retailers/{retailer-id}:
    post:
      description: "Endpoint to search skus by text, account and retailer with an\
        \ option to filter by brands id's."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchAccountIdAndRetailerId
      parameters:
      - description: The account for which skus should be searched for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimPreviewRequest'
        description: ""
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku/search/retailers/{retailer-id}:
    post:
      description: Endpoint to search skus by text for a retailer with an option to
        filter by brands id's.
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchRetailerByRetailerId
      parameters:
      - description: "The maximum number of results to return with each call. Must\
          \ be greater than zero and less than 1500. 10,000 records deep is the max\
          \ limit."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
      - description: The account id of the initiator of the call.
        explode: false
        in: header
        name: X-Origin-Account
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimV2PreviewRequest'
        description: ""
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataV2ListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/chatbot-catalogs/{catalogid}/product-recommendations:
    post:
      description: Ask a chatbot for a product recommendation
      operationId: chatbotProductRecommendations
      parameters:
      - description: the identifier of the catalog to query
        explode: false
        in: path
        name: catalogid
        required: true
        schema:
          description: the identifier of the catalog to query
          title: catalogid
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InbotDiscussionBodyModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBodyModel'
          description: Successful Response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      tags:
      - OnSiteRecommendation
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/keywords/review:
    post:
      description: Update the status of keyword reviews under a line item
      operationId: UpdateKeywordReviewsV1
      parameters:
      - description: The line item to update keyword review statuses for
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
        description: Request object containing a list of Phrase-ReviewState pairs
          to update
        x-bodyName: keywordReviewSetStateRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRetailMediaKeywordsReviewResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRetailMediaKeywordsReviewResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRetailMediaKeywordsReviewResult'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons:
    get:
      description: Get all the product buttons associated with a line item
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}:
    delete:
      description: Delete a product button
      operationId: ProductButtons_DeleteApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    get:
      description: Get a single product button
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a product button
      operationId: ProductButtons_PutApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonRequest'
        description: Details of the updated product button
        x-bodyName: productButton
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/create:
    post:
      description: Append new product buttons to a line item
      operationId: ProductButtons_PostApi202210ExternalLineItemProductButtonsCreateByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
[...]
