openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: Preview
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /preview/retail-media/accounts/{accountId}/grant-consent:
    post:
      description: Grant consent to a business application on behalf of a Private
        Market demand account
      operationId: GrantConsent
      parameters:
      - description: The demand account ID on which to grant consent
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          application/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          text/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
        x-bodyName: grantConsentInput
      responses:
        "204":
          description: Success
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /preview/retail-media/catalog/products/batch:
    post:
      description: |-
        Used to publish a batch of operations to insert, update and deletes products.
         The batch is processed asynchronously.The response provides an operationToken which can be used to track
         the status of the report of the operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"required-field\"),(type=\"validation\", code=\"required-field\"\
            ),(type=\"validation\", code=\"json-format\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "413":
          content:
            application/json: {}
          description: "Request too large. By default, payload up to 16 MB is rejected."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Too Many Requests. Allowed error types and errors: [(type=\"\
            availability\", code=\"too-many-requests\")]"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-token-is-malformed\"),(type=\"validation\"\
            , code=\"catalog-operation-report-is-expired\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Not Found. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-not-found\")]"
        "429":
          content:
            application/json: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-accepts: application/json
  /preview/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: AccountsApi_GetApiV1ExternalAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/retailers:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountRetailersByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/accounts/{accountId}/audiences:
    get:
      description: Get a page of Audiences. (deprecated Public API)
      operationId: LegacyGetAudienceV1
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse'
          description: A page of audiences for the supplied account or shared by related
            retailers.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /preview/retail-media/v2/accounts/{accountId}/audiences:
    get:
      description: Get a page of Audiences. (deprecated Public API)
      operationId: LegacyGetAudienceV2
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse'
          description: A page of audiences for the supplied account or shared by related
            retailers.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1KeywordsModelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1KeywordsModelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1KeywordsModelResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the associated line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaExternalv1AddRemoveKeywordsModelRequest'
        description: Object containing keywords to be added or removed
        x-bodyName: keywords
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaExternalv1SetBidsModelRequest'
        description: Object containing a list of bid overrides for associated keywords
        x-bodyName: keywords
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ResourceOutcome'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/preferred-deal-line-items/{id}/proposal:
    get:
      description: Fetch the status of a proposal to modify a Preferred Deal Line
        Item.
      operationId: FetchProposal
      parameters:
      - description: The external id of a line item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Server Error
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/preferred-deal-line-items/{id}/proposal/submit:
    post:
      description: Submit a proposal to modify a Preferred Deal Line Item for review.
      operationId: SubmitProposal
      parameters:
      - description: The external id of a line item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RetailMediaExternalv1ProposalStatusModelResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Server Error
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-retrieval:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuRetrievalApi_PostApiV1ExternalCatalogsSkuRetrieval
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
                x-nullable: false
              type: array
              uniqueItems: false
              x-nullable: false
        description: The list of SKU keys to retrieve sku information
        x-nullable: false
        x-bodyName: skuKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search:
    post:
      description: "Endpoint to search skus by text, retailer and sellers/brands."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearch
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestPreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku-search/accounts/{account-id}/retailers/{retailer-id}:
    post:
      description: "Endpoint to search skus by text, account and retailer with an\
        \ option to filter by brands id's."
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchAccountIdAndRetailerId
      parameters:
      - description: The account for which skus should be searched for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimPreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataPreviewListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku/search/retailers/{retailer-id}:
    post:
      description: Endpoint to search skus by text for a retailer with an option to
        filter by brands id's.
      operationId: SkuSearchApi_PostApiV1ExternalCatalogsSkuSearchRetailerByRetailerId
      parameters:
      - description: The account id of the initiator of the call.
        explode: false
        in: header
        name: X-Origin-Account
        required: false
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The client id/retailer id for which skus should be searched for.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: "The maximum number of results to return with each call. Must\
          \ be greater than zero and less than 1500. 10,000 records deep is the max\
          \ limit."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1500.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequestSlimV2PreviewRequest'
        description: ""
        x-nullable: false
        x-bodyName: skuRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuSlimDataV2ListResponse'
          description: Skus found.
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/cpc-rates:
    get:
      description: "Gets the minimum cpc bid for the retailer, and optionally the\
        \ categories under the retailer"
      operationId: RetailerApi_GetApiV1ExternalRetailerCategoryCpcRatesByRetailerId
      parameters:
      - description: The retailer id
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The fields in the response that is to be included
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CpcRateCardPreviewResponse'
          description: bids found
        "403":
          content:
            application/json: {}
          description: forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailer-id}/placements:
    get:
      description: Gets all placement information for the given retailer
      operationId: RetailerApi_GetApiV1ExternalRetailerPlacementsByRetailerId
      parameters:
      - description: The retailer id for which placements should be fetched.
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementPreviewListResponse'
          description: placements records.
        "403":
          content:
            application/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/brands:
    get:
      description: Gets the brands for the given retailer
      operationId: RetailerApi_GetApiV1ExternalRetailerBrandsByRetailerId
      parameters:
      - description: The retailer id for which brands should be fetched.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: "Filter to narrow down brands [first-party|third-party|first-and-third-party].\
          \ Defaults to first-and-third-party"
        explode: true
        in: query
        name: sku-stock-type-filter
        required: false
        schema:
          enum:
          - first-party
          - third-party
          - first-and-third-party
          type: string
        style: form
        x-nullable: false
      - description: " Filter to narrow down brands [all|uc|retailer]. Defaults to\
          \ uc"
        explode: true
        in: query
        name: brand-type
        required: false
        schema:
          enum:
          - all
          - uc
          - retailer
          type: string
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandPreviewListResponse'
          description: Brands found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/retailers/{retailerId}/sellers/{seller}:
    get:
      description: Endpoint to get market place seller id and name
      operationId: SellerApi_GetApiV1ExternalRetailerByRetailerIdSellerBySeller
      parameters:
      - description: The retailer id for which seller should be fetched.
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      - description: The seller id or seller name which should be validated.
        explode: false
        in: path
        name: seller
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerPreviewResponse'
          description: Seller found.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/reports/accounts:
    post:
      description: Returns an asynchronous Accounts Report
      operationId: GenerateAsyncAccountsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/campaigns:
    post:
      description: Return an asynchronous Campaigns Report
      operationId: GenerateAsyncCampaignsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/line-items:
    post:
      description: Returns an asynchronous Line Items Report
      operationId: GenerateAsyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/attributed-transactions:
    post:
      description: Returns a synchronous Attributed Transactions Report
      operationId: GenerateSyncAttributedTransactionsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/campaigns:
    post:
      description: Returns a synchronous Campaigns Report
      operationId: GenerateSyncCampaignsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/sync/line-items:
    post:
      description: Returns a synchronous Line Items Report
      operationId: GenerateSyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/reports/{reportId}/output:
    get:
      description: Returns the output of an async report
      operationId: GetAsyncExportOutput
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /preview/retail-media/reports/{reportId}/status:
    get:
      description: Returns the status of an async report
      operationId: GetAsyncExportStatus
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /preview/retail-media/account-management/accounts/{accountId}/brands/add:
    post:
      description: Add brands to an account
      operationId: AddBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
        description: brands to associate to account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOfRetailMediaBrands'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/account-management/accounts/{accountId}/brands/remove:
    post:
      description: Remove a brand from an account
      operationId: RemoveBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOfRetailMediaBrands'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/account-management/accounts/{accountId}/create-brand-account:
    post:
      description: Creates a new child Demand Brand Account for the provided parent
        private market account
      operationId: CreatePrivateMarketDemandBrandAccount
      parameters:
      - description: Account Id for the parent private market account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
        description: Initial creation and configuration options for the new account
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfRetailMediaAccount'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/account-management/accounts/{accountId}/create-seller-account:
    post:
      description: Creates a new child Demand Seller Account for the provided parent
        private market account
      operationId: CreatePrivateMarketDemandSellerAccount
      parameters:
      - description: Account Id for the parent private market account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
        description: Initial creation and configuration options for the new account
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfRetailMediaAccount'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/account-management/accounts/{accountId}/sellers:
    put:
      description: replace the sellers assoiated with an account
      operationId: UpdateSellers
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
        description: sellers to associate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      description: Get current campaign budget overrides by given external campaign
        id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update campaign budget overrides by given external campaign id
        and new campaign budget overrides settings.
      operationId: UpdateCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
        description: New campaign budget overrides settings value resource input.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/catalogs/sku/search/accounts/{accountId}/retailers/{retailerId}/by-id:
    post:
      description: Gets a list of SKUs based on a privided list of Product Ids
      operationId: GetSkuByProductId
      parameters:
      - description: account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          pattern: ^\d+$
          type: string
        style: simple
      - description: retailer id
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: "skip a number of matches before retrning results, used with\
          \ limit"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: max number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SkuSearchRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfSkuSearchResult'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/insertion-order-history/{insertionOrderId}/change-data-capture:
    get:
      description: Gets the balance's historical data change capture.
      operationId: GetInsertionOrderHistoryChangeDataCapture
      parameters:
      - description: External insertion order id.
        explode: false
        in: path
        name: insertionOrderId
        required: true
        schema:
          type: string
        style: simple
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfInsertionOrderHistoryChangeDataCapture'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetRecommendedKeywords
      parameters:
      - description: The external line item identifier
        explode: false
        in: path
        name: externalLineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRecommendedKeywordsResult'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{lineItemId}/line-item-budget-overrides:
    get:
      description: Gets a collection of monthly and daily budget overrides for the
        provided line item.
      operationId: GetLineItemBudgetOverrides
      parameters:
      - description: The line item id to get budget overrides for.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update line item budget overrides by given external line item id
        and new line item budget overrides settings.
      operationId: UpdateLineItemBudgetOverrides
      parameters:
      - description: Line item external id.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
        description: New line item budget overrides settings value resource input.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: GetApiV2ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: LineItemsApi_PostApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      description: Get bid multipliers by line item
      operationId: LineItems_GetApi202301ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Replace bid multipliers on a line item
      operationId: LineItems_PutApi202301ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons:
    get:
      description: Get all the product buttons associated with a line item
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/create:
    post:
      description: Append new product buttons to a line item
      operationId: ProductButtons_PostApi202210ExternalLineItemProductButtonsCreateByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonListRequest'
        description: List of product buttons to append to the specified line item
        x-nullable: false
        x-bodyName: productButtons
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}:
    delete:
      description: Delete a product button
      operationId: ProductButtons_DeleteApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    get:
      description: Get a single product button
      operationId: ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a product button
      operationId: ProductButtons_PutApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: Sequential id of the product button
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonRequest'
        description: Details of the updated product button
        x-nullable: false
        x-bodyName: productButton
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /preview/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: GetApiV2ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: LineItemsApi_PutApi202110ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    GrantConsentInput:
      description: A top-level object that encapsulates a Criteo API request for a
        single value.
      example:
        data:
          attributes:
            callbackState: callbackState
            clientId: clientId
            callbackUrl: callbackUrl
          type: type
      properties:
        data:
          $ref: '#/components/schemas/GrantConsentModelValueResource'
      type: object
    GrantConsentModelValueResource:
      description: A top-level object that encapsulates a Criteo API response for
        a single value.
      example:
        attributes:
          callbackState: callbackState
          clientId: clientId
          callbackUrl: callbackUrl
        type: type
      properties:
        type:
          nullable: true
          type: string
        attributes:
          $ref: '#/components/schemas/GrantConsentModel'
      type: object
    GrantConsentModel:
      description: An object that represents the required (ClientId and CallbackUrl)
        and optional (CallbackState) parameters when granting consents on behalf of
        a Private Market demand account.
      example:
        callbackState: callbackState
        clientId: clientId
        callbackUrl: callbackUrl
      properties:
        clientId:
          type: string
        callbackUrl:
          type: string
        callbackState:
          nullable: true
          type: string
      required:
      - callbackUrl
      - clientId
      type: object
    ApplicationSummaryModelResponse:
      description: Response of ApplicationSummaryModel
      example:
        data:
          attributes:
            organizationId: 6
            name: name
            description: description
            criteoService: criteoService
            applicationId: 0
          type: type
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      description: A class that represents a ValueType in a guild compliant way
      example:
        attributes:
          organizationId: 6
          name: name
          description: description
          criteoService: criteoService
          applicationId: 0
        type: type
      properties:
        type:
          nullable: true
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceId: traceId
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: The request correlation ID this problem comes from.
          nullable: true
          type: string
        traceIdentifier:
          description: "The request correlation ID this problem comes from. (deprecated,\
            \ use traceId instead)"
          nullable: true
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          nullable: true
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          nullable: true
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          nullable: true
          type: string
        title:
          description: A short human-readable description of the problem type
          nullable: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          nullable: true
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          nullable: true
          type: object
        stackTrace:
          nullable: true
          type: string
      type: object
    ApplicationSummaryModel:
      description: Model of ApplicationSummary
      example:
        organizationId: 6
        name: name
        description: description
        criteoService: criteoService
        applicationId: 0
      properties:
        applicationId:
          format: int32
          nullable: true
          type: integer
        name:
          nullable: true
          type: string
        organizationId:
          format: int32
          nullable: true
          type: integer
        description:
          nullable: true
          type: string
        criteoService:
          nullable: true
          type: string
      type: object
    BatchAcceptedResponse:
      description: A batch was accepted. The report can be accessed using the reporting
        endpoint.
      example:
        operationToken: operationToken
      properties:
        operationToken:
          type: string
      required:
      - operationToken
      type: object
    FailResponse:
      description: Error server response.
      properties:
        errors:
          description: List of errors
          items:
            $ref: '#/components/schemas/ProductImporterError'
          type: array
        warnings:
          description: List of warnings
          items:
            $ref: '#/components/schemas/ProductImporterWarning'
          type: array
      required:
      - errors
      - warnings
      type: object
    ReportOkResponse:
      description: The report on a given operationToken is ready. The report is available
        for 4 days
      example:
        numberOfProductsWithErrors: 5
        importRequestTimestamp: 0
        numberOfProductsInTheBatch: 6
        numberOfProductsDeleted: 5
        numberOfProductsUpserted: 1
        status: ACCEPTED
        errorDetails:
        - productId: productId
          errors:
          - type: UnknownError
            message: message
            isServerRelated: true
          - type: UnknownError
            message: message
            isServerRelated: true
        - productId: productId
          errors:
          - type: UnknownError
            message: message
            isServerRelated: true
          - type: UnknownError
            message: message
            isServerRelated: true
      properties:
        status:
          description: |-
            The status of the operation.
            The operation is completed when the status is one of (VALIDATED,VALIDATED_WITH_ERRORS,FAILED)
          enum:
          - ACCEPTED
          - IN_PROGRESS
          - VALIDATED
          - VALIDATED_WITH_ERRORS
          - FAILED
          type: string
        importRequestTimestamp:
          description: The date when the original batch request was sent.
          format: int64
          type: integer
        numberOfProductsInTheBatch:
          description: The number of products present in the batch.
          format: int32
          type: integer
        numberOfProductsUpserted:
          description: The number of products upserted.
          format: int32
          type: integer
        numberOfProductsDeleted:
          description: The number of products deleted.
          format: int32
          type: integer
        numberOfProductsWithErrors:
          description: The number of products with errors.
          format: int32
          type: integer
        errorDetails:
          description: The list of errors with details.
          items:
            $ref: '#/components/schemas/ReportDetailErrors'
          type: array
      required:
      - errorDetails
      - importRequestTimestamp
      - numberOfProductsDeleted
      - numberOfProductsInTheBatch
      - numberOfProductsUpserted
      - numberOfProductsWithErrors
      - status
      type: object
    ProductsCustomBatchRequest:
      description: Defines a batch of operations.
      example:
        entries:
        - product:
            additionalImageLinks:
            - additionalImageLinks
            - additionalImageLinks
            adsRedirect: adsRedirect
            customLabel4: customLabel4
            includedDestinations:
            - includedDestinations
            - includedDestinations
            transitTimeLabel: transitTimeLabel
            numberOfReviews: 1
            customLabel3: customLabel3
            channel: online
            taxes:
            - country: country
              rate: 5.637376656633329
              locationId: 2
              postalCode: postalCode
              region: region
              taxShip: true
            - country: country
              rate: 5.637376656633329
              locationId: 2
              postalCode: postalCode
              region: region
              taxShip: true
            availabilityDate: availabilityDate
            source: source
            externalSellerId: externalSellerId
            loyaltyPoints:
              name: name
              pointsValue: 9
              ratio: 3.616076749251911
            displayAdsLink: displayAdsLink
            shippingHeight:
              unit: unit
              value: 1.2315135367772556
            sellOnGoogleQuantity: 1
            sellerId: sellerId
            shipping:
            - country: country
              price:
                currency: currency
                value: value
              service: service
              locationId: 1
              postalCode: postalCode
              region: region
              locationGroupName: locationGroupName
            - country: country
              price:
                currency: currency
                value: value
              service: service
              locationId: 1
              postalCode: postalCode
              region: region
              locationGroupName: locationGroupName
            sizes:
            - sizes
            - sizes
            price:
              currency: currency
              value: value
            customLabel2: customLabel2
            customLabel1: customLabel1
            customLabel0: customLabel0
            displayAdsSimilarIds:
            - displayAdsSimilarIds
            - displayAdsSimilarIds
            id: id
            productRating: productRating
            brand: brand
            sizeType: sizeType
            sizeSystem: sizeSystem
            kind: kind
            excludedDestinations:
            - excludedDestinations
            - excludedDestinations
            displayAdsValue: 1.0246457001441578
            shippingLabel: shippingLabel
            mpn: mpn
            productTypes:
            - productTypes
            - productTypes
            ageGroup: ageGroup
            mobileLink: mobileLink
            targetCountry: targetCountry
            taxCategory: taxCategory
            condition: condition
            externalSellerName: externalSellerName
            minEnergyEfficiencyClass: minEnergyEfficiencyClass
            productTypeKeys:
            - productTypeKeys
            - productTypeKeys
            installment:
              amount:
                currency: currency
                value: value
              months: 7
            offerId: offerId
            contentLanguage: contentLanguage
            identifierExists: true
            adult: true
            customAttributes:
            - name: name
              value: value
            - name: name
              value: value
            googleProductCategory: googleProductCategory
            isBundle: true
            energyEfficiencyClass: energyEfficiencyClass
            color: color
            gender: gender
            link: link
            pattern: pattern
            salePriceEffectiveDate: salePriceEffectiveDate
            description: description
            multipack: 2
            minHandlingTime: 7
            adsLabels:
            - adsLabels
            - adsLabels
            availability: availability
            title: title
            itemGroupId: itemGroupId
            adsGrouping: adsGrouping
            maxEnergyEfficiencyClass: maxEnergyEfficiencyClass
            displayAdsId: displayAdsId
            imageLink: imageLink
            unitPricingBaseMeasure:
              unit: unit
              value: 7
            shippingWeight:
              unit: unit
              value: 5.962133916683182
            shippingWidth:
              unit: unit
              value: 1.2315135367772556
            expirationDate: expirationDate
            costOfGoodsSold:
              currency: currency
              value: value
            gtin: gtin
            shippingLength:
              unit: unit
              value: 1.2315135367772556
            salePrice:
              currency: currency
              value: value
            maxHandlingTime: 6
            promotionIds:
            - promotionIds
            - promotionIds
            material: material
            displayAdsTitle: displayAdsTitle
            unitPricingMeasure:
              unit: unit
              value: 4.145608029883936
          method: delete
          productId: productId
          merchantId: 6
          feedId: feedId
          batchId: 0
          itemGroupId: itemGroupId
        - product:
            additionalImageLinks:
            - additionalImageLinks
            - additionalImageLinks
            adsRedirect: adsRedirect
            customLabel4: customLabel4
            includedDestinations:
            - includedDestinations
            - includedDestinations
            transitTimeLabel: transitTimeLabel
            numberOfReviews: 1
            customLabel3: customLabel3
            channel: online
            taxes:
            - country: country
              rate: 5.637376656633329
              locationId: 2
              postalCode: postalCode
              region: region
              taxShip: true
            - country: country
              rate: 5.637376656633329
              locationId: 2
              postalCode: postalCode
              region: region
              taxShip: true
            availabilityDate: availabilityDate
            source: source
            externalSellerId: externalSellerId
            loyaltyPoints:
              name: name
              pointsValue: 9
              ratio: 3.616076749251911
            displayAdsLink: displayAdsLink
            shippingHeight:
              unit: unit
              value: 1.2315135367772556
            sellOnGoogleQuantity: 1
            sellerId: sellerId
            shipping:
            - country: country
              price:
                currency: currency
                value: value
              service: service
              locationId: 1
              postalCode: postalCode
              region: region
              locationGroupName: locationGroupName
            - country: country
              price:
                currency: currency
                value: value
              service: service
              locationId: 1
              postalCode: postalCode
              region: region
              locationGroupName: locationGroupName
            sizes:
            - sizes
            - sizes
            price:
              currency: currency
              value: value
            customLabel2: customLabel2
            customLabel1: customLabel1
            customLabel0: customLabel0
            displayAdsSimilarIds:
            - displayAdsSimilarIds
            - displayAdsSimilarIds
            id: id
            productRating: productRating
            brand: brand
            sizeType: sizeType
            sizeSystem: sizeSystem
            kind: kind
            excludedDestinations:
            - excludedDestinations
            - excludedDestinations
            displayAdsValue: 1.0246457001441578
            shippingLabel: shippingLabel
            mpn: mpn
            productTypes:
            - productTypes
            - productTypes
            ageGroup: ageGroup
            mobileLink: mobileLink
            targetCountry: targetCountry
            taxCategory: taxCategory
            condition: condition
            externalSellerName: externalSellerName
            minEnergyEfficiencyClass: minEnergyEfficiencyClass
            productTypeKeys:
            - productTypeKeys
            - productTypeKeys
            installment:
              amount:
                currency: currency
                value: value
              months: 7
            offerId: offerId
            contentLanguage: contentLanguage
            identifierExists: true
            adult: true
            customAttributes:
            - name: name
              value: value
            - name: name
              value: value
            googleProductCategory: googleProductCategory
            isBundle: true
            energyEfficiencyClass: energyEfficiencyClass
            color: color
            gender: gender
            link: link
            pattern: pattern
            salePriceEffectiveDate: salePriceEffectiveDate
            description: description
            multipack: 2
            minHandlingTime: 7
            adsLabels:
            - adsLabels
            - adsLabels
            availability: availability
            title: title
            itemGroupId: itemGroupId
            adsGrouping: adsGrouping
            maxEnergyEfficiencyClass: maxEnergyEfficiencyClass
            displayAdsId: displayAdsId
            imageLink: imageLink
            unitPricingBaseMeasure:
              unit: unit
              value: 7
            shippingWeight:
              unit: unit
              value: 5.962133916683182
            shippingWidth:
              unit: unit
              value: 1.2315135367772556
            expirationDate: expirationDate
            costOfGoodsSold:
              currency: currency
              value: value
            gtin: gtin
            shippingLength:
              unit: unit
              value: 1.2315135367772556
            salePrice:
              currency: currency
              value: value
            maxHandlingTime: 6
            promotionIds:
            - promotionIds
            - promotionIds
            material: material
            displayAdsTitle: displayAdsTitle
            unitPricingMeasure:
              unit: unit
              value: 4.145608029883936
          method: delete
          productId: productId
          merchantId: 6
          feedId: feedId
          batchId: 0
          itemGroupId: itemGroupId
      properties:
        entries:
[...]
