openapi: 3.0.1
info:
  description: Criteo API - MarketingSolutions
  title: Criteo API
  version: 2023-04
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /2023-04/audiences:
    get:
      description: Get a list of all the audiences for the user or for the given advertiser_id
      operationId: getAudiences
      parameters:
      - description: |-
          The advertiser id to get all the audiences for.
          Mandatory for internal users. For external users,
                     if you don't provide it, we will take into account the advertisers from your portfolio
        explode: true
        in: query
        name: advertiser-id
        required: false
        schema:
          format: int32
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: AudienceContactlist
                  id: "1"
                  attributes:
                    advertiserId: "18"
                    name: Audience name
                    description: Audience
                    created: 2018-12-10T10:00:50.0000000+00:00
                    updated: 2018-12-10T10:17:15.0000000+00:00
                    nbLines: 100
                    nbLinesEmail: 10
                    nbMatchesEmail: 10
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/GetAudiencesResponse'
          description: The list was retrieved.
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an Audience for an Advertiser
      operationId: createAudience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/NewAudienceResponse'
          description: The audience was created
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2023-04/audiences/{audience-id}:
    delete:
      description: Delete an audience by id
      operationId: removeAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceResponse'
          description: The audience was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Update user audience specified by the audience id
      operationId: modifyAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                  attributes:
                    name: example audience
                    description: example audience description
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ReplaceAudienceResponse'
          description: The audience was updated
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2023-04/audiences/{audience-id}/contactlist:
    delete:
      description: Delete all identifiers from a contact list audience-segment.
      operationId: deleteIdentifiers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The contactlist was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove users to or from a contact list audience-segment.
      operationId: modifyAudienceUsers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Audience 123 not found
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2023-04/marketing-solutions/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets:
    patch:
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
        description: List of adsets to patch.
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of patched adSets.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets/search:
    post:
      deprecated: true
      description: Search for ad sets
      operationId: SearchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
          description: data for the ad sets
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets/{ad-set-id}/category-bids:
    get:
      description: Get the Category Bids for all valid Categories associated to an
        Ad Set
      operationId: GetCategoryBidList
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
          description: List of Category Bids for all valid Categories associated to
            an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Category Bids for one or more Categories in a single request.
        Partial success policy is followed.
      operationId: PatchCategoryBidList
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
        x-bodyName: categoryBidsToUpdate
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
          description: List of updated Category Bids for given Categories associated
            to an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers:
    get:
      description: Get the Display Multipliers for all valid Categories associated
        to an Ad Set
      operationId: GetDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
          description: List of Display Multipliers for all valid Categories associated
            to an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Display Multipliers for one or more Categories in a single
        request. Partial success policy is followed.
      operationId: PatchDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
        x-bodyName: displayMultipliersToUpdate
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
          description: List of updated Display Multipliers for given Categories associated
            to an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/ad-sets/{adSetId}:
    get:
      deprecated: true
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: adSetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
          description: data for the ad set
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2023-04/marketing-solutions/campaigns:
    patch:
      description: Patch a list of Campaigns.
      operationId: PatchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
        description: List of campaigns to patch.
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
          description: List of patched campaigns.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/campaigns/search:
    post:
      deprecated: true
      description: Search for campaigns
      operationId: SearchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
        description: filters on campaigns
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
          description: data for the campaigns
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/marketing-solutions/campaigns/{campaign-id}:
    get:
      deprecated: true
      description: Get the data for the specified campaign
      operationId: GetCampaign
      parameters:
      - description: Id of the campaign
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          description: data for the campaign
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2023-04/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser id to fetch the transparency data.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
        x-bodyName: queryMessage
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: TransparencyReport
                  attributes:
                    advertiserId: "123"
                    tokenValidUntil: 2021-01-31T00:00:00.0000000+00:00
                    files:
                    - fileName: report.csv
                      url: https://www.example.com/transparency
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/placements/report:
    post:
      description: "Your ads are placed in different domains (publishers) and environments\
        \ (websites and apps). Thanks to the placements endpoint, you can analyse\
        \ the performances for each publisher, comparing displays, clicks and sales\
        \ generated."
      operationId: GetPlacementsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
            text/csv:
              schema:
                format: binary
                type: string
            text/xml:
              schema:
                format: binary
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/statistics/report:
    post:
      description: "This Statistics endpoint provides adset related data. It is an\
        \ upgrade of our previous Statistics endpoint, and includes new metrics and\
        \ customization capabilities."
      operationId: GetAdsetReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
        x-bodyName: reportQuery
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
            text/csv:
              schema:
                format: binary
                type: string
            text/xml:
              schema:
                format: binary
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/transactions/report:
    post:
      description: This Transactions endpoint provides transactions id related data.
      operationId: GetTransactionsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
            text/csv:
              schema:
                format: binary
                type: string
            text/xml:
              schema:
                format: binary
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: b7888125-dddb-c94e-9240-eb930c4ea146
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ProblemsDetails'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2023-04/advertisers/me:
    get:
      description: Fetch the portfolio of Advertisers for this account
      operationId: ApiPortfolioGet
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: advertiser
                  id: "13"
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: "1352"
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: "73550"
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Unauthorized
      tags:
      - Advertiser
      x-accepts: application/json
components:
  schemas:
    GetAudiencesResponse:
      description: Body of the GET audience operation
      example:
        data:
        - attributes:
            nbLinesEmail: 6
            nbLines: 0
            created: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            nbMatchesEmail: 1
            updated: 2000-01-23T04:56:07.000+00:00
            advertiserId: advertiserId
          id: "314159"
          type: Audience
        - attributes:
            nbLinesEmail: 6
            nbLines: 0
            created: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            nbMatchesEmail: 1
            updated: 2000-01-23T04:56:07.000+00:00
            advertiserId: advertiserId
          id: "314159"
          type: Audience
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/Audience'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ErrorCodeResponse:
      description: Definition of the error code
      properties:
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          nullable: true
          type: array
      required:
      - errors
      type: object
    NewAudienceResponse:
      description: Response of a newly created audience
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    DeleteAudienceResponse:
      description: Response of an audience deletion
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ReplaceAudienceResponse:
      description: Response of an audience replacement
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    DeleteAudienceContactListResponse:
      description: Response of a contactlist deletion
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ModifyAudienceResponse:
      description: Parameters to modify an audience
      example:
        data:
          attributes:
            nbValidIdentifiers: 6
            nbInvalidIdentifiers: 1
            sampleInvalidIdentifiers:
            - sampleInvalidIdentifiers
            - sampleInvalidIdentifiers
            contactListId: 0
            requestDate: 2000-01-23T04:56:07.000+00:00
            identifierType: identifierType
            operation: operation
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ContactlistOperation'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    NewAudienceRequest:
      description: Body of creation of a new audience
      example:
        data:
          attributes:
            name: name
            description: description
            advertiserId: advertiserId
          type: Audience
      properties:
        data:
          $ref: '#/components/schemas/NewAudience'
      type: object
    ReplaceAudienceRequest:
      description: Request to replace an audience
      example:
        data:
          attributes:
            name: name
            description: description
          type: Audience
      properties:
        data:
          $ref: '#/components/schemas/ReplaceAudience'
      required:
      - data
      type: object
    ContactlistAmendmentRequest:
      description: Request for a contactlist amendment
      example:
        data:
          attributes:
            gumCallerId: 0
            identifiers:
            - identifiers
            - identifiers
            identifierType: email
            operation: add
          type: ContactlistAmendment
      properties:
        data:
          $ref: '#/components/schemas/ContactlistAmendment'
      required:
      - data
      type: object
    Audience:
      description: Definition of an audience and all its information
      example:
        attributes:
          nbLinesEmail: 6
          nbLines: 0
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          nbMatchesEmail: 1
          updated: 2000-01-23T04:56:07.000+00:00
          advertiserId: advertiserId
        id: "314159"
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        id:
          description: id of the Audience
          example: "314159"
          type: string
        attributes:
          $ref: '#/components/schemas/Audience_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    AudienceError:
      description: Definition of an audience error
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source: "{}"
        stackTrace:
        - stackTrace
        - stackTrace
        type: access-control
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          nullable: true
          type: string
        type:
          description: (REQUIRED) The classification of the error
          enum:
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kebab-case."
          type: string
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem
          type: string
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type"
          nullable: true
          type: string
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem
          nullable: true
          type: string
        source:
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          nullable: true
          type: object
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          items:
            type: string
          nullable: true
          type: array
      required:
      - code
      - instance
      - type
      type: object
    AudienceWarning:
      description: Definition of the warning
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source: "{}"
        stackTrace:
        - stackTrace
        - stackTrace
        type: access-control
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          nullable: true
          type: string
        type:
          description: (REQUIRED) The classification of the error
          enum:
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kebab-case."
          type: string
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem
          type: string
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type"
          nullable: true
          type: string
        detail:
          description: (REQUIRED) A human-readable explanation specific to this occurrence
            of the problem
          type: string
        source:
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          nullable: true
          type: object
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          items:
            type: string
          nullable: true
          type: array
      required:
      - code
      - detail
      - instance
      - type
      type: object
    BasicAudienceDefinition:
      description: Common definition of an audience
      example:
        attributes:
          name: name
          description: description
        id: id
        type: type
      properties:
        id:
          description: the id of the entity type
          type: string
        type:
          description: the name of the entity type
          type: string
        attributes:
          $ref: '#/components/schemas/AudienceNameDescription'
      required:
      - id
      - type
      type: object
    ContactlistOperation:
      description: Response definition of a contactlist operation
      example:
        attributes:
          nbValidIdentifiers: 6
          nbInvalidIdentifiers: 1
          sampleInvalidIdentifiers:
          - sampleInvalidIdentifiers
          - sampleInvalidIdentifiers
          contactListId: 0
          requestDate: 2000-01-23T04:56:07.000+00:00
          identifierType: identifierType
          operation: operation
        type: type
      properties:
        type:
          description: the name of the entity type
          type: string
        attributes:
          $ref: '#/components/schemas/ContactlistOperation_attributes'
      required:
      - attributes
      - type
      type: object
    NewAudience:
      description: "Body for the creation of a new audience (name, advertiserId, etc)"
      example:
        attributes:
          name: name
          description: description
          advertiserId: advertiserId
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        attributes:
          $ref: '#/components/schemas/NewAudience_attributes'
      required:
      - attributes
      - type
      type: object
    ReplaceAudience:
      description: Parameters required to replace an audience
      example:
        attributes:
          name: name
          description: description
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        attributes:
          $ref: '#/components/schemas/AudienceNameDescription'
      required:
      - attributes
      - type
      type: object
    ContactlistAmendment:
      description: Parameters for the amendment of a contactlist
      example:
        attributes:
          gumCallerId: 0
          identifiers:
          - identifiers
          - identifiers
          identifierType: email
          operation: add
        type: ContactlistAmendment
      properties:
        type:
          description: User List
          example: ContactlistAmendment
          type: string
        attributes:
          $ref: '#/components/schemas/ContactlistAmendment_attributes'
      required:
      - attributes
      - type
      type: object
    AudienceNameDescription:
      description: Description of an audience with name and detailed description
      example:
        name: name
        description: description
      properties:
        name:
          description: The name to designate the audience by
          nullable: true
          type: string
        description:
          description: The description of the audience
          nullable: true
          type: string
      type: object
    ApplicationSummaryModelResponse:
      description: Response of ApplicationSummaryModel
      example:
        data:
          attributes:
            organizationId: 6
            name: name
            description: description
            criteoService: criteoService
            applicationId: 0
          type: type
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      description: A class that represents a ValueType in a guild compliant way
      example:
        attributes:
          organizationId: 6
          name: name
          description: description
          criteoService: criteoService
          applicationId: 0
        type: type
      properties:
        type:
          nullable: true
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceId: traceId
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: The request correlation ID this problem comes from.
          nullable: true
          type: string
        traceIdentifier:
          description: "The request correlation ID this problem comes from. (deprecated,\
            \ use traceId instead)"
          nullable: true
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          nullable: true
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          nullable: true
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          nullable: true
          type: string
        title:
          description: A short human-readable description of the problem type
          nullable: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          nullable: true
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          nullable: true
          type: object
        stackTrace:
          nullable: true
          type: string
      type: object
    ApplicationSummaryModel:
      description: Model of ApplicationSummary
      example:
        organizationId: 6
        name: name
        description: description
        criteoService: criteoService
        applicationId: 0
      properties:
        applicationId:
          format: int32
          nullable: true
          type: integer
        name:
          nullable: true
          type: string
        organizationId:
          format: int32
          nullable: true
          type: integer
        description:
          nullable: true
          type: string
        criteoService:
          nullable: true
          type: string
      type: object
    ResponsesAdSetId:
      description: List of output resources
      example:
        data:
        - id: id
          type: AdSetId
        - id: id
          type: AdSetId
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelAdSetId'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    ResponsesReadAdSet:
      description: List of output resources
      example:
        data:
        - attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value: null
                countries:
                  value: null
                subdivisions:
                  value: null
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            datasetId: datasetId
            mediaType: display
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        - attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value: null
                countries:
                  value: null
                subdivisions:
                  value: null
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            datasetId: datasetId
            mediaType: display
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelReadAdSet'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    AdSetCategoryBidListResponse:
      description: Data model for a list of response resources
      example:
        data:
        - attributes:
            bidAmount: 0.8008281904610115
            categoryName: categoryName
          id: id
          type: AdSetCategoryBid
        - attributes:
            bidAmount: 0.8008281904610115
            categoryName: categoryName
          id: id
          type: AdSetCategoryBid
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/AdSetCategoryBidResource'
          nullable: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    PatchAdSetCategoryBidResultListResponse:
      description: Data model for a list of response resources
      example:
        data:
        - id: id
          type: AdSetCategoryBid
        - id: id
          type: AdSetCategoryBid
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/PatchAdSetCategoryBidResultResource'
          nullable: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    AdSetDisplayMultiplierListResponse:
      description: Data model for a list of response resources
      example:
        data:
        - attributes:
            displayMultiplier: 0.8008281904610115
            categoryName: categoryName
          id: id
          type: AdSetDisplayMultiplier
        - attributes:
            displayMultiplier: 0.8008281904610115
            categoryName: categoryName
          id: id
          type: AdSetDisplayMultiplier
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/AdSetDisplayMultiplierResource'
          nullable: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    PatchAdSetDisplayMultiplierResultListResponse:
      description: Data model for a list of response resources
      example:
        data:
        - id: id
          type: AdSetDisplayMultiplier
        - id: id
          type: AdSetDisplayMultiplier
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultResource'
          nullable: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    ResponseReadAdSet:
      description: output resource
      example:
        data:
          attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value: null
                countries:
                  value: null
                subdivisions:
                  value: null
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            datasetId: datasetId
            mediaType: display
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ReadModelReadAdSet'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    PatchResultCampaignListResponse:
      description: List of output resources
      example:
        data:
        - id: id
          type: Campaign
        - id: id
          type: Campaign
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/PatchResultCampaignReadResource'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
          x-nullable: true
      type: object
    CampaignListResponse:
      description: List of output resources
      example:
        data:
        - attributes:
            goal: Unspecified
            name: name
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
            advertiserId: advertiserId
            objective: objective
          id: id
          type: Campaign
        - attributes:
            goal: Unspecified
            name: name
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
            advertiserId: advertiserId
            objective: objective
          id: id
          type: Campaign
        warnings:
        - traceId: traceId
          traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
[...]
