openapi: 3.0.1
info:
  description: Criteo publicly exposed API
  title: Criteo API
  version: 2021-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /oauth2/token:
    post:
      description: Creates a token when the supplied client credentials are valid
      operationId: GetToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                redirect_uri:
                  type: string
                code:
                  type: string
                refresh_token:
                  type: string
              required:
              - client_id
              - client_secret
              - grant_type
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
          description: Bad request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
          description: Unauthorized
      summary: Creates a token based either on supplied client credentials or on single
        use authorization code
      tags:
      - OAuth
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /2021-07/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: AccountsApi_GetApiV1ExternalAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/accounts/{accountId}/retailers:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountRetailersByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/accounts/{accountId}/catalogs:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: CatalogApi_GetApiV1ExternalCatalogStatusByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request found.
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/catalogs/{catalogId}/output:
    get:
      description: "Output the indicated catalog. Catalogs are only available for\
        \ retrieval when their associated status request\r\nis at a Success status.\r\
        \nProduces application/x-json-stream of v2021_07 CatalogProduct json objects."
      operationId: CatalogApi_GetApiV1ExternalCatalogOutputByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/x-json-stream: {}
            application/json: {}
          description: Catalog download initiated.
        "400":
          content:
            application/x-json-stream: {}
            application/json: {}
          description: "The indicated catalog is not available for retrieval, wait\
            \ for a success status."
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/accounts/{accountId}/balances:
    get:
      description: Gets page of balance objects for the given account id
      operationId: BalancesApi_GetApiV1ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get balances for
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBalance'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/balances/{balanceId}/campaigns:
    delete:
      description: Removes one or more campaigns on the specified balance
      operationId: BalancesApi_DeleteApiV1ExternalBalanceCampaignsByBalanceId
      parameters:
      - description: The balance to remove campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiDataRequestOfDeleteBalanceCampaign'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfBalanceCampaign'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Gets page of campaigns for the given balanceId
      operationId: BalancesApi_GetApiV1ExternalBalanceCampaignsByBalanceId
      parameters:
      - description: The balance to get campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfBalanceCampaign'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: appends one or more campaigns to the specified balance
      operationId: BalancesApi_PutApiV1ExternalBalanceCampaignsByBalanceId
      parameters:
      - description: The balance to add campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiDataRequestOfPutBalanceCampaign'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfBalanceCampaign'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/accounts/{accountId}/campaigns:
    get:
      description: Gets page of campaign objects for the given account id
      operationId: CampaignsApi_GetApiV1ExternalAccountCampaignsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaign'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new campaign with the specified settings
      operationId: CampaignsApi_PostApiV1ExternalAccountCampaignsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPostCampaign'
        description: The campaign settings to create a campaign with
        x-nullable: false
        x-bodyName: campaign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaign'
          description: OK
        "201":
          content:
            application/json: {}
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/campaigns/{campaignId}:
    get:
      description: Gets the campaign for the given campaign id
      operationId: CampaignsApi_GetApiV1ExternalCampaignByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaign'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the campaign for the given campaign id
      operationId: CampaignsApi_PutApiV1ExternalCampaignByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPutCampaign'
        description: The campaign settings to update that campaign with
        x-nullable: false
        x-bodyName: campaign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaign'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/line-items/{lineItemId}/products:
    delete:
      description: This endpoint removes one or more products from promotion on the
        specified line item.  The resulting state of the line item is returned.
      operationId: PromotedProductsApi_DeleteApiV1ExternalLineItemProductsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiDataRequestWithIdOfStringAndPromotedProduct'
        x-nullable: false
        x-bodyName: promotedProductsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfStringAndPromotedProduct'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: This endpoint gets the promoted products on the specified line
        item.
      operationId: PromotedProductsApi_GetApiV1ExternalLineItemProductsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfStringAndPromotedProduct'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint appends one or more products to promote on the specified
        line item.  The resulting state of the line item is returned.
      operationId: PromotedProductsApi_PutApiV1ExternalLineItemProductsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiDataRequestWithIdOfStringAndPromotedProduct'
        description: the products to append to this line item
        x-nullable: false
        x-bodyName: promotedProductsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfStringAndPromotedProduct'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/accounts/{account-id}/line-items:
    get:
      description: Gets page of line item objects for the given account id
      operationId: GetApiV2ExternalAccountLineItemsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The campaign ids that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToCampaignId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The campaign types that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToType
        required: false
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          type: string
        style: form
        x-nullable: true
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/line-items/{line-item-id}:
    get:
      description: Gets the line item for the given line item id
      operationId: GetApiV2ExternalLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: GetApiV2ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: PutApiV2ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: GetApiV2ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemPagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemPagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: PostApiV2ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/auction-line-items/{line-item-id}:
    get:
      description: Gets the auction line item for the given line item id
      operationId: GetApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the auction line item for the given line item id
      operationId: PutApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemUpdateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/campaigns/{campaign-id}/auction-line-items:
    get:
      description: Gets page of auction line item objects for the given campaign id
      operationId: GetApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: PostApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemCreateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/line-items/{line-item-id}/targeting/keywords:
    delete:
      description: This endpoint removes one or more keywords from targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: DeleteApiV2ExternalLineItemTargetingKeywordsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTargetRequest'
        x-nullable: false
        x-bodyName: keywordsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: This endpoint gets the keyword target on the specified line item.
      operationId: GetApiV2ExternalLineItemTargetingKeywordsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint appends one or more keywords to targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: PutApiV2ExternalLineItemTargetingKeywordsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTargetRequest'
        x-nullable: false
        x-bodyName: keywordsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/reports/campaigns:
    post:
      description: Request a campaign report
      operationId: requestCampaignReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeReportRequest'
        description: "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\"\
          ,\n    \"attributes\": {\n      \"reportType\": string, // the name of the\
          \ report being requested\n      //only one of \"id\" or \"ids\" can be provided\
          \ for a request\n      \"id\": string, // the campaign id to select\n  \
          \    \"ids\": Array[string], //the campaign ids to select\n      \"startDate\"\
          : string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD\
          \ format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo',\
          \ 'America/New_York'\n      // both attribution windows must be specified\
          \ when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\"\
          , or \"30D\"  // optional. defaults to campaign's click attribution window\n\
          \      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"\
          30D\" // optional. defaults to campaign's view attribution window\n    \
          \  \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\"\
          \ or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeReportStatus'
          description: Returns the status of the report
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
      tags:
      - Analytics
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/reports/line-items:
    post:
      description: Request a line item report
      operationId: requestLineItemReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeReportRequest'
        description: "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\"\
          ,\n    \"attributes\": {\n      \"reportType\": string, // the name of the\
          \ report being requested\n      //only one of \"id\" or \"ids\" can be provided\
          \ for a request\n      \"id\": string, // the line item id to select\n \
          \     \"ids: Array[string] // the line item ids to select\n      \"startDate\"\
          : string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD\
          \ format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo',\
          \ 'America/New_York'\n      // both attribution windows must be specified\
          \ when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\"\
          , or \"30D\"  // optional. defaults to campaign's click attribution window\n\
          \      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"\
          30D\" // optional. defaults to campaign's view attribution window\n    \
          \  \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\"\
          \ or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeReportStatus'
          description: Returns the status of the report
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
      tags:
      - Analytics
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/retail-media/reports/{reportId}/output:
    get:
      description: Request the report output
      operationId: getReportOutput
      parameters:
      - description: report id
        example: ee439121-13e3-4734-9f67-c504dd921a41
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                type: integer
          description: The output
          headers:
            Content-Disposition:
              description: Returns a filename for the output
              example: inline; filename=data_<reportId>.csv
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
        "404":
          description: ReportId not found
      tags:
      - Analytics
      x-accepts: application/octet-stream
  /2021-07/retail-media/reports/{reportId}/status:
    get:
      description: Get the status of the report
      operationId: getReportStatus
      parameters:
      - description: report id
        example: ee439121-13e3-4734-9f67-c504dd921a41
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeReportStatus'
          description: Returns the status of the report
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
        "404":
          description: ReportId not found
      tags:
      - Analytics
      x-accepts: application/json
components:
  schemas:
    ApplicationSummaryModelResponse:
      description: Response of ApplicationSummaryModel
      example:
        data:
          attributes:
            organizationId: 6
            name: name
            description: description
            criteoService: criteoService
            applicationId: 0
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      description: A class that represents a ValueType in a guild compliant way
      example:
        attributes:
          organizationId: 6
          name: name
          description: description
          criteoService: criteoService
          applicationId: 0
        type: type
      properties:
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceIdentifier:
          description: The request correlation ID this problem comes from.
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          type: string
        title:
          description: A short human-readable description of the problem type
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          type: object
        stackTrace:
          type: string
      type: object
    ApplicationSummaryModel:
      description: Model of ApplicationSummary
      example:
        organizationId: 6
        name: name
        description: description
        criteoService: criteoService
        applicationId: 0
      properties:
        applicationId:
          format: int32
          type: integer
        name:
          type: string
        organizationId:
          format: int32
          type: integer
        description:
          type: string
        criteoService:
          type: string
      type: object
    AccessTokenModel:
      description: Access Token to be used with other services
      example:
        access_token: access_token
        refresh_token: refresh_token
        token_type: token_type
        expires_in: 0
      properties:
        access_token:
          description: The access token issued by the authorization server.
          type: string
        token_type:
          description: The type of the token issued.
          type: string
        refresh_token:
          description: The refresh token issued by the authorization server.
          type: string
          x-nullable: true
        expires_in:
          description: "The lifetime in seconds of the access token.For example, the\
            \ value \"3600\" denotes that the access token will expire in one hour\
            \ from the time the response was generated. If omitted, the authorization\
            \ server SHOULD provide the expiration time via other means or document\
            \ the default value."
          format: int32
          type: integer
      type: object
    OAuthErrorModel:
      properties:
        error:
          type: string
        error_description:
          type: string
        error_uri:
          type: string
      type: object
    JsonApiPageResponseOfAccount:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            subtype: unknown
            parentAccountLabel: parentAccountLabel
            name: name
            timeZone: timeZone
            currency: currency
            countries:
            - countries
            - countries
            type: unknown
          id: id
          type: type
        - attributes:
            subtype: unknown
            parentAccountLabel: parentAccountLabel
            name: name
            timeZone: timeZone
            currency: currency
            countries:
            - countries
            - countries
            type: unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndAccountAndAccount'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfRetailer:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            name: name
            campaignEligibilities:
            - unknown
            - unknown
          id: id
          type: type
        - attributes:
            name: name
            campaignEligibilities:
            - unknown
            - unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndRetailerAndRetailer'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfBrand:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            name: name
          id: id
          type: type
        - attributes:
            name: name
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndBrandAndBrand'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    PageMetadata:
      description: Metadata related to the current request
      example:
        currentPageSize: 6
        previousPage: previousPage
        nextPage: nextPage
        totalPages: 5
        totalItemsAcrossAllPages: 0
        currentPageIndex: 1
      properties:
        totalItemsAcrossAllPages:
          format: int64
          type: integer
          x-nullable: true
        currentPageSize:
          format: int32
          type: integer
          x-nullable: false
        currentPageIndex:
          format: int32
          type: integer
          x-nullable: false
        totalPages:
          format: int64
          type: integer
          x-nullable: true
        nextPage:
          type: string
          x-nullable: false
        previousPage:
          type: string
          x-nullable: false
      required:
      - currentPageIndex
      - currentPageSize
      type: object
      x-nullable: false
    CommonError:
      description: A JSON:API Common error structure
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
          x-nullable: false
        type:
          description: (REQUIRED) The classification of the error.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          x-nullable: false
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kabab-case."
          type: string
          x-nullable: false
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem.
          type: string
          x-nullable: false
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type."
          type: string
          x-nullable: false
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem.
          type: string
          x-nullable: false
        source:
          additionalProperties:
            type: string
            x-nullable: false
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
          x-nullable: false
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          type: string
          x-nullable: false
      type: object
      x-nullable: false
    CommonWarning:
      description: A JSON:API Base common warning
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
          x-nullable: false
        type:
          description: (REQUIRED) The classification of the error.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          x-nullable: false
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kabab-case."
          type: string
          x-nullable: false
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem.
          type: string
          x-nullable: false
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type."
          type: string
          x-nullable: false
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem.
          type: string
          x-nullable: false
        source:
          additionalProperties:
            type: string
            x-nullable: false
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
          x-nullable: false
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          type: string
          x-nullable: false
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndAccountAndAccount:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          subtype: unknown
          parentAccountLabel: parentAccountLabel
          name: name
          timeZone: timeZone
          currency: currency
          countries:
          - countries
          - countries
          type: unknown
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalAccount'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndRetailerAndRetailer:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          name: name
          campaignEligibilities:
          - unknown
          - unknown
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalRetailer'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndBrandAndBrand:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          name: name
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalBrand'
      required:
      - id
      - type
      type: object
      x-nullable: false
    ExternalAccount:
      description: A Retail Media Account used to launch campaigns and line items
      example:
        subtype: unknown
        parentAccountLabel: parentAccountLabel
        name: name
        timeZone: timeZone
        currency: currency
        countries:
        - countries
        - countries
        type: unknown
      properties:
        name:
          maxLength: 510
          minLength: 0
          type: string
          x-nullable: false
        type:
          enum:
          - unknown
          - supply
          - demand
          type: string
          x-nullable: false
        subtype:
          enum:
          - unknown
          - brand
          - seller
          type: string
          x-nullable: true
        countries:
          items:
            type: string
            x-nullable: false
          type: array
          x-nullable: false
        currency:
          type: string
          x-nullable: false
        parentAccountLabel:
          maxLength: 510
          minLength: 0
          type: string
          x-nullable: false
        timeZone:
          type: string
          x-nullable: false
      required:
      - countries
      - currency
      - name
      - parentAccountLabel
      - timeZone
      - type
      type: object
      x-nullable: false
    ExternalRetailer:
      description: A Retail Media Retailer used to represent a selection of products
        from multiple brands
      example:
        name: name
        campaignEligibilities:
        - unknown
        - unknown
      properties:
        name:
          maxLength: 100
          type: string
          x-nullable: false
        campaignEligibilities:
          items:
            enum:
            - unknown
            - auction
            - preferred
            type: string
            x-nullable: false
          type: array
          x-nullable: false
      required:
      - name
      type: object
      x-nullable: false
    ExternalBrand:
      description: A Retail Media Brand used to represent a collection of products
        sold under the same umbrella name
      example:
        name: name
      properties:
        name:
          maxLength: 120
          minLength: 0
          type: string
          x-nullable: false
      required:
      - name
      type: object
      x-nullable: false
    JsonApiSingleResponseOfCatalogStatus:
      description: A JSON:API wrapper class to add one JSON:API <typeparamref name="T"
        /> within a data property
      example:
        data:
          attributes:
            fileSizeBytes: 6
            md5Checksum: md5Checksum
            createdAt: 2000-01-23T04:56:07.000+00:00
            currency: currency
            rowCount: 0
            message: message
            status: Unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCatalogStatusAndCatalogStatus'
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiRequestOfCatalogRequest:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with Type, and Attributes properties"
      example:
        data:
          attributes:
            brandIdFilter:
            - brandIdFilter
            - brandIdFilter
            format: json-newline
          type: type
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithoutIdOfCatalogRequestAndCatalogRequest'
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndCatalogStatusAndCatalogStatus:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          fileSizeBytes: 6
          md5Checksum: md5Checksum
          createdAt: 2000-01-23T04:56:07.000+00:00
          currency: currency
          rowCount: 0
          message: message
          status: Unknown
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalCatalogStatus'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithoutIdOfCatalogRequestAndCatalogRequest:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with Type, and\r\nAttributes properties"
      example:
        attributes:
          brandIdFilter:
          - brandIdFilter
          - brandIdFilter
          format: json-newline
        type: type
      properties:
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalCatalogRequest'
      required:
      - type
      type: object
      x-nullable: false
    ExternalCatalogStatus:
      description: The status of an asynchronous request to generate a catalog
      example:
        fileSizeBytes: 6
        md5Checksum: md5Checksum
        createdAt: 2000-01-23T04:56:07.000+00:00
        currency: currency
        rowCount: 0
        message: message
        status: Unknown
      properties:
        status:
          description: An enumeration of the status of the catalog.
          enum:
          - Unknown
          - Pending
          - Success
          - Failure
          - Expired
          type: string
          x-nullable: false
        currency:
          description: An ISO4217 representation of the currency products are listed
            under in this catalog.
          type: string
          x-nullable: false
        rowCount:
          description: "An indication of the number of products contained in this\
            \ catalog. Available when\r\nthis catalog reaches a success status."
          format: int32
          type: integer
          x-nullable: true
        fileSizeBytes:
          description: The size of this catalog in bytes. Available when this catalog
            reaches a success status.
          format: int32
          type: integer
          x-nullable: true
        md5Checksum:
          description: "An MD5 checksum of the catalog for use in confirming complete\
            \ and uncorrupted retrieval.\r\nAvailable when this catalog reaches a\
            \ success status."
          type: string
          x-nullable: false
        createdAt:
          description: The time this catalog was created. Represented as a UTC ISO8601
            string.
          format: date-time
          type: string
          x-nullable: false
        message:
          description: An optional information message intended for developer consumption.
          type: string
          x-nullable: false
      required:
      - createdAt
      - currency
      - fileSizeBytes
      - md5Checksum
      - message
      - rowCount
      - status
      type: object
      x-nullable: false
    ExternalCatalogRequest:
      description: A request for a catalog under the specified format. Currently "json-newline"
        is supported.
      example:
        brandIdFilter:
        - brandIdFilter
        - brandIdFilter
        format: json-newline
      properties:
        format:
          default: json-newline
          enum:
          - json-newline
          type: string
          x-nullable: false
        brandIdFilter:
          items:
            format: long-id
            type: string
          type: array
          x-nullable: false
      type: object
      x-nullable: false
    JsonApiPageResponseOfBalance:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            createdAt: 2000-01-23T04:56:07.000+00:00
            endDate: 2000-01-23
            deposited: 0.8008281904610115
            spent: 6.027456183070403
            name: name
            memo: memo
            poNumber: poNumber
            remaining: 1.4658129805029452
            startDate: 2000-01-23
            status: unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        - attributes:
            createdAt: 2000-01-23T04:56:07.000+00:00
            endDate: 2000-01-23
            deposited: 0.8008281904610115
            spent: 6.027456183070403
            name: name
            memo: memo
            poNumber: poNumber
            remaining: 1.4658129805029452
            startDate: 2000-01-23
            status: unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndBalanceAndBalance'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    PageOfBalanceCampaign:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes: "{}"
          id: id
          type: type
        - attributes: "{}"
          id: id
          type: type
      properties:
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/ExternalBalanceCampaign'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfCampaign:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            budgetRemaining: 6.027456183070403
            clickAttributionWindow: 30D
            drawableBalanceIds:
            - drawableBalanceIds
            - drawableBalanceIds
            type: auction
            accountId: accountId
            createdAt: 2000-01-23T04:56:07.000+00:00
            clickAttributionScope: unknown
            budgetSpent: 0.8008281904610115
            viewAttributionScope: unknown
            promotedBrandIds:
            - promotedBrandIds
            - promotedBrandIds
            viewAttributionWindow: none
            name: name
            status: unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
            budget: 1.4658129805029452
          id: id
          type: type
        - attributes:
            budgetRemaining: 6.027456183070403
            clickAttributionWindow: 30D
            drawableBalanceIds:
            - drawableBalanceIds
            - drawableBalanceIds
            type: auction
            accountId: accountId
            createdAt: 2000-01-23T04:56:07.000+00:00
            clickAttributionScope: unknown
            budgetSpent: 0.8008281904610115
            viewAttributionScope: unknown
            promotedBrandIds:
            - promotedBrandIds
            - promotedBrandIds
            viewAttributionWindow: none
            name: name
            status: unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
            budget: 1.4658129805029452
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCampaignAndCampaign'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiSingleResponseOfCampaign:
      description: A JSON:API wrapper class to add one JSON:API <typeparamref name="T"
        /> within a data property
      example:
        data:
          attributes:
            budgetRemaining: 6.027456183070403
            clickAttributionWindow: 30D
            drawableBalanceIds:
            - drawableBalanceIds
            - drawableBalanceIds
            type: auction
            accountId: accountId
            createdAt: 2000-01-23T04:56:07.000+00:00
            clickAttributionScope: unknown
            budgetSpent: 0.8008281904610115
            viewAttributionScope: unknown
            promotedBrandIds:
            - promotedBrandIds
            - promotedBrandIds
            viewAttributionWindow: none
            name: name
            status: unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
            budget: 1.4658129805029452
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCampaignAndCampaign'
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfStringAndPromotedProduct:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            bidOverride: 0.8008281904610115
          id: id
          type: type
        - attributes:
            bidOverride: 0.8008281904610115
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfStringAndPromotedProductAndPromotedProduct'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    CommonLineItemPagedListResponse:
      description: Data model for a paged list of response resources
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            budgetRemaining: 1.4658129805029452
            createdAt: 2000-01-23T04:56:07.000+00:00
            endDate: 2000-01-23
            campaignId: campaignId
            budgetSpent: 6.027456183070403
            name: name
            targetRetailerId: targetRetailerId
            type: unknown
            startDate: 2000-01-23
            status: unknown
            budget: 0.8008281904610115
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        - attributes:
            budgetRemaining: 1.4658129805029452
            createdAt: 2000-01-23T04:56:07.000+00:00
            endDate: 2000-01-23
            campaignId: campaignId
            budgetSpent: 6.027456183070403
            name: name
            targetRetailerId: targetRetailerId
            type: unknown
            startDate: 2000-01-23
            status: unknown
            budget: 0.8008281904610115
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/ResourceOfCommonLineItem'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
      type: object
      x-nullable: false
    CommonLineItemResponse:
      description: Data model for response resource
      example:
        data:
          attributes:
            budgetRemaining: 1.4658129805029452
            createdAt: 2000-01-23T04:56:07.000+00:00
            endDate: 2000-01-23
            campaignId: campaignId
            budgetSpent: 6.027456183070403
            name: name
            targetRetailerId: targetRetailerId
            type: unknown
            startDate: 2000-01-23
            status: unknown
            budget: 0.8008281904610115
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfCommonLineItem'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
      type: object
      x-nullable: false
    PreferredLineItemResponse:
      description: Data model for response resource
      example:
        data:
          attributes:
            budgetRemaining: 5.962133916683182
            endDate: 2000-01-23
            campaignId: campaignId
            capping:
              count: 0
              type: unknown
            createdAt: 2000-01-23T04:56:07.000+00:00
            pacing: unknown
            budgetSpent: 1.4658129805029452
            name: name
            targetRetailerId: targetRetailerId
            startDate: 2000-01-23
            status: unknown
            budget: 6.027456183070403
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfPreferredLineItem'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
      type: object
      x-nullable: false
    PreferredLineItemPagedListResponse:
      description: Data model for a paged list of response resources
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            budgetRemaining: 5.962133916683182
            endDate: 2000-01-23
            campaignId: campaignId
            capping:
              count: 0
              type: unknown
            createdAt: 2000-01-23T04:56:07.000+00:00
            pacing: unknown
            budgetSpent: 1.4658129805029452
            name: name
            targetRetailerId: targetRetailerId
            startDate: 2000-01-23
            status: unknown
            budget: 6.027456183070403
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        - attributes:
            budgetRemaining: 5.962133916683182
            endDate: 2000-01-23
            campaignId: campaignId
            capping:
              count: 0
              type: unknown
            createdAt: 2000-01-23T04:56:07.000+00:00
            pacing: unknown
            budgetSpent: 1.4658129805029452
            name: name
            targetRetailerId: targetRetailerId
            startDate: 2000-01-23
            status: unknown
            budget: 6.027456183070403
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/ResourceOfPreferredLineItem'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
      type: object
      x-nullable: false
    AuctionLineItemResponse:
      description: Data model for response resource
      example:
        data:
          attributes:
            bidStrategy: conversion
            budgetRemaining: 7.061401241503109
            endDate: 2000-01-23
            campaignId: campaignId
            targetBid: 5.637376656633329
            createdAt: 2000-01-23T04:56:07.000+00:00
            budgetSpent: 2.3021358869347655
            maxBid: 0.8008281904610115
            name: name
            isAutoDailyPacing: false
            targetRetailerId: targetRetailerId
            dailyPacing: 5.962133916683182
            startDate: 2000-01-23
            monthlyPacing: 1.4658129805029452
            budget: 6.027456183070403
            status: unknown
            updatedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfAuctionLineItem'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          x-nullable: false
      type: object
      x-nullable: false
    AuctionLineItemPagedListResponse:
      description: Data model for a paged list of response resources
[...]
