openapi: 3.0.1
info:
  description: Criteo API - MarketingSolutions
  title: Criteo API
  version: 2024-04
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /2024-04/audiences/{audience-segment-id}/contactlist:
    delete:
      description: Delete all identifiers from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The Contact List was emptied
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove identifiers to or from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Audience 123 not found
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/{audience-segment-id}/contact-list:
    delete:
      description: Delete all identifiers from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The Contact List was emptied
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove identifiers to or from a contact list audience-segment.
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Audience 123 not found
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/marketing-solutions/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/{ad-set-id}/audience:
    put:
      description: Link or unlink an audience with an ad set
      operationId: updateAdSetAudience
      parameters:
      - description: The ad set ID.
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
        description: Ad set-Audience update request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetAudienceLinkEntityV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetAudienceLinkEntityV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetAudienceLinkEntityV1Response'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: bulkUpdateAudienceSegments
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkUpdateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkUpdateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkUpdateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/compute-sizes:
    post:
      description: Gets the size of all segments. An error is returned for those whose
        size calculation is not supported.
      operationId: computeAudienceSegmentsSizes
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentComputeSizesInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentComputeSizesInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentComputeSizesInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns their\
        \ IDs. For those that cannot be created, one or multiple errors are returned."
      operationId: bulkCreateAudienceSegments
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkCreateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkCreateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkCreateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/delete:
    post:
      description: Delete the segments associated to the given audience IDs.
      operationId: bulkDeleteAudienceSegments
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkDeleteInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkDeleteInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkDeleteInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSegmentIdEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentIdEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/estimate-size:
    post:
      description: Gets the size estimation of a non existent segment. An error is
        returned when size calculation is not supported.
      operationId: estimateAudienceSegmentSize
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentEstimateSizeInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentEstimateSizeInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentEstimateSizeInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEstimationV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEstimationV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEstimationV1Response'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/in-market-brands:
    get:
      description: Returns a list with all available in-market brands that can be
        used to define an in-market segment.
      operationId: getAudienceSegmentsInMarketBrands
      parameters:
      - description: The advertiser ID.
        explode: true
        in: query
        name: advertiser-id
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse'
          description: Success
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/in-market-interests:
    get:
      description: Returns a list with all available in-market interests that can
        be used to define an in-market segment. These in-market interests correspond
        to the Google product taxonomy.
      operationId: getAudienceSegmentsInMarketInterests
      parameters:
      - description: The advertiser ID.
        explode: true
        in: query
        name: advertiser-id
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse'
          description: Success
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudienceSegments
      parameters:
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audience-segments/{audience-segment-id}/contact-list/statistics:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - description: The segment ID.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContactListStatisticsEntityV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListStatisticsEntityV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactListStatisticsEntityV1Response'
          description: Success
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /2024-04/marketing-solutions/audiences:
    patch:
      description: "Updates the properties of all audiences with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: bulkUpdateAudiences
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceBulkUpdateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkUpdateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkUpdateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceBulkUpdateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audiences/compute-sizes:
    post:
      description: Gets the size of all audiences. An error is returned for those
        whose size calculation is not supported.
      operationId: computeAudiencesSizes
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceComputeSizesInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceComputeSizesInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceComputeSizesInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSizeEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audiences/create:
    post:
      description: "Creates all audiences with a valid configuration, and returns\
        \ their IDs. For those that cannot be created, one or multiple errors are\
        \ returned."
      operationId: bulkCreateAudiences
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceBulkCreateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkCreateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkCreateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceBulkCreateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audiences/delete:
    post:
      description: Deletes the audiences associated to the given audience IDs.
      operationId: bulkDeleteAudiences
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceBulkDeleteInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkDeleteInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkDeleteInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceBulkDeleteInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceIdEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceIdEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceIdEntityV1ListResponse'
          description: Success
        "204":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audiences/estimate-size:
    post:
      description: Gets the size estimation of a non existent audience. An error is
        returned when size calculation is not supported.
      operationId: estimateAudienceSize
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceEstimateSizeInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceEstimateSizeInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceEstimateSizeInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceSizeEstimationV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEstimationV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEstimationV1Response'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudiences
      parameters:
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AudienceSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/AudienceSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets:
    patch:
      deprecated: true
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
        description: List of adsets to patch.
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of patched adSets.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    post:
      deprecated: true
      description: Create the specified ad set
      operationId: CreateAdSet
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
        description: the ad sets to create
        required: true
        x-bodyName: adSet
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
          description: The ad set that has been created and errors / warnings
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/search:
    post:
      description: Search for ad sets
      operationId: SearchAdSetsV23Q1
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV23Q1'
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV23Q1'
          text/json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV23Q1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV23Q1'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSetV23Q1'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSetV23Q1'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSetV23Q1'
          description: data for the ad sets
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/{ad-set-id}:
    get:
      description: Get the data for the specified ad set
      operationId: GetAdSetV23Q1
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV23Q1'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV23Q1'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV23Q1'
          description: data for the ad set
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/{ad-set-id}/category-bids:
    get:
      description: Get the Category Bids for all valid Categories associated to an
        Ad Set
      operationId: GetCategoryBidList
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
          description: List of Category Bids for all valid Categories associated to
            an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Category Bids for one or more Categories in a single request.
        Partial success policy is followed.
      operationId: PatchCategoryBidList
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
        x-bodyName: categoryBidsToUpdate
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
          description: List of updated Category Bids for given Categories associated
            to an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers:
    get:
      description: Get the Display Multipliers for all valid Categories associated
        to an Ad Set
      operationId: GetDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
          description: List of Display Multipliers for all valid Categories associated
            to an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Display Multipliers for one or more Categories in a single
        request. Partial success policy is followed.
      operationId: PatchDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
        x-bodyName: displayMultipliersToUpdate
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
          description: List of updated Display Multipliers for given Categories associated
            to an Ad Set.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/campaigns:
    patch:
      description: Patch a list of Campaigns.
      operationId: PatchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
        description: List of campaigns to patch.
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
          description: List of patched campaigns.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    post:
      description: Create the specified campaign
      operationId: CreateCampaign
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        description: the campaigns to create
        required: true
        x-bodyName: marketingCampaign
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
          description: The campaign that has been created and errors / warnings
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/campaigns/search:
    post:
      description: Search for campaigns
      operationId: SearchCampaignsV23Q1
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequestV23Q1'
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequestV23Q1'
          text/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequestV23Q1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequestV23Q1'
        description: filters on campaigns
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1ListResponse'
          description: data for the campaigns
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/campaigns/{campaign-id}:
    get:
      description: Get the data for the specified campaign
      operationId: GetCampaignV23Q1
      parameters:
      - description: Id of the campaign
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
          description: data for the campaign
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/marketing-solutions/ads/{id}:
    delete:
      description: Delete an Ad
      operationId: DeleteAd
      parameters:
      - description: The ad identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: The ad was deleted.
        "400":
          description: The request contained invalid parameters.
        "401":
          description: The request was not properly authorized.
        "500":
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get an Ad with its id
      operationId: GetAd
      parameters:
      - description: The ad identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The found ad is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
  /2024-04/marketing-solutions/advertisers/{advertiser-id}/ads:
    get:
      description: Get the list of self-services Ads for a given advertiser
      operationId: GetAdvertiserAds
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of ads to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-nullable: true
      - description: The (zero-based) offset into the collection of ads. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
          description: The list of self-services Ads is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create an Ad
      operationId: CreateAdvertiserAd
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The created Ad is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/advertisers/{advertiser-id}/coupons:
    get:
      description: Get the list of self-services Coupons for a given advertiser
      operationId: GetAdvertiserCoupons
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of coupons to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-nullable: true
      - description: The (zero-based) offset into the collection of coupons. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
          description: The list of self-services Coupons is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Coupon
      operationId: CreateAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The created Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/advertisers/{advertiser-id}/coupons-supported-sizes:
    get:
      description: Get the list of Coupon supported sizes
      operationId: GetAdvertiserCouponSupportedSizes
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ad set id on which you want to check the Coupon supported
          sizes.
        explode: true
        in: query
        name: ad-set-id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
          description: The list of Coupon supported sizes is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /2024-04/marketing-solutions/advertisers/{advertiser-id}/coupons/{id}:
    delete:
      description: Delete a Coupon
      operationId: DeleteAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The Coupon was deleted.
        "400":
          description: The request contained invalid parameters.
        "403":
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Coupon with its id
      operationId: GetAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The found Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Coupon
      operationId: EditAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The edited Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/advertisers/{advertiser-id}/coupons/{id}/preview:
    get:
      description: Get the preview of a specific Coupon
      operationId: GetAdvertiserCouponPreview
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the coupon to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The height of the coupon to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: The preview HTML of a specific Coupon is returned.
        "400":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /2024-04/marketing-solutions/advertisers/{advertiser-id}/creatives:
    get:
      description: Get the list of self-services Creatives for a given advertiser
      operationId: GetAdvertiserCreatives
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of creatives to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-nullable: true
      - description: The (zero-based) offset into the collection of creatives. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreative'
          description: The list of self-services Creatives is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Creative
      operationId: CreateAdvertiserCreative
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The created creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/creatives/{id}:
    delete:
      description: Delete a Creative if there are no ads binded to it
      operationId: DeleteCreative
      parameters:
      - description: The creative identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The creative was deleted.
        "400":
          description: The request contained invalid parameters.
        "401":
          description: The request was not properly authorized.
        "500":
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Creative with its id
      operationId: GetCreative
      parameters:
      - description: The creative identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The found creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Creative
      operationId: EditCreative
      parameters:
      - description: The creative identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The edited creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/marketing-solutions/creatives/{id}/preview:
    post:
      description: Get the preview of a specific Creative
      operationId: GenerateCreativePreview
      parameters:
      - description: The Creative identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the Creative to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The height of the Creative to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: The preview HTML of a specific Creative is returned.
        "400":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /2024-04/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser id to fetch the transparency data.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            example:
              shouldDisplayProductIds: false
              startDate: 2024-04-24T00:00:00.0000000+02:00
              endDate: 2024-04-27T00:00:00.0000000+02:00
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/json:
            example:
              shouldDisplayProductIds: false
              startDate: 2024-04-24T00:00:00.0000000+02:00
              endDate: 2024-04-27T00:00:00.0000000+02:00
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          text/json:
            example:
              shouldDisplayProductIds: false
              startDate: 2024-04-24T00:00:00.0000000+02:00
              endDate: 2024-04-27T00:00:00.0000000+02:00
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/*+json:
            example:
              shouldDisplayProductIds: false
              startDate: 2024-04-24T00:00:00.0000000+02:00
              endDate: 2024-04-27T00:00:00.0000000+02:00
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
        description: The query message.
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
          description: Success
        "400":
          content:
            text/plain:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            application/xml:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/xml:
[...]
