openapi: 3.0.1
info:
  description: Criteo publicly exposed API
  title: Criteo API
  version: 2021-10
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /oauth2/token:
    post:
      description: Creates a token when the supplied client credentials are valid
      operationId: CreateToken
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                client_id:
                  description: API Client-Id or Username
                  type: string
                client_secret:
                  description: API Client secret or password
                  format: password
                  type: string
                grant_type:
                  default: client_credentials
                  description: Other grant types are not available
                  type: string
              type: object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtModel'
            application/json:
              schema:
                $ref: '#/components/schemas/JwtModel'
            text/json:
              schema:
                $ref: '#/components/schemas/JwtModel'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: Bad request
      tags:
      - OAuth
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /2020-10/me:
    get:
      operationId: GetCurrentApplication
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          description: Not Found
      tags:
      - OAuth
      x-accepts: application/json
  /2021-10/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: AccountsApi_GetApiV1ExternalAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/accounts/{accountId}/retailers:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountRetailersByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/accounts/{accountId}/audiences:
    get:
      description: Get a page of audiences for a given account ID
      operationId: AudienceApi_GetAudiencesByAccountId
      parameters:
      - description: External account ID which owns audience.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-example: "68004146450571264"
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-example: 25
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-example: 0
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPageOfAudiencesByAccountIdResponse'
          description: A page of audiences for the supplied account.
        "400":
          content:
            application/json: {}
          description: Missing or invalid account ID.
        "404":
          content:
            application/json: {}
          description: The audience was not found.
        "406":
          content:
            application/json: {}
          description: The Accept header must contain application/json.
        "415":
          content:
            application/json: {}
          description: The Content-Type header must be application/json if present.
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an audience for a given account ID
      operationId: AudienceApi_CreateAudience
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-example: "68004146450571264"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRetailMediaAudienceResponse'
          description: The audience that was just created.
        "400":
          content:
            application/json: {}
          description: "Missing or invalid account ID. - OR - Missing or invalid retailerID\
            \ field. - OR - Missing or invalid name field. Name should be less than\
            \ 255 characters. - OR - Missing or invalid userType field. Valid values\
            \ are: 'buy', 'view'. - OR - The retailerTaxonomyIds is not a valid list\
            \ of IDs or may contain more than 100 elements. - OR - Missing or invalid\
            \ lookbackDays field.\_ Valid values are:\_7, 14,\_ 30, 45, 60, 90, 120,\
            \ 150 or 180. - OR - Exactly one of retailerTaxonomyIds or globalBrandIds\
            \ must be specified, but not both. - OR - The retailer is invalid because\
            \ it is not live - OR - The globalBrandIds is not a valid list of IDs\
            \ or may contain more than 100 elements."
        "404":
          content:
            application/json: {}
          description: The audience was not found. - OR - You do not have permission
            to access these global brands.
        "406":
          content:
            application/json: {}
          description: The Accept header must contain application/json.
        "409":
          content:
            application/json: {}
          description: An audience name should be unique per account.
        "415":
          content:
            application/json: {}
          description: The Content-Type header must be application/json if present.
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/accounts/{accountId}/catalogs:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: CatalogApi_GetApiV1ExternalCatalogStatusByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request found.
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/catalogs/{catalogId}/output:
    get:
      description: "Output the indicated catalog. Catalogs are only available for\
        \ retrieval when their associated status request\r\nis at a Success status.\r\
        \nProduces application/x-json-stream of v2021_07 CatalogProduct json objects."
      operationId: CatalogApi_GetApiV1ExternalCatalogOutputByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/x-json-stream: {}
            application/json: {}
          description: Catalog download initiated.
        "400":
          content:
            application/x-json-stream: {}
            application/json: {}
          description: "The indicated catalog is not available for retrieval, wait\
            \ for a success status."
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/retailers/{retailerId}/pages:
    get:
      description: Get the page types available for the given retailer
      operationId: RetailerApi_GetApi202110ExternalRetailerPagesByRetailerId
      parameters:
      - description: The retailers to fetch pages for
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalRetailerPages202110'
          description: Pages fetched successfully
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/accounts/{account-id}/creatives:
    get:
      description: Get account creatives
      operationId: CreativesApi_GetApi202110ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/accounts/{accountId}/campaigns:
    get:
      description: Gets page of campaign objects for the given account id
      operationId: CampaignsApi_GetApiV1ExternalAccountCampaignsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaign'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new campaign with the specified settings
      operationId: CampaignsApi_PostApiV1ExternalAccountCampaignsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPostCampaign'
        description: The campaign settings to create a campaign with
        x-nullable: false
        x-bodyName: campaign
      responses:
        "201":
          content:
            application/json: {}
          description: Success
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaign'
          description: OK
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/campaigns/{campaignId}:
    get:
      description: Gets the campaign for the given campaign id
      operationId: CampaignsApi_GetApiV1ExternalCampaignByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaign'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the campaign for the given campaign id
      operationId: CampaignsApi_PutApiV1ExternalCampaignByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPutCampaign'
        description: The campaign settings to update that campaign with
        x-nullable: false
        x-bodyName: campaign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaign'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/accounts/{account-id}/line-items:
    get:
      description: Gets page of line item objects for the given account id
      operationId: GetApiV2ExternalAccountLineItemsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The campaign ids that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToCampaignId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The campaign types that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToType
        required: false
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          type: string
        style: form
        x-nullable: true
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/line-items/{line-item-id}:
    get:
      description: Gets the line item for the given line item id
      operationId: GetApiV2ExternalLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/auction-line-items/{line-item-id}:
    get:
      description: Gets the auction line item for the given line item id
      operationId: GetApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the auction line item for the given line item id
      operationId: PutApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemUpdateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/campaigns/{campaign-id}/auction-line-items:
    get:
      description: Gets page of auction line item objects for the given campaign id
      operationId: GetApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: PostApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemCreateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/line-items/{line-item-id}/products:
    get:
      description: This endpoint gets the promoted products on the specified line
        item.
      operationId: PromotedProductsApi_GetApi202110ExternalLineItemProductsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProduct202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/line-items/{line-item-id}/products/append:
    post:
      description: This endpoint appends one or more products to promote on the specified
        line item.  The resulting state of the line item is returned.
      operationId: PromotedProductsApi_PostApi202110ExternalLineItemProductsAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProduct202110ListRequest'
        description: the products to append to this line item
        x-nullable: false
        x-bodyName: promotedProductsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProduct202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/line-items/{line-item-id}/products/delete:
    post:
      description: This endpoint removes one or more products from promotion on the
        specified line item.  The resulting state of the line item is returned.
      operationId: PromotedProductsApi_PostApi202110ExternalLineItemProductsDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProduct202110ListRequest'
        x-nullable: false
        x-bodyName: promotedProductsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProduct202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: LineItemsApi_GetApi202110ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: LineItemsApi_PutApi202110ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModel202110Request'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: LineItemsApi_GetApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110PagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110PagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: LineItemsApi_PostApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModel202110Request'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/accounts/{account-id}/balances:
    get:
      description: Gets page of balance objects for the given account id
      operationId: BalancesApi_GetApi202110ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/balances/{balance-id}/campaigns:
    get:
      description: Gets page of campaigns for the given balanceId
      operationId: BalancesApi_GetApi202110ExternalBalanceCampaignsByBalanceId
      parameters:
      - description: The balance to get campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/balances/{balance-id}/campaigns/append:
    post:
      description: appends one or more campaigns to the specified balance
      operationId: BalancesApi_PostApi202110ExternalBalanceCampaignsAppendByBalanceId
      parameters:
      - description: The balance to add campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/balances/{balance-id}/campaigns/delete:
    post:
      description: Removes one or more campaigns on the specified balance
      operationId: BalancesApi_PostApi202110ExternalBalanceCampaignsDeleteByBalanceId
      parameters:
      - description: The balance to remove campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/reports/campaigns:
    post:
      description: Request a campaign report
      operationId: requestCampaignReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeReportRequest'
        description: "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\"\
          ,\n    \"attributes\": {\n      \"reportType\": string, // the name of the\
          \ report being requested\n      //only one of \"id\" or \"ids\" can be provided\
          \ for a request\n      \"id\": string, // the campaign id to select\n  \
          \    \"ids\": Array[string], //the campaign ids to select\n      \"startDate\"\
          : string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD\
          \ format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo',\
          \ 'America/New_York'\n      // both attribution windows must be specified\
          \ when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\"\
          , or \"30D\"  // optional. defaults to campaign's click attribution window\n\
          \      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"\
          30D\" // optional. defaults to campaign's view attribution window\n    \
          \  \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\"\
          \ or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeReportStatus'
          description: Returns the status of the report
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
      tags:
      - Analytics
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/reports/line-items:
    post:
      description: Request a line item report
      operationId: requestLineItemReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvelopeReportRequest'
        description: "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\"\
          ,\n    \"attributes\": {\n      \"reportType\": string, // the name of the\
          \ report being requested\n      //only one of \"id\" or \"ids\" can be provided\
          \ for a request\n      \"id\": string, // the line item id to select\n \
          \     \"ids: Array[string] // the line item ids to select\n      \"startDate\"\
          : string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD\
          \ format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo',\
          \ 'America/New_York'\n      // both attribution windows must be specified\
          \ when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\"\
          , or \"30D\"  // optional. defaults to campaign's click attribution window\n\
          \      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"\
          30D\" // optional. defaults to campaign's view attribution window\n    \
          \  \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\"\
          \ or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeReportStatus'
          description: Returns the status of the report
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
      tags:
      - Analytics
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/reports/{reportId}/output:
    get:
      description: Request the report output
      operationId: getReportOutput
      parameters:
      - description: report id
        example: ee439121-13e3-4734-9f67-c504dd921a41
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                type: integer
          description: The output
          headers:
            Content-Disposition:
              description: Returns a filename for the output
              example: inline; filename=data_<reportId>.csv
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
        "404":
          description: ReportId not found
      tags:
      - Analytics
      x-accepts: application/octet-stream
  /2021-10/retail-media/reports/{reportId}/status:
    get:
      description: Get the status of the report
      operationId: getReportStatus
      parameters:
      - description: report id
        example: ee439121-13e3-4734-9f67-c504dd921a41
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeReportStatus'
          description: Returns the status of the report
        "401":
          description: Missing Authorization or token invalid
        "403":
          description: Must have access to RetailMedia accounts
        "404":
          description: ReportId not found
      tags:
      - Analytics
      x-accepts: application/json
  /2021-10/retail-media/auction-line-items/{line-item-id}/targeting/keywords:
    get:
      description: This endpoint gets the keyword target on the specified line item.
      operationId: TargetingApi_GetApi202110ExternalAuctionLineItemTargetingKeywordsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /2021-10/retail-media/auction-line-items/{line-item-id}/targeting/keywords/append:
    post:
      description: This endpoint appends one or more keywords to targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTarget202110Request'
        x-nullable: false
        x-bodyName: keywordsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/auction-line-items/{line-item-id}/targeting/keywords/delete:
    post:
      description: This endpoint removes one or more keywords from targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTarget202110Request'
        x-nullable: false
        x-bodyName: keywordsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/stores:
    get:
      description: This endpoint gets the store target on the specified line item.
      operationId: TargetingApi_GetApi202110ExternalPreferredLineItemTargetingStoresByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint sets the scope of the store target on the specified
        line item.
      operationId: TargetingApi_PutApi202110ExternalPreferredLineItemTargetingStoresByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreTarget202110Request'
        description: The store target to set the scope for
        x-nullable: false
        x-bodyName: storeTarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/stores/append:
    post:
      description: This endpoint appends one or more store ids to targeting on the
        specified line item.  The resulting state of the store target is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingStoresAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreIdsUpdateModel202110Request'
        description: Store ids to append to the target
        x-nullable: false
        x-bodyName: idsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/stores/delete:
    post:
      description: This endpoint removes one or more store ids from targeting on the
        specified line item.  The resulting state of the store target is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingStoresDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreIdsUpdateModel202110Request'
        description: Store ids to remove from the target
        x-nullable: false
        x-bodyName: idsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket:
    get:
      description: This endpoint gets the add to basket target on the specified line
        item.
      operationId: TargetingApi_GetApi202110ExternalPreferredLineItemTargetingAddToBasketByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint sets the scope of the add to basket target on the
        specified line item.
      operationId: TargetingApi_PutApi202110ExternalPreferredLineItemTargetingAddToBasketByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketTarget202110Request'
        description: The add to basket target to set the scope for
        x-nullable: false
        x-bodyName: addToBasketTarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/append:
    post:
      description: This endpoint appends one or more add to basket ids to targeting
        on the specified line item.  The resulting state of the add to basket target
        is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAddToBasketAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        description: Ids to append to the target
        x-nullable: false
        x-bodyName: idsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/delete:
    post:
      description: This endpoint removes one or more add to basket ids from targeting
        on the specified line item.  The resulting state of the add to basket target
        is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAddToBasketDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        description: Ids to remove from the target
        x-nullable: false
        x-bodyName: idsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/audiences:
    get:
      description: This endpoint gets the audience target on the specified line item.
      operationId: TargetingApi_GetApi202110ExternalPreferredLineItemTargetingAudiencesByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint sets the scope of the audience target on the specified
        line item.
      operationId: TargetingApi_PutApi202110ExternalPreferredLineItemTargetingAudiencesByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTarget202110Request'
        description: The audience target to set the scope for
        x-nullable: false
        x-bodyName: audienceTarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/append:
    post:
      description: This endpoint appends one or more audiences ids to targeting on
        the specified line item.  The resulting state of the audience target is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAudiencesAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        description: Audience ids to append to the target
        x-nullable: false
        x-bodyName: idsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
  /2021-10/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/delete:
    post:
      description: This endpoint removes one or more audiences ids from targeting
        on the specified line item.  The resulting state of the audience target is
        returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAudiencesDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        description: Audience ids to remove from the target
        x-nullable: false
        x-bodyName: idsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-contentType: application/json
      x-accepts: application/json
components:
  requestBodies:
    inline_object:
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/inline_object'
  schemas:
    JwtModel:
      example:
        access_token: access_token
        token_type: token_type
        expires_in: 0
      properties:
        access_token:
          description: The access token issued by the authorization server.
          type: string
        token_type:
          description: The type of the token issued.
          type: string
        expires_in:
          description: "The lifetime in seconds of the access token.For\r\nexample,\
            \ the value \"3600\" denotes that the access token will\r\nexpire in one\
            \ hour from the time the response was generated.\r\nIf omitted, the authorization\
            \ server SHOULD provide the\r\nexpiration time via other means or document\
            \ the default value."
          format: int32
          type: integer
      type: object
    ApplicationSummaryModelResponse:
      example:
        data:
          attributes:
            organizationId: 0
            name: name
            description: description
            criteoService: criteoService
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      example:
        attributes:
          organizationId: 0
          name: name
          description: description
          criteoService: criteoService
        id: id
        type: type
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    ApplicationSummaryModel:
      example:
        organizationId: 0
        name: name
        description: description
        criteoService: criteoService
      properties:
        name:
          type: string
        organizationId:
          format: int32
          type: integer
        description:
          type: string
        criteoService:
          type: string
      type: object
      x-criteo-canonical:
        infoType: entity
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceIdentifier:
          description: The request correlation ID this problem comes from.
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          type: string
        title:
          description: A short human-readable description of the problem type
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          type: object
        stackTrace:
          type: string
      type: object
    OAuth2Error:
      description: Represents an error response from an OAuth2 flow
      properties:
        error:
          type: string
        error_description:
          type: string
      required:
      - error
      type: object
    JsonApiPageResponseOfAccount:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            subtype: unknown
            parentAccountLabel: parentAccountLabel
            name: name
            timeZone: timeZone
            currency: currency
            countries:
            - countries
            - countries
            type: unknown
          id: id
          type: type
        - attributes:
            subtype: unknown
            parentAccountLabel: parentAccountLabel
            name: name
            timeZone: timeZone
            currency: currency
            countries:
            - countries
            - countries
            type: unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndAccountAndAccount'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfRetailer:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            name: name
          id: id
          type: type
        - attributes:
            name: name
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndRetailerAndRetailer'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    JsonApiPageResponseOfBrand:
      description: A wrapper class to return a single page of <typeparamref name="T"
        /> with metadata
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            name: name
          id: id
          type: type
        - attributes:
            name: name
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        data:
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndBrandAndBrand'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    PageMetadata:
      description: Metadata related to the current request
      example:
        currentPageSize: 6
        previousPage: previousPage
        nextPage: nextPage
        totalPages: 5
        totalItemsAcrossAllPages: 0
        currentPageIndex: 1
      properties:
        totalItemsAcrossAllPages:
          format: int64
          type: integer
          x-nullable: true
        currentPageSize:
          format: int32
          type: integer
          x-nullable: false
        currentPageIndex:
          format: int32
          type: integer
          x-nullable: false
        totalPages:
          format: int64
          type: integer
          x-nullable: true
        nextPage:
          type: string
          x-nullable: false
        previousPage:
          type: string
          x-nullable: false
      required:
      - currentPageIndex
      - currentPageSize
      type: object
      x-nullable: false
    CommonError:
      description: A JSON:API Common error structure
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
          x-nullable: false
        type:
          description: (REQUIRED) The classification of the error.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          x-nullable: false
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kabab-case."
          type: string
          x-nullable: false
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem.
          type: string
          x-nullable: false
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type."
          type: string
          x-nullable: false
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem.
          type: string
          x-nullable: false
        source:
          additionalProperties:
            type: string
            x-nullable: false
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
          x-nullable: false
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          type: string
          x-nullable: false
      type: object
      x-nullable: false
    CommonWarning:
      description: A JSON:API Base common warning
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
          x-nullable: false
        type:
          description: (REQUIRED) The classification of the error.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          x-nullable: false
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kabab-case."
          type: string
          x-nullable: false
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem.
          type: string
          x-nullable: false
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type."
          type: string
          x-nullable: false
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem.
          type: string
          x-nullable: false
        source:
          additionalProperties:
            type: string
            x-nullable: false
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
          x-nullable: false
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          type: string
          x-nullable: false
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndAccountAndAccount:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          subtype: unknown
          parentAccountLabel: parentAccountLabel
          name: name
          timeZone: timeZone
          currency: currency
          countries:
          - countries
          - countries
          type: unknown
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalAccount'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndRetailerAndRetailer:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          name: name
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalRetailer'
      required:
      - id
      - type
      type: object
      x-nullable: false
    JsonApiBodyWithIdOfInt64AndBrandAndBrand:
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\"\
        \ /> with external Id, Type, and\r\nAttributes properties"
      example:
        attributes:
          name: name
        id: id
        type: type
      properties:
        id:
          format: long-id
          type: string
          x-nullable: false
        type:
          type: string
          x-nullable: false
        attributes:
          $ref: '#/components/schemas/ExternalBrand'
      required:
      - id
      - type
      type: object
      x-nullable: false
    ExternalAccount:
      description: A Retail Media Account used to launch campaigns and line items
      example:
        subtype: unknown
        parentAccountLabel: parentAccountLabel
        name: name
        timeZone: timeZone
        currency: currency
        countries:
        - countries
        - countries
        type: unknown
      properties:
        name:
          maxLength: 510
          minLength: 0
          type: string
          x-nullable: false
        type:
          enum:
          - unknown
          - supply
          - demand
          type: string
          x-nullable: false
        subtype:
          enum:
          - unknown
          - brand
          - seller
          type: string
          x-nullable: true
        countries:
          items:
            type: string
            x-nullable: false
          type: array
          x-nullable: false
        currency:
          type: string
          x-nullable: false
        parentAccountLabel:
          maxLength: 510
          minLength: 0
          type: string
          x-nullable: false
        timeZone:
          type: string
          x-nullable: false
      required:
      - countries
      - currency
      - name
      - parentAccountLabel
      - timeZone
      - type
      type: object
      x-nullable: false
    ExternalRetailer:
      description: A Retail Media Retailer used to represent a selection of products
        from multiple brands
      example:
        name: name
      properties:
        name:
          maxLength: 100
          type: string
          x-nullable: false
      required:
      - name
      type: object
      x-nullable: false
    ExternalBrand:
      description: A Retail Media Brand used to represent a collection of products
        sold under the same umbrella name
      example:
        name: name
      properties:
        name:
          maxLength: 120
          minLength: 0
          type: string
          x-nullable: false
      required:
      - name
      type: object
      x-nullable: false
    GetPageOfAudiencesByAccountIdResponse:
      description: Response for page of audiences by given account
      example:
        metadata:
          currentPageSize: 6
          previousPage: previousPage
          nextPage: nextPage
          totalPages: 5
          totalItemsAcrossAllPages: 0
          currentPageIndex: 1
        data:
        - attributes:
            categoryIds:
            - categoryIds
            - categoryIds
            name: name
            userType: viewer
            retailerId: "68004146450571264"
            brandIds:
            - brandIds
            - brandIds
            lookbackWindow: P7D
          id: "314159"
          type: RetailMediaAudience
        - attributes:
            categoryIds:
            - categoryIds
            - categoryIds
            name: name
            userType: viewer
            retailerId: "68004146450571264"
            brandIds:
            - brandIds
            - brandIds
            lookbackWindow: P7D
          id: "314159"
          type: RetailMediaAudience
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          description: data
          items:
            $ref: '#/components/schemas/RetailMediaAudience'
          readOnly: true
          type: array
        errors:
          description: errors
          items:
            $ref: '#/components/schemas/CommonError'
          readOnly: true
          type: array
        warnings:
          description: warnings
          items:
            $ref: '#/components/schemas/CommonWarning'
          readOnly: true
          type: array
        metadata:
          $ref: '#/components/schemas/PageMetadata'
      required:
      - data
      - metadata
      type: object
    CreateRetailMediaAudienceResponse:
      description: Response of CreateAudienceRequest
      example:
        data:
          attributes:
            categoryIds:
            - categoryIds
            - categoryIds
            name: name
            userType: viewer
            retailerId: "68004146450571264"
            brandIds:
            - brandIds
            - brandIds
            lookbackWindow: P7D
          id: "314159"
          type: RetailMediaAudience
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/RetailMediaAudience'
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
      required:
      - data
      type: object
    CreateAudienceRequest:
      description: Request to create an audience
      example:
        data:
          attributes:
            categoryIds:
            - categoryIds
            - categoryIds
            name: name
            userType: viewer
            retailerId: "68004146450571264"
            brandIds:
            - brandIds
            - brandIds
            lookbackWindow: P7D
          type: RetailMediaAudience
      properties:
        data:
          $ref: '#/components/schemas/CreateAudienceBody'
      required:
      - data
      type: object
    RetailMediaAudience:
      description: Retail Media audience
      example:
        attributes:
          categoryIds:
          - categoryIds
          - categoryIds
          name: name
          userType: viewer
          retailerId: "68004146450571264"
          brandIds:
          - brandIds
          - brandIds
          lookbackWindow: P7D
        id: "314159"
        type: RetailMediaAudience
      properties:
        type:
          description: the name of the entity type
          example: RetailMediaAudience
          type: string
        id:
          description: Unique ID of this audience.
          example: "314159"
          format: int64
          type: string
        attributes:
          $ref: '#/components/schemas/RetailMediaAudienceAttributes'
      required:
      - attributes
      - id
      - type
      type: object
    CreateAudienceBody:
      description: Request body of CreateAudienceRequest
      example:
        attributes:
          categoryIds:
          - categoryIds
          - categoryIds
          name: name
          userType: viewer
          retailerId: "68004146450571264"
          brandIds:
          - brandIds
          - brandIds
          lookbackWindow: P7D
        type: RetailMediaAudience
      properties:
        type:
          description: the name of the entity type
          example: RetailMediaAudience
          type: string
        attributes:
          $ref: '#/components/schemas/RetailMediaAudienceAttributes'
      required:
      - attributes
      - type
      type: object
    RetailMediaAudienceAttributes:
      description: Parameters needed to create an audience
      example:
        categoryIds:
        - categoryIds
        - categoryIds
        name: name
        userType: viewer
        retailerId: "68004146450571264"
        brandIds:
        - brandIds
        - brandIds
        lookbackWindow: P7D
      properties:
        userType:
          description: Type of the user
          enum:
          - viewer
          - buyer
          example: viewer
          type: string
        lookbackWindow:
          description: Length of lookback window
          enum:
          - P7D
          - P14D
          - P30D
          - P45D
          - P60D
          - P90D
          - P120D
          - P150D
          - P180D
          example: P7D
          type: string
        brandIds:
          description: The brands to target
          items:
            type: string
          type: array
        categoryIds:
          description: The categories to target
          items:
            type: string
          type: array
        retailerId:
          description: ID of the retailer associated with this audience
          example: "68004146450571264"
          type: string
        name:
          description: name
          type: string
      required:
      - lookbackWindow
      - name
      - retailerId
      - userType
      type: object
    JsonApiSingleResponseOfCatalogStatus:
      description: A JSON:API wrapper class to add one JSON:API <typeparamref name="T"
        /> within a data property
      example:
        data:
          attributes:
            fileSizeBytes: 6
            md5Checksum: md5Checksum
            createdAt: 2000-01-23T04:56:07.000+00:00
            currency: currency
            rowCount: 0
            message: message
            status: Unknown
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCatalogStatusAndCatalogStatus'
        errors:
          items:
            $ref: '#/components/schemas/CommonError'
          type: array
          x-nullable: false
        warnings:
          items:
            $ref: '#/components/schemas/CommonWarning'
          type: array
          x-nullable: false
      required:
      - data
      type: object
      x-nullable: false
    ExternalRetailerPages202110:
      description: Wraps a list of valid pages for a retailer
      example:
        pageTypes:
        - pageTypes
        - pageTypes
      properties:
        pageTypes:
          description: List of valid pages for a retailer
          items:
[...]
