openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: 2025-01
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /2025-01/retail-media/accounts/{accountId}/grant-consent:
    post:
      description: Grant consent to a business application on behalf of a Private
        Market demand account
      operationId: GrantConsent
      parameters:
      - description: The demand account ID on which to grant consent
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          application/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          text/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
        x-bodyName: grantConsentInput
      responses:
        "204":
          description: Success
      summary: ""
      tags:
      - Accounts
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove:
    post:
      description: "Add/remove identifiers to or from a retail-media contact list\
        \ audience-segment, with external audience segment id."
      operationId: updateContactListIdentifiers
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                type: AddRemoveContactlistResult
                data:
                  contactListId: 568708742535471104
                  operation: add
                  requestDate: 2018-12-10T10:00:50.0000000+00:00
                  identifierType: madid
                  nbValidIdentifiers: 7343
                  nbInvalidIdentifiers: 13
                  sampleInvalidIdentifiers:
                  - InvalidIdentifier
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers'
              schema:
                $ref: '#/components/schemas/RetailMediaContactlistOperation'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings: []
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/audience-segments/{audience-segment-id}/contact-list/clear:
    post:
      description: "Delete all identifiers from a retail-media contact list audience-segment,\
        \ with external audience segment id."
      operationId: DeleteContactListIdentifiers
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Contact List identifiers were deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings: []
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
  /2025-01/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /2025-01/retail-media/account-management/accounts/{accountId}/brands/add:
    post:
      description: Add brands to an account
      operationId: AddBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/account-management/accounts/{accountId}/brands/remove:
    post:
      description: Remove brands from an account
      operationId: RemoveBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/account-management/accounts/{accountId}/create-brand-account:
    post:
      description: Creates a new child Demand Brand Account for the provided parent
        private market account
      operationId: CreatePrivateMarketDemandBrandAccount
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/account-management/accounts/{accountId}/create-seller-account:
    post:
      description: Creates a new child Demand Seller Account for the provided parent
        private market account
      operationId: CreatePrivateMarketDemandSellerAccount
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/account-management/accounts/{accountId}/sellers:
    put:
      description: Replace the sellers associated with an account
      operationId: UpdateSellers
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: AccountsApi_GetApiV1ExternalAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      tags:
      - Accounts
      x-accepts: application/json
  /2025-01/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/accounts/{accountId}/retailers:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountRetailersByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/assets:
    post:
      description: Creates an asset
      operationId: CreateAsset
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAsset_request'
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AssetResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: multipart/form-data
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns the full segments. For those that cannot be updated, one or\
        \ multiple errors are returned."
      operationId: bulkUpdateAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns the\
        \ full segments. For those that cannot be created, one or multiple errors\
        \ are returned."
      operationId: bulkCreateAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/audience-segments/delete:
    post:
      description: Delete the segments associated to the given audience IDs.
      operationId: bulkDeleteAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Segment Id.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
          description: Success or partial success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{line-item-id}/products:
    get:
      description: Retrieve a page of promoted products for a line item
      operationId: FetchPromotedProducts
      parameters:
      - description: ID of the line item.
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Offset of the first item to fetch. Defaults to zero.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Maximum page size to fetch. Defaults to 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "A comma separated list of attribute names from the response\
          \ model to compute and return.\r\n            Valid values are `status`\
          \ and `bidOverride` in any order. Defaults to `status`."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProductResourceCollectionOutcome'
          description: Promoted products associated with the line item
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/line-items/{line-item-id}/products/append:
    post:
      description: Append a collection of promoted products to a line item
      operationId: AppendPromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products appended to the line item
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Promoted products appended to the line item with warnings
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{line-item-id}/products/delete:
    post:
      description: Remove a collection of promoted products from a line item
      operationId: DeletePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products removed from the line item
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{line-item-id}/products/pause:
    post:
      description: Pause a collection of promoted products associated with a line
        item
      operationId: PausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products paused
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      description: Un-pause a collection of promoted products associated with a line
        item
      operationId: UnpausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products un-paused
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Invalid external line item ID
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{accountId}/catalogs:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{accountId}/catalogs/sellers:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiV1ExternalAccountCatalogsSellersByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfSellerCatalogRequest'
        x-bodyName: body
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/catalogs/{catalogId}/output:
    get:
      description: "Output the indicated catalog. Catalogs are only available for\
        \ retrieval when their associated status request\r\nis at a Success status.\r\
        \nProduces application/x-json-stream of v2021_07 CatalogProduct json objects."
      operationId: CatalogApi_GetApiV1ExternalCatalogOutputByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
            application/json: {}
          description: Catalog download initiated.
        "204":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
            application/json: {}
          description: Catalog has expired.
        "400":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
            application/json: {}
          description: "The indicated catalog is not available for retrieval, wait\
            \ for a success status."
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: CatalogApi_GetApiV1ExternalCatalogStatusByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request found.
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/categories:
    get:
      description: Endpoint to search categories by text and retailer.
      operationId: CategorySearchApi_GetApi202204ExternalCategories
      parameters:
      - description: The retailer id for which Categories fetched
        explode: true
        in: query
        name: retailerId
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: Query string to search across Categories
        explode: true
        in: query
        name: textSubstring
        required: false
        schema:
          type: string
        style: form
        x-nullable: false
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100.0
          minimum: 1.0
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204ListResponse'
          description: Categories found.
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/categories/{categoryId}:
    get:
      description: Endpoint to search for a specific category by categoryId.
      operationId: CategorySearchApi_GetApi202204ExternalCategorieByCategoryId
      parameters:
      - description: ID of the desired category
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204'
          description: Retrieval completed and category is returned.
        "400":
          content:
            application/json: {}
          description: No IDs were passed in.
        "500":
          content:
            application/json: {}
          description: A non-request input based error occurred in the server.
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/retailers/{retailerId}/pages:
    get:
      description: Get the page types available for the given retailer
      operationId: RetailerApi_GetApi202110ExternalRetailerPagesByRetailerId
      parameters:
      - description: The retailers to fetch pages for
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalRetailerPages202110'
          description: Pages fetched successfully
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/creatives:
    get:
      description: Get account creatives
      operationId: CreativesApi_GetApi202110ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Create a creative for an account
      operationId: CreativesApi_PostApi202210ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        description: The creative to create
        x-bodyName: creative
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creatives created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: PostApiV2ExternalAccountCreativesSearchByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creatives to filter by
        explode: true
        in: query
        name: creative-ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: "GetApiV2ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: "CreativesApi_PutApi202210ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        description: The creative to create
        x-bodyName: creative
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creative updated
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/retailers/{retailer-id}/templates:
    get:
      description: Get retailer creative templates
      operationId: CreativesApi_GetApi202207ExternalRetailerTemplatesByRetailerId
      parameters:
      - description: External retailer id to retrieve creative templates for
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
          description: Templates found
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/retailers/{retailer-id}/templates/{template-id}:
    get:
      description: Gets the template for the specified retailer id and template id
      operationId: "CreativesApi_GetApi202207ExternalRetailerByRetailerId}Templates{templateId"
      parameters:
      - description: Retailer Id
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Template Id
        explode: false
        in: path
        name: template-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
          description: Template found for the retailer
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/reports/campaigns:
    post:
      description: |-
        Return an asynchronous Campaigns Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncCampaignsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/reports/line-items:
    post:
      description: |-
        Returns an asynchronous Line Items Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/reports/revenue:
    post:
      description: |-
        Returns an asynchronous Revenue Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncRevenueReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/reports/{reportId}/output:
    get:
      description: Returns the output of an async report
      operationId: GetAsyncExportOutput
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /2025-01/retail-media/reports/{reportId}/status:
    get:
      description: Returns the status of an async report
      operationId: GetAsyncExportStatus
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /2025-01/retail-media/balances/{balanceId}/history:
    get:
      description: Gets the balance's historical change data.
      operationId: GetBalanceHistory
      parameters:
      - description: Balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfBalanceHistoryChangeDataCaptureV1'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
  /2025-01/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      description: Get current campaign budget overrides by given external campaign
        id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update campaign budget overrides by given external campaign id
        and new campaign budget overrides settings.
      operationId: UpdateCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
        description: New campaign budget overrides settings value resource input.
        x-bodyName: campaignBudgetOverridesInput
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetRecommendedKeywords
      parameters:
      - description: The external line item identifier
        explode: false
        in: path
        name: externalLineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRecommendedKeywordsResult'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/line-items/{lineItemId}/line-item-budget-overrides:
    get:
      description: Gets a collection of monthly and daily budget overrides for the
        provided line item.
      operationId: GetLineItemBudgetOverrides
      parameters:
      - description: The line item id to get budget overrides for.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update line item budget overrides by given external line item id
        and new line item budget overrides settings.
      operationId: UpdateLineItemBudgetOverrides
      parameters:
      - description: Line item external id.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
        description: New line item budget overrides settings value resource input.
        x-bodyName: lineItemBudgetOverridesInput
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/balances:
    get:
      description: Gets page of balance objects for the given account id
      operationId: GetApiV2ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
            text/json:
              schema:
                $ref: '#/components/schemas/PagedResourceCollectionOutcomeOfBalanceResponseV2'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    post:
      description: Create balance for the given account id
      operationId: PostApiV2ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to create balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceV2Request'
        description: An object that represents the available options to set when creating
          a Retail Media Balance
        required: true
        x-nullable: false
        x-bodyName: createBalance
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/balances/{balance-id}:
    get:
      description: Get a balance for the given account id and balance id
      operationId: "GetApiV2ExternalAccountByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance id
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    patch:
      description: Modify a balance for the given account id
      operationId: "PatchApiV2ExternalAccountByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceModelV2Request'
        description: An object that represents the available options to modify a balance.
        required: true
        x-nullable: false
        x-bodyName: updateBalanceModel
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/balances/{balance-id}/add-funds:
    post:
      description: Add funds to a balance for the given account id
      operationId: "PostApiV2ExternalAccountAddFundsByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to add funds to
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFundsToBalanceV2Request'
        description: An object that represents the available options of adding funds
          to a balance.
        required: true
        x-nullable: false
        x-bodyName: addFundsToBalance
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/balances/{balance-id}/change-dates:
    post:
      description: Change dates of a balance for the given account id
      operationId: "PostApiV2ExternalAccountChangeDatesByAccountId}Balances{balanceId"
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDatesOfBalanceV2Request'
        description: An object that represents the available options to modify schedule
          of a balance.
        required: true
        x-nullable: false
        x-bodyName: changeDatesOfBalance
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/campaigns:
    get:
      description: "Get all the editable and creatable campaign attributes including\
        \ all types of budgets for each campaigns in relation to the account id, limited\
        \ by the campaign ids."
      operationId: Campaigns_GetApi202301ExternalAccountCampaignsByAccountId
      parameters:
      - description: The account to request the campaign for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaignV202301'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Create a campaign and assign budgets for the given account id with
        creatable campaign attributes given in request body constrained by business
        validation. The validation error includes details and source of errors. Pacing
        can be adjusted and affected by the status of the campaign and the days left
        on the campaign if auto daily pacing is enabled.
      operationId: Campaigns_PostApi202301ExternalAccountCampaignsByAccountId
      parameters:
      - description: The account to request the campaign for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCampaignV202301'
        description: Creatable campaign attributes
        x-nullable: false
        x-bodyName: campaign
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/accounts/{account-id}/line-items:
    get:
      description: Gets page of line item objects for the given account id
      operationId: GetApiV2ExternalAccountLineItemsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The campaign ids that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToCampaignId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The campaign types that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToType
        required: false
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          nullable: true
          type: string
        style: form
        x-nullable: true
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/auction-line-items/{line-item-id}:
    get:
      description: Gets the auction line item for the given line item id
      operationId: GetApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the auction line item for the given line item id
      operationId: PutApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemUpdateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/auction-line-items/{line-item-id}/targeting/keywords:
    get:
      description: This endpoint gets the keyword target on the specified line item.
      operationId: TargetingApi_GetApi202110ExternalAuctionLineItemTargetingKeywordsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /2025-01/retail-media/auction-line-items/{line-item-id}/targeting/keywords/append:
    post:
      description: This endpoint appends one or more keywords to targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTarget202110Request'
        description: ""
        x-nullable: false
        x-bodyName: keywordsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/auction-line-items/{line-item-id}/targeting/keywords/delete:
    post:
      description: This endpoint removes one or more keywords from targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTarget202110Request'
        description: ""
        x-nullable: false
        x-bodyName: keywordsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/balances/{balance-id}/campaigns:
    get:
      description: Gets page of campaigns for the given balanceId
      operationId: BalancesApi_GetApi202110ExternalBalanceCampaignsByBalanceId
      parameters:
      - description: The balance to get campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
  /2025-01/retail-media/balances/{balance-id}/campaigns/append:
    post:
      description: appends one or more campaigns to the specified balance
      operationId: BalancesApi_PostApi202110ExternalBalanceCampaignsAppendByBalanceId
      parameters:
      - description: The balance to add campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/balances/{balance-id}/campaigns/delete:
    post:
      description: Removes one or more campaigns on the specified balance
      operationId: BalancesApi_PostApi202110ExternalBalanceCampaignsDeleteByBalanceId
      parameters:
      - description: The balance to remove campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2025-01/retail-media/campaigns/{campaign-id}/auction-line-items:
    get:
      description: Gets page of auction line item objects for the given campaign id
      operationId: GetApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: false
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: PostApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
        x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemCreateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
[...]
