openapi: 3.0.1
info:
  description: Criteo publicly exposed API
  title: Criteo API
  version: 2021-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /2021-07/audiences:
    get:
      description: Get a list of all the audiences for the user or for the given advertiser_id
      operationId: getAudiences
      parameters:
      - description: "The advertiser id to get all the audiences for.\nMandatory for\
          \ internal users. For external users,\n           if you don't provide it,\
          \ we will take into account the advertisers from your portfolio"
        explode: true
        in: query
        name: advertiser-id
        required: false
        schema:
          format: int32
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: AudienceContactlist
                  id: "1"
                  attributes:
                    advertiserId: "18"
                    name: Audience name
                    description: Audience
                    created: 2018-12-10T10:00:50.0000000+00:00
                    updated: 2018-12-10T10:17:15.0000000+00:00
                    nbLines: 100
                    nbLinesEmail: 10
                    nbMatchesEmail: 10
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/GetAudiencesResponse'
          description: The list was retrieved.
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an Audience for an Advertiser
      operationId: createAudience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/NewAudienceResponse'
          description: The audience was created
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/audiences/{audience-id}/contactlist:
    delete:
      description: delete all identifiers from an Audience
      operationId: deleteIdentifiers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The contactlist was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove users to or from an audience
      operationId: modifyAudienceUsers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: "12"
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Audience 123 not found
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /2021-07/audiences/{audience-id}:
    delete:
      description: Delete an audience by id
      operationId: removeAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceResponse'
          description: The audience was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Update user audience specified by the audience id
      operationId: modifyAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                  attributes:
                    name: example audience
                    description: example audience description
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ReplaceAudienceResponse'
          description: The audience was updated
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /2021-07/marketing-solutions/ad-sets/{adSetId}:
    get:
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: adSetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
          description: data for the ad set
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/marketing-solutions/ad-sets/search:
    post:
      description: Search for ad sets
      operationId: SearchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
          description: data for the ad sets
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/marketing-solutions/ad-sets:
    patch:
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
        description: List of adsets to patch.
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
          description: List of patched adSets.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/marketing-solutions/campaigns/{campaign-id}:
    get:
      description: Get the data for the specified campaign
      operationId: GetCampaign
      parameters:
      - description: Id of the campaign
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          description: data for the campaign
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2021-07/marketing-solutions/campaigns/search:
    post:
      description: Search for campaigns
      operationId: SearchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
        description: filters on campaigns
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
          description: data for the campaigns
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/marketing-solutions/campaigns:
    patch:
      description: Patch a list of Campaigns.
      operationId: PatchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
        description: List of campaigns to patch.
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
          description: List of patched campaigns.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /oauth2/token:
    post:
      description: Creates a token when the supplied client credentials are valid
      operationId: GetToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                redirect_uri:
                  type: string
                code:
                  type: string
                refresh_token:
                  type: string
              required:
              - client_id
              - client_secret
              - grant_type
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
          description: Bad request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
          description: Unauthorized
      summary: Creates a token based either on supplied client credentials or on single
        use authorization code
      tags:
      - OAuth
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /2021-07/statistics/report:
    post:
      description: "This Statistics endpoint provides adset related data. It is an\
        \ upgrade of our previous Statistics endpoint, and includes new metrics and\
        \ customization capabilities."
      operationId: GetAdsetReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
        x-bodyName: reportQuery
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-d390-b9c1a03a6663
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-d390-b9c1a03a6663
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/transactions/report:
    post:
      description: This Transactions endpoint provides transactions id related data.
      operationId: GetTransactionsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-d390-b9c1a03a6663
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-d390-b9c1a03a6663
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser id to fetch the transparency data.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
        x-bodyName: queryMessage
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: TransparencyReport
                  attributes:
                    advertiserId: "123"
                    tokenValidUntil: 2021-01-31T00:00:00.0000000+00:00
                    files:
                    - fileName: report.csv
                      url: https://www.example.com/transparency
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-d390-b9c1a03a6663
                  traceIdentifier: 1234e1717d88aa8a
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-d390-b9c1a03a6663
                  traceIdentifier: 1234e1717d88aa8a
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-07/advertisers/me:
    get:
      description: Fetch the portfolio of Advertisers for this account
      operationId: ApiPortfolioGet
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: advertiser
                  id: "13"
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: "1352"
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: "73550"
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Unauthorized
      tags:
      - Advertiser
      x-accepts: application/json
components:
  schemas:
    GetAudiencesResponse:
      description: Body of the GET audience operation
      example:
        data:
        - attributes:
            nbLinesEmail: 6
            nbLines: 0
            created: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            nbMatchesEmail: 1
            updated: 2000-01-23T04:56:07.000+00:00
            advertiserId: advertiserId
          id: "314159"
          type: Audience
        - attributes:
            nbLinesEmail: 6
            nbLines: 0
            created: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            nbMatchesEmail: 1
            updated: 2000-01-23T04:56:07.000+00:00
            advertiserId: advertiserId
          id: "314159"
          type: Audience
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/Audience'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ErrorCodeResponse:
      description: Definition of the error code
      properties:
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - errors
      type: object
    NewAudienceResponse:
      description: Response of a newly created audience
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    DeleteAudienceContactListResponse:
      description: Response of a contactlist deletion
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ModifyAudienceResponse:
      description: Parameters to modify an audience
      example:
        data:
          attributes:
            nbValidIdentifiers: 0
            nbInvalidIdentifiers: 6
            sampleInvalidIdentifiers:
            - sampleInvalidIdentifiers
            - sampleInvalidIdentifiers
            contactListId: contactListId
            requestDate: 2000-01-23T04:56:07.000+00:00
            identifierType: identifierType
            operation: operation
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ContactlistOperation'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    DeleteAudienceResponse:
      description: Response of an audience deletion
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ReplaceAudienceResponse:
      description: Response of an audience replacement
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    NewAudienceRequest:
      description: Body of creation of a new audience
      example:
        data:
          attributes:
            name: name
            description: description
            advertiserId: advertiserId
          type: Audience
      properties:
        data:
          $ref: '#/components/schemas/NewAudience'
      type: object
    ContactlistAmendmentRequest:
      description: Request for a contactlist amendment
      example:
        data:
          attributes:
            gumCallerId: 0
            identifiers:
            - identifiers
            - identifiers
            identifierType: email
            internalIdentifiers: true
            operation: add
          type: ContactlistAmendment
      properties:
        data:
          $ref: '#/components/schemas/ContactlistAmendment'
      required:
      - data
      type: object
    ReplaceAudienceRequest:
      description: Request to replace an audience
      example:
        data:
          attributes:
            name: name
            description: description
          type: Audience
      properties:
        data:
          $ref: '#/components/schemas/ReplaceAudience'
      required:
      - data
      type: object
    Audience:
      description: Definition of an audience and all its information
      example:
        attributes:
          nbLinesEmail: 6
          nbLines: 0
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          nbMatchesEmail: 1
          updated: 2000-01-23T04:56:07.000+00:00
          advertiserId: advertiserId
        id: "314159"
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        id:
          description: id of the Audience
          example: "314159"
          type: string
        attributes:
          $ref: '#/components/schemas/Audience_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    AudienceError:
      description: Definition of an audience error
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source: "{}"
        stackTrace:
        - stackTrace
        - stackTrace
        type: access-control
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
        type:
          description: (REQUIRED) The classification of the error
          enum:
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kebab-case."
          type: string
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem
          type: string
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type"
          type: string
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem
          type: string
        source:
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          items:
            type: string
          type: array
      required:
      - code
      - instance
      - type
      type: object
    AudienceWarning:
      description: Definition of the warning
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source: "{}"
        stackTrace:
        - stackTrace
        - stackTrace
        type: access-control
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
        type:
          description: (REQUIRED) The classification of the error
          enum:
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kebab-case."
          type: string
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem
          type: string
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type"
          type: string
        detail:
          description: (REQUIRED) A human-readable explanation specific to this occurrence
            of the problem
          type: string
        source:
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          items:
            type: string
          type: array
      required:
      - code
      - detail
      - instance
      - type
      type: object
    BasicAudienceDefinition:
      description: Common definition of an audience
      example:
        attributes:
          name: name
          description: description
        id: id
        type: type
      properties:
        id:
          description: the id of the entity type
          type: string
        type:
          description: the name of the entity type
          type: string
        attributes:
          $ref: '#/components/schemas/AudienceNameDescription'
      required:
      - id
      - type
      type: object
    ContactlistOperation:
      description: Response definition of a contactlist operation
      example:
        attributes:
          nbValidIdentifiers: 0
          nbInvalidIdentifiers: 6
          sampleInvalidIdentifiers:
          - sampleInvalidIdentifiers
          - sampleInvalidIdentifiers
          contactListId: contactListId
          requestDate: 2000-01-23T04:56:07.000+00:00
          identifierType: identifierType
          operation: operation
        type: type
      properties:
        type:
          description: the name of the entity type
          type: string
        attributes:
          $ref: '#/components/schemas/ContactlistOperation_attributes'
      required:
      - attributes
      - type
      type: object
    NewAudience:
      description: "Body for the creation of a new audience (name, advertiserId, etc)"
      example:
        attributes:
          name: name
          description: description
          advertiserId: advertiserId
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        attributes:
          $ref: '#/components/schemas/NewAudience_attributes'
      required:
      - attributes
      - type
      type: object
    ContactlistAmendment:
      description: Parameters for the amendment of a contactlist
      example:
        attributes:
          gumCallerId: 0
          identifiers:
          - identifiers
          - identifiers
          identifierType: email
          internalIdentifiers: true
          operation: add
        type: ContactlistAmendment
      properties:
        type:
          description: User List
          example: ContactlistAmendment
          type: string
        attributes:
          $ref: '#/components/schemas/ContactlistAmendment_attributes'
      required:
      - attributes
      - type
      type: object
    ReplaceAudience:
      description: Parameters required to replace an audience
      example:
        attributes:
          name: name
          description: description
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        attributes:
          $ref: '#/components/schemas/AudienceNameDescription'
      required:
      - attributes
      - type
      type: object
    AudienceNameDescription:
      description: Description of an audience with name and detailed description
      example:
        name: name
        description: description
      properties:
        name:
          description: The name to designate the audience by
          type: string
        description:
          description: The description of the audience
          type: string
      type: object
    ApplicationSummaryModelResponse:
      description: Response of ApplicationSummaryModel
      example:
        data:
          attributes:
            organizationId: 6
            name: name
            description: description
            criteoService: criteoService
            applicationId: 0
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      description: A class that represents a ValueType in a guild compliant way
      example:
        attributes:
          organizationId: 6
          name: name
          description: description
          criteoService: criteoService
          applicationId: 0
        type: type
      properties:
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceIdentifier:
          description: The request correlation ID this problem comes from.
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          type: string
        title:
          description: A short human-readable description of the problem type
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          type: object
        stackTrace:
          type: string
      type: object
    ApplicationSummaryModel:
      description: Model of ApplicationSummary
      example:
        organizationId: 6
        name: name
        description: description
        criteoService: criteoService
        applicationId: 0
      properties:
        applicationId:
          format: int32
          type: integer
        name:
          type: string
        organizationId:
          format: int32
          type: integer
        description:
          type: string
        criteoService:
          type: string
      type: object
    ResponseReadAdSet:
      description: output resource
      example:
        data:
          attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value: ""
                countries:
                  value: ""
                subdivisions:
                  value: ""
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            datasetId: datasetId
            mediaType: display
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ReadModelReadAdSet'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ResponsesReadAdSet:
      description: List of output resources
      example:
        data:
        - attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value: ""
                countries:
                  value: ""
                subdivisions:
                  value: ""
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            datasetId: datasetId
            mediaType: display
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        - attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value: ""
                countries:
                  value: ""
                subdivisions:
                  value: ""
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            datasetId: datasetId
            mediaType: display
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelReadAdSet'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ResponseAdSetId:
      description: output resource
      example:
        data:
          id: id
          type: AdSetId
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ReadModelAdSetId'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ResponsesAdSetId:
      description: List of output resources
      example:
        data:
        - id: id
          type: AdSetId
        - id: id
          type: AdSetId
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelAdSetId'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    CampaignResponse:
      description: output resource
      example:
        data:
          attributes:
            name: name
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
            advertiserId: advertiserId
            objective: objective
          id: id
          type: Campaign
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/CampaignReadResource'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    CampaignListResponse:
      description: List of output resources
      example:
        data:
        - attributes:
            name: name
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
            advertiserId: advertiserId
            objective: objective
          id: id
          type: Campaign
        - attributes:
            name: name
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
            advertiserId: advertiserId
            objective: objective
          id: id
          type: Campaign
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/CampaignReadResource'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    PatchResultCampaignListResponse:
      description: List of output resources
      example:
        data:
        - id: id
          type: Campaign
        - id: id
          type: Campaign
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/PatchResultCampaignReadResource'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    RequestAdSetSearch:
      description: request payload of the search endpoint
      example:
        filters:
          adSetIds:
          - adSetIds
          - adSetIds
          advertiserIds:
          - advertiserIds
          - advertiserIds
          campaignIds:
          - campaignIds
          - campaignIds
      properties:
        filters:
          $ref: '#/components/schemas/AdSetSearchFilter'
      type: object
    RequestsPatchAdSet:
      description: List of input resources
      example:
        data:
        - attributes:
            targeting:
              geoLocation:
                zipCodes:
                  value: ""
                countries:
                  value: ""
                subdivisions:
                  value: ""
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidAmount:
                value: 0.8008281904610115
            name: name
            scheduling:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: PatchAdSet
        - attributes:
            targeting:
              geoLocation:
                zipCodes:
                  value: ""
                countries:
                  value: ""
                subdivisions:
                  value: ""
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidAmount:
                value: 0.8008281904610115
            name: name
            scheduling:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: PatchAdSet
      properties:
        data:
          items:
            $ref: '#/components/schemas/WriteModelPatchAdSet'
          type: array
          uniqueItems: false
      type: object
    RequestsAdSetId:
      description: List of input resources
      example:
        data:
        - id: id
          type: AdSetId
        - id: id
          type: AdSetId
      properties:
        data:
          items:
            $ref: '#/components/schemas/WriteModelAdSetId'
          type: array
          uniqueItems: false
      type: object
    CampaignSearchRequest:
      description: request payload of the search endpoint
      example:
        filters:
          advertiserIds:
          - advertiserIds
          - advertiserIds
          campaignIds:
          - campaignIds
          - campaignIds
      properties:
        filters:
          $ref: '#/components/schemas/CampaignSearchFilters'
      type: object
    PatchCampaignListRequest:
      description: List of input resources
      example:
        data:
        - attributes:
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
          id: id
          type: Campaign
        - attributes:
            spendLimit:
              spendLimitRenewal: undefined
              spendLimitAmount:
                value: 0.8008281904610115
              spendLimitType: capped
          id: id
          type: Campaign
      properties:
        data:
          items:
            $ref: '#/components/schemas/PatchCampaignWriteResource'
          type: array
          uniqueItems: false
      type: object
    ReadModelReadAdSet:
      description: read model data for resources
      example:
        attributes:
          schedule:
            endDate:
              value: 2000-01-23T04:56:07.000+00:00
            activationStatus: "on"
            startDate:
              value: 2000-01-23T04:56:07.000+00:00
            deliveryStatus: draft
          targeting:
            geoLocation:
              zipCodes:
                value: ""
              countries:
                value: ""
              subdivisions:
                value: ""
            frequencyCapping:
              maximumImpressions: 6
              frequency: hourly
            deliveryLimitations:
              operatingSystems:
              - android
              - android
              environments:
              - web
              - web
              devices:
              - other
              - other
          bidding:
            bidStrategy: actions
            bidAmount:
              value: 0.8008281904610115
            costController: COS
          campaignId: campaignId
          name: name
          datasetId: datasetId
          mediaType: display
          destinationEnvironment: undefined
          advertiserId: advertiserId
          budget:
            budgetDeliverySmoothing: accelerated
            budgetDeliveryWeek: undefined
            budgetAmount:
              value: 0.8008281904610115
            budgetRenewal: undefined
            budgetStrategy: capped
        id: id
        type: ReadAdSet
      properties:
        id:
          description: Id of the entity
          readOnly: true
          type: string
        type:
          example: ReadAdSet
          readOnly: true
          type: string
        attributes:
          $ref: '#/components/schemas/ReadAdSet'
      type: object
    ProblemDetails:
      description: Data model for common error or warning
      example:
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceIdentifier:
          type: string
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          type: string
        instance:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          additionalProperties:
            type: string
          type: object
        stackTrace:
          type: string
      type: object
    ReadModelAdSetId:
      description: read model data for resources
      example:
        id: id
        type: AdSetId
      properties:
        id:
          description: Id of the entity
          readOnly: true
          type: string
        type:
          example: AdSetId
          readOnly: true
          type: string
      type: object
    CampaignReadResource:
      description: read model data for resources
      example:
        attributes:
          name: name
          spendLimit:
            spendLimitRenewal: undefined
            spendLimitAmount:
              value: 0.8008281904610115
            spendLimitType: capped
          advertiserId: advertiserId
          objective: objective
        id: id
        type: Campaign
      properties:
        id:
          description: Id of the entity
          readOnly: true
          type: string
        type:
          example: Campaign
          readOnly: true
          type: string
        attributes:
          $ref: '#/components/schemas/Campaign'
      type: object
    PatchResultCampaignReadResource:
      description: read model data for resources
      example:
        id: id
        type: Campaign
      properties:
        id:
          description: Id of the entity
          readOnly: true
          type: string
        type:
          example: Campaign
          readOnly: true
          type: string
      type: object
    AdSetSearchFilter:
      description: filter on ad set ids
      example:
        adSetIds:
        - adSetIds
        - adSetIds
        advertiserIds:
        - advertiserIds
        - advertiserIds
        campaignIds:
        - campaignIds
        - campaignIds
      properties:
        adSetIds:
          items:
            type: string
          type: array
          uniqueItems: false
        advertiserIds:
          items:
            type: string
          type: array
          uniqueItems: false
        campaignIds:
          items:
            type: string
          type: array
          uniqueItems: false
      type: object
    WriteModelPatchAdSet:
      description: write model data for resources
      example:
        attributes:
          targeting:
            geoLocation:
              zipCodes:
                value: ""
              countries:
                value: ""
              subdivisions:
                value: ""
            frequencyCapping:
              maximumImpressions: 6
              frequency: hourly
            deliveryLimitations:
              operatingSystems:
              - android
              - android
              environments:
              - web
              - web
              devices:
              - other
              - other
          bidding:
            bidAmount:
              value: 0.8008281904610115
          name: name
          scheduling:
            endDate:
              value: 2000-01-23T04:56:07.000+00:00
            startDate:
              value: 2000-01-23T04:56:07.000+00:00
          budget:
            budgetDeliverySmoothing: accelerated
            budgetDeliveryWeek: undefined
            budgetAmount:
              value: 0.8008281904610115
            budgetRenewal: undefined
            budgetStrategy: capped
        id: id
        type: PatchAdSet
      properties:
        id:
          description: Id of the entity
          type: string
        type:
          description: Canonical type name of the entity
          example: PatchAdSet
          type: string
        attributes:
          $ref: '#/components/schemas/PatchAdSet'
      type: object
    WriteModelAdSetId:
      description: write model data for resources
      example:
        id: id
        type: AdSetId
      properties:
        id:
          description: Id of the entity
          type: string
        type:
          description: Canonical type name of the entity
          example: AdSetId
          type: string
      type: object
    CampaignSearchFilters:
      description: filters on campaign
      example:
        advertiserIds:
        - advertiserIds
        - advertiserIds
        campaignIds:
        - campaignIds
        - campaignIds
      properties:
        campaignIds:
          description: Campaign ids to filter on
          items:
            type: string
          type: array
          uniqueItems: false
        advertiserIds:
          description: Advertiser ids to which campaigns are linked to
          items:
            type: string
          type: array
          uniqueItems: false
      type: object
    PatchCampaignWriteResource:
      description: write model data for resources
      example:
        attributes:
          spendLimit:
            spendLimitRenewal: undefined
            spendLimitAmount:
              value: 0.8008281904610115
            spendLimitType: capped
        id: id
        type: Campaign
      properties:
        id:
          description: Id of the entity
          type: string
        type:
          description: Canonical type name of the entity
          example: Campaign
          type: string
        attributes:
          $ref: '#/components/schemas/PatchCampaign'
      type: object
    ReadAdSet:
      description: ad set read model
      example:
        schedule:
          endDate:
            value: 2000-01-23T04:56:07.000+00:00
          activationStatus: "on"
          startDate:
            value: 2000-01-23T04:56:07.000+00:00
          deliveryStatus: draft
        targeting:
          geoLocation:
            zipCodes:
              value: ""
            countries:
              value: ""
            subdivisions:
              value: ""
          frequencyCapping:
            maximumImpressions: 6
            frequency: hourly
          deliveryLimitations:
            operatingSystems:
            - android
            - android
            environments:
            - web
            - web
            devices:
            - other
            - other
        bidding:
          bidStrategy: actions
          bidAmount:
            value: 0.8008281904610115
          costController: COS
        campaignId: campaignId
        name: name
        datasetId: datasetId
        mediaType: display
        destinationEnvironment: undefined
        advertiserId: advertiserId
        budget:
          budgetDeliverySmoothing: accelerated
          budgetDeliveryWeek: undefined
          budgetAmount:
            value: 0.8008281904610115
          budgetRenewal: undefined
          budgetStrategy: capped
      properties:
        name:
          description: Name of the ad set
          type: string
        advertiserId:
          description: Advertiser id of the campaign this ad set belongs to
          type: string
        datasetId:
          description: Dataset id of this ad set
          type: string
        campaignId:
          description: Campaign id this ad set belongs to
          type: string
        destinationEnvironment:
          description: The environment that an ad click will lead a user to
          enum:
          - undefined
          - web
          - app
          type: string
        schedule:
          $ref: '#/components/schemas/ReadAdSetSchedule'
        bidding:
          $ref: '#/components/schemas/ReadAdSetBidding'
        targeting:
          $ref: '#/components/schemas/AdSetTargeting'
        budget:
          $ref: '#/components/schemas/ReadAdSetBudget'
        mediaType:
          description: Media type for the ad set
          enum:
          - display
          - video
          type: string
      type: object
    Campaign:
      description: campaign read model
      example:
        name: name
        spendLimit:
          spendLimitRenewal: undefined
          spendLimitAmount:
            value: 0.8008281904610115
          spendLimitType: capped
        advertiserId: advertiserId
        objective: objective
      properties:
        name:
          description: Name of the campaign
          type: string
        advertiserId:
          description: Advertiser id of the campaign
          type: string
        objective:
          description: Campaign's marketing objective
          type: string
        spendLimit:
          $ref: '#/components/schemas/CampaignSpendLimit'
      type: object
    PatchAdSet:
      description: ad set patch model
      example:
        targeting:
          geoLocation:
            zipCodes:
              value: ""
            countries:
              value: ""
            subdivisions:
              value: ""
          frequencyCapping:
            maximumImpressions: 6
            frequency: hourly
          deliveryLimitations:
            operatingSystems:
            - android
            - android
            environments:
            - web
            - web
            devices:
            - other
            - other
        bidding:
          bidAmount:
            value: 0.8008281904610115
        name: name
        scheduling:
          endDate:
            value: 2000-01-23T04:56:07.000+00:00
          startDate:
            value: 2000-01-23T04:56:07.000+00:00
        budget:
          budgetDeliverySmoothing: accelerated
          budgetDeliveryWeek: undefined
          budgetAmount:
            value: 0.8008281904610115
          budgetRenewal: undefined
          budgetStrategy: capped
      properties:
        name:
          description: Name of the ad set
          type: string
        scheduling:
          $ref: '#/components/schemas/PatchAdSetScheduling'
        bidding:
          $ref: '#/components/schemas/PatchAdSetBidding'
        targeting:
          $ref: '#/components/schemas/AdSetTargeting'
        budget:
          $ref: '#/components/schemas/PatchAdSetBudget'
      type: object
    PatchCampaign:
      description: campaign patch model
      example:
        spendLimit:
          spendLimitRenewal: undefined
[...]
