openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: 2024-04
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /2024-04/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /2024-04/retail-media/account-management/accounts/{accountId}/brands/add:
    post:
      description: Add brands to an account
      operationId: AddBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/account-management/accounts/{accountId}/brands/remove:
    post:
      description: Remove brands from an account
      operationId: RemoveBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/account-management/accounts/{accountId}/create-brand-account:
    post:
      description: Creates a new child Demand Brand Account for the provided parent
        private market account
      operationId: CreatePrivateMarketDemandBrandAccount
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
          description: Success
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: AccountsApi_GetApiV1ExternalAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      tags:
      - Accounts
      x-accepts: application/json
  /2024-04/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/accounts/{accountId}/retailers:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: AccountsApi_GetApiV1ExternalAccountRetailersByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfRetailer'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/assets:
    post:
      description: Creates an asset
      operationId: CreateAsset
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAsset_request'
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AssetResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: multipart/form-data
      x-accepts: application/json
  /2024-04/retail-media/accounts/{accountId}/audiences:
    get:
      description: Get a page of Audiences. (deprecated Public API)
      operationId: LegacyGetAudienceV1
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse'
          description: A page of audiences for the supplied account or shared by related
            retailers.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
    post:
      deprecated: true
      description: Create an Audience (deprecated Public API)
      operationId: LegacyCreateAudienceV1
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV1'
          application/json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV1'
          text/json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV1'
        description: Audience creation request.
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceCreateEntityV1Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceCreateEntityV1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceCreateEntityV1Response'
          description: Success
        "201":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The audience that was just created.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/v2/accounts/{accountId}/audiences:
    get:
      description: Get a page of Audiences. (deprecated Public API)
      operationId: LegacyGetAudienceV2
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "Limits results to the entity IDs specified; parameter key is\
          \ repeated, eg. limitToId=1&limitToId=2"
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Specifies the maximum number of entities returned in a single
          page; defaults to 25 entities per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Returns the specified page of results given a pageSize; pages
          are 0-indexed.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse'
          description: A page of audiences for the supplied account or shared by related
            retailers.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-accepts: application/json
    post:
      deprecated: true
      description: Create an Audience (deprecated Public API)
      operationId: LegacyUpdateAudienceV2
      parameters:
      - description: ID of the account to which this audience belongs.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV2'
          application/json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV2'
          text/json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RmLegacyAudienceCreateInputEntityV2'
        description: Audience creation request.
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceCreateEntityV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceCreateEntityV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/RmLegacyAudienceCreateEntityV2Response'
          description: Success
        "201":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The audience that was just created.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource.
      tags:
      - Audience
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{accountId}/catalogs:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/catalogs/{catalogId}/output:
    get:
      description: "Output the indicated catalog. Catalogs are only available for\
        \ retrieval when their associated status request\r\nis at a Success status.\r\
        \nProduces application/x-json-stream of v2021_07 CatalogProduct json objects."
      operationId: CatalogApi_GetApiV1ExternalCatalogOutputByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
            application/json: {}
          description: Catalog download initiated.
        "204":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
            application/json: {}
          description: Catalog has expired.
        "400":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
            application/json: {}
          description: "The indicated catalog is not available for retrieval, wait\
            \ for a success status."
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: CatalogApi_GetApiV1ExternalCatalogStatusByCatalogId
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request found.
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/categories:
    get:
      description: Endpoint to search categories by text and retailer.
      operationId: CategorySearchApi_GetApi202204ExternalCategories
      parameters:
      - description: The retailer id for which Categories fetched
        explode: true
        in: query
        name: retailerId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Query string to search across Categories
        explode: true
        in: query
        name: textSubstring
        required: false
        schema:
          type: string
        style: form
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500.0
          minimum: 0.0
          type: integer
        style: form
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100.0
          minimum: 1.0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204ListResponse'
          description: Categories found.
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/categories/{categoryId}:
    get:
      description: Endpoint to search for a specific category by categoryId.
      operationId: CategorySearchApi_GetApi202204ExternalCategorieByCategoryId
      parameters:
      - description: ID of the desired category
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204'
          description: Retrieval completed and category is returned.
        "400":
          content:
            application/json: {}
          description: No IDs were passed in.
        "500":
          content:
            application/json: {}
          description: A non-request input based error occurred in the server.
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/retailers/{retailerId}/pages:
    get:
      description: Get the page types available for the given retailer
      operationId: RetailerApi_GetApi202110ExternalRetailerPagesByRetailerId
      parameters:
      - description: The retailers to fetch pages for
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalRetailerPages202110'
          description: Pages fetched successfully
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/creatives:
    get:
      description: Get account creatives
      operationId: CreativesApi_GetApi202110ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Create a creative for an account
      operationId: CreativesApi_PostApi202210ExternalAccountCreativesByAccountId
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        description: The creative to create
        x-bodyName: creative
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creatives created
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: CreativesApi_PostApi202210ExternalAccountCreativesSearchByAccountId
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creatives to filter by
        explode: true
        in: query
        name: creative-ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202210ListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210ListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202210ListResponse'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: "CreativesApi_GetApi202210ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creatives found
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: "CreativesApi_PutApi202210ExternalAccountByAccountId}Creatives{creativeId"
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        description: The creative to create
        x-bodyName: creative
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creative updated
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/retailers/{retailer-id}/templates:
    get:
      description: Get retailer creative templates
      operationId: CreativesApi_GetApi202207ExternalRetailerTemplatesByRetailerId
      parameters:
      - description: External retailer id to retrieve creative templates for
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
          description: Templates found
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/retailers/{retailer-id}/templates/{template-id}:
    get:
      description: Gets the template for the specified retailer id and template id
      operationId: "CreativesApi_GetApi202207ExternalRetailerByRetailerId}Templates{templateId"
      parameters:
      - description: Retailer Id
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Template Id
        explode: false
        in: path
        name: template-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
          description: Template found for the retailer
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/reports/campaigns:
    post:
      description: |-
        Return an asynchronous Campaigns Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncCampaignsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/reports/line-items:
    post:
      description: |-
        Returns an asynchronous Line Items Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncLineItemsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/reports/revenue:
    post:
      description: |-
        Returns an asynchronous Revenue Report
        This endpoint is subject to specific rate limits.
      operationId: GenerateAsyncRevenueReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AsyncRevenueReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/reports/{reportId}/output:
    get:
      description: Returns the output of an async report
      operationId: GetAsyncExportOutput
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /2024-04/retail-media/reports/{reportId}/status:
    get:
      description: Returns the status of an async report
      operationId: GetAsyncExportStatus
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportOutcome'
          description: Forbidden
      tags:
      - Analytics
      x-accepts: application/json
  /2024-04/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      description: Get current campaign budget overrides by given external campaign
        id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update campaign budget overrides by given external campaign id
        and new campaign budget overrides settings.
      operationId: UpdateCampaignBudgetOverrides
      parameters:
      - description: External campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
        description: New campaign budget overrides settings value resource input.
        x-bodyName: campaignBudgetOverridesInput
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/insertion-order-history/{insertionOrderId}/change-data-capture:
    get:
      description: Gets the balance's historical data change capture.
      operationId: GetInsertionOrderHistoryChangeDataCapture
      parameters:
      - description: External insertion order id.
        explode: false
        in: path
        name: insertionOrderId
        required: true
        schema:
          type: string
        style: simple
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfInsertionOrderHistoryChangeDataCapture'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/line-items/{lineItemId}/line-item-budget-overrides:
    get:
      description: Gets a collection of monthly and daily budget overrides for the
        provided line item.
      operationId: GetLineItemBudgetOverrides
      parameters:
      - description: The line item id to get budget overrides for.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update line item budget overrides by given external line item id
        and new line item budget overrides settings.
      operationId: UpdateLineItemBudgetOverrides
      parameters:
      - description: Line item external id.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
        description: New line item budget overrides settings value resource input.
        x-bodyName: lineItemBudgetOverridesInput
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/balances:
    get:
      description: Get page of balances for the given accountId.
      operationId: Balances_GetApiV1ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to get page of balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponsePagedListResponse'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    post:
      description: Create balance for the given account id
      operationId: Balances_PostApiV1ExternalAccountBalancesByAccountId
      parameters:
      - description: The account to create balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceRequest'
        x-nullable: false
        x-bodyName: createBalance
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/balances/{balanceId}:
    get:
      description: Get a balance for the given account id and balance id
      operationId: Balances_GetApiV1ExternalAccountByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance id
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
    patch:
      description: Modify a balance for the given account id
      operationId: Balances_PatchApiV1ExternalAccountByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceModelRequest'
        x-nullable: false
        x-bodyName: updateBalanceModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/balances/{balanceId}/add-funds:
    post:
      description: Add funds to a balance for the given account id
      operationId: Balances_PostApiV1ExternalAccountAddFundsByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to add funds to
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFundsToBalanceRequest'
        x-nullable: false
        x-bodyName: addFundsToBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/balances/{balanceId}/change-dates:
    post:
      description: Change dates of a balance for the given account id
      operationId: Balances_PostApiV1ExternalAccountChangeDatesByAccountIdAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDatesOfBalanceRequest'
        x-nullable: false
        x-bodyName: changeDatesOfBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: Success
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/campaigns:
    get:
      description: "Get all the editable and creatable campaign attributes including\
        \ all types of budgets for each campaigns in relation to the account id, limited\
        \ by the campaign ids."
      operationId: Campaigns_GetApi202301ExternalAccountCampaignsByAccountId
      parameters:
      - description: The account to request the campaign for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaignV202301'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Create a campaign and assign budgets for the given account id with
        creatable campaign attributes given in request body constrained by business
        validation. The validation error includes details and source of errors. Pacing
        can be adjusted and affected by the status of the campaign and the days left
        on the campaign if auto daily pacing is enabled.
      operationId: Campaigns_PostApi202301ExternalAccountCampaignsByAccountId
      parameters:
      - description: The account to request the campaign for.
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCampaignV202301'
        description: Creatable campaign attributes
        x-nullable: false
        x-bodyName: campaign
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/accounts/{account-id}/line-items:
    get:
      description: Gets page of line item objects for the given account id
      operationId: GetApiV2ExternalAccountLineItemsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The campaign ids that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToCampaignId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The campaign types that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToType
        required: false
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          nullable: true
          type: string
        style: form
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/auction-line-items/{line-item-id}:
    get:
      description: Gets the auction line item for the given line item id
      operationId: GetApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the auction line item for the given line item id
      operationId: PutApiV2ExternalAuctionLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemUpdateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords:
    get:
      description: This endpoint gets the keyword target on the specified line item.
      operationId: TargetingApi_GetApi202110ExternalAuctionLineItemTargetingKeywordsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords/append:
    post:
      description: This endpoint appends one or more keywords to targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTarget202110Request'
        description: ""
        x-nullable: false
        x-bodyName: keywordsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords/delete:
    post:
      description: This endpoint removes one or more keywords from targeting on the
        specified line item.  The resulting state of the keyword target is returned.
      operationId: TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTarget202110Request'
        description: ""
        x-nullable: false
        x-bodyName: keywordsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/balances/{balance-id}/campaigns:
    get:
      description: Gets page of campaigns for the given balanceId
      operationId: BalancesApi_GetApi202110ExternalBalanceCampaignsByBalanceId
      parameters:
      - description: The balance to get campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Balance
      x-accepts: application/json
  /2024-04/retail-media/balances/{balance-id}/campaigns/append:
    post:
      description: appends one or more campaigns to the specified balance
      operationId: BalancesApi_PostApi202110ExternalBalanceCampaignsAppendByBalanceId
      parameters:
      - description: The balance to add campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/balances/{balance-id}/campaigns/delete:
    post:
      description: Removes one or more campaigns on the specified balance
      operationId: BalancesApi_PostApi202110ExternalBalanceCampaignsDeleteByBalanceId
      parameters:
      - description: The balance to remove campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        description: The campaigns to append
        x-nullable: false
        x-bodyName: campaigns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/campaigns/{campaign-id}/auction-line-items:
    get:
      description: Gets page of auction line item objects for the given campaign id
      operationId: GetApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemPagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: PostApiV2ExternalCampaignAuctionLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionLineItemCreateModelRequest'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLineItemResponse'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: LineItemsApi_GetApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110PagedListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110PagedListResponse'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: LineItemsApi_PostApi202110ExternalCampaignPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModel202110Request'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/campaigns/{campaignId}:
    get:
      description: Get all the editable and creatable campaign attributes including
        all types of budgets given the campaign id
      operationId: Campaigns_GetApi202301ExternalCampaignByCampaignId
      parameters:
      - description: Campaign Id of the campaign detail
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Edit a campaign for the given campaign id with a given editable
        attributes. This will return updated creatable and editable attributes of
        the campaign as the result of the operation. Pacing can be adjusted and affected
        by the status of the campaign and the days left on the campaign if auto daily
        pacing is enabled.
      operationId: Campaigns_PutApi202301ExternalCampaignByCampaignId
      parameters:
      - description: Campaign Id of the updating campaign
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCampaignV202301'
        description: Editable campaign attributes
        x-nullable: false
        x-bodyName: campaign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}:
    get:
      description: Gets the line item for the given line item id
      operationId: GetApiV2ExternalLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      description: Get bid multipliers by line item
      operationId: LineItems_GetApi202301ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
            text/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliers'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Replace bid multipliers on a line item
      operationId: LineItems_PutApi202301ExternalLineItemBidMultipliersByLineItemId
      parameters:
      - description: Long external id of the associated line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersRequest'
        x-nullable: false
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}/products:
    get:
      description: This endpoint gets the promoted products on the specified line
        item.
      operationId: PromotedProductsApi_GetApi202110ExternalLineItemProductsByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProduct202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}/products/append:
    post:
      description: This endpoint appends one or more products to promote on the specified
        line item.  The resulting state of the line item is returned.
      operationId: PromotedProductsApi_PostApi202110ExternalLineItemProductsAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProduct202110ListRequest'
        description: the products to append to this line item
        x-nullable: false
        x-bodyName: promotedProductsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProduct202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}/products/delete:
    post:
      description: This endpoint removes one or more products from promotion on the
        specified line item.  The resulting state of the line item is returned.
      operationId: PromotedProductsApi_PostApi202110ExternalLineItemProductsDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProduct202110ListRequest'
        description: ""
        x-nullable: false
        x-bodyName: promotedProductsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProduct202110PagedListResponse'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}/products/pause:
    post:
      description: This endpoint pauses one or more promoted products on a specified
        line item.
      operationId: PromotedProducts_PostApi202110ExternalLineItemProductsPauseByLineItemId
      parameters:
      - description: The line item to interact with.
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProduct202110ListRequest'
        description: The products from which their IDs will be used to pause.
        x-nullable: false
        x-bodyName: promotedProductsToPause
      responses:
        "200":
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      description: This endpoint unpauses one or more promoted products on a specified
        line item.
      operationId: PromotedProducts_PostApi202110ExternalLineItemProductsUnpauseByLineItemId
      parameters:
      - description: The line item to interact with.
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProduct202110ListRequest'
        description: The products from which their IDs will be used to unpause.
        x-nullable: false
        x-bodyName: promotedProductsToUnpause
      responses:
        "200":
          description: Success
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: LineItemsApi_GetApi202110ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: LineItemsApi_PutApi202110ExternalPreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModel202110Request'
        description: The line item settings to create a line item with
        x-nullable: false
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItem202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket:
    get:
      description: This endpoint gets the add to basket target on the specified line
        item.
      operationId: TargetingApi_GetApi202110ExternalPreferredLineItemTargetingAddToBasketByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint sets the scope of the add to basket target on the
        specified line item.
      operationId: TargetingApi_PutApi202110ExternalPreferredLineItemTargetingAddToBasketByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketTarget202110Request'
        description: The add to basket target to set the scope for
        x-nullable: false
        x-bodyName: addToBasketTarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/append:
    post:
      description: This endpoint appends one or more add to basket ids to targeting
        on the specified line item.  The resulting state of the add to basket target
        is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAddToBasketAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        description: Ids to append to the target
        x-nullable: false
        x-bodyName: idsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/delete:
    post:
      description: This endpoint removes one or more add to basket ids from targeting
        on the specified line item.  The resulting state of the add to basket target
        is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAddToBasketDeleteByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        description: Ids to remove from the target
        x-nullable: false
        x-bodyName: idsToRemove
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/preferred-line-items/{line-item-id}/targeting/audiences:
    get:
      description: This endpoint gets the audience target on the specified line item.
      operationId: TargetingApi_GetApi202110ExternalPreferredLineItemTargetingAudiencesByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: This endpoint sets the scope of the audience target on the specified
        line item.
      operationId: TargetingApi_PutApi202110ExternalPreferredLineItemTargetingAudiencesByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTarget202110Request'
        description: The audience target to set the scope for
        x-nullable: false
        x-bodyName: audienceTarget
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
          description: Bad Request
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2024-04/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/append:
    post:
      description: This endpoint appends one or more audiences ids to targeting on
        the specified line item.  The resulting state of the audience target is returned.
      operationId: TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAudiencesAppendByLineItemId
      parameters:
      - description: The line item to interact with
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        description: Audience ids to append to the target
        x-nullable: false
        x-bodyName: idsToAppend
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
[...]
