openapi: 3.0.1
info:
  description: This is used to help Criteo clients use our API
  title: Criteo API Specification
  version: preview
servers:
- url: https://api.criteo.com
security:
- Authorization: []
paths:
  /oauth2/token:
    post:
      description: Creates a token when the supplied client credentials are valid
      operationId: CreateToken
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                client_id:
                  description: API Client-Id or Username
                  type: string
                client_secret:
                  description: API Client secret or password
                  format: password
                  type: string
                grant_type:
                  default: client_credentials
                  description: Other grant types are not available
                  type: string
              type: object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtModel'
            application/json:
              schema:
                $ref: '#/components/schemas/JwtModel'
            text/json:
              schema:
                $ref: '#/components/schemas/JwtModel'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: Bad request
      tags:
      - OAuth
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /preview/me:
    get:
      operationId: GetCurrentApplication
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          description: Not Found
      tags:
      - OAuth
      x-accepts: application/json
  /2021-04/audiences:
    get:
      description: Get a list of all the audiences for the user or for the given advertiser_id
      operationId: getAudiences
      parameters:
      - description: "The advertiser id to get all the audiences for.\nMandatory for\
          \ internal users. For external users,\n           if you don't provide it,\
          \ we will take into account the advertisers from your portfolio"
        explode: true
        in: query
        name: advertiser-id
        required: false
        schema:
          format: int32
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: AudienceContactlist
                  id: "1"
                  attributes:
                    advertiserId: "18"
                    name: Audience name
                    description: Audience
                    created: 2018-12-10T10:00:50.0000000+00:00
                    updated: 2018-12-10T10:17:15.0000000+00:00
                    nbLines: 100
                    nbLinesEmail: 10
                    nbMatchesEmail: 10
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/GetAudiencesResponse'
          description: The list was retrieved.
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an Audience for an Advertiser
      operationId: createAudience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/NewAudienceResponse'
          description: The audience was created
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /2021-04/audiences/{audience-id}/contactlist:
    delete:
      description: delete all identifiers from an Audience
      operationId: deleteIdentifiers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The contactlist was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove users to or from an audience
      operationId: modifyAudienceUsers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: "12"
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Audience 123 not found
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /2021-04/audiences/{audience-id}:
    delete:
      description: Delete an audience by id
      operationId: removeAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceResponse'
          description: The audience was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Update user audience specified by the audience id
      operationId: modifyAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                  attributes:
                    name: example audience
                    description: example audience description
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ReplaceAudienceResponse'
          description: The audience was updated
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /2021-04/marketing-solutions/ad-sets/{adSetId}:
    get:
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: adSetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
          description: data for the ad set
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /2021-04/marketing-solutions/ad-sets/search:
    post:
      description: Search for ad sets
      operationId: SearchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
          description: data for the ad sets
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-04/marketing-solutions/ad-sets:
    patch:
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
        description: List of adsets to patch.
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
          description: List of patched adSets.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-04/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-04/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-04/statistics/report:
    post:
      description: "This Statistics endpoint provides adset related data. It is an\
        \ upgrade of our previous Statistics endpoint, and includes new metrics and\
        \ customization capabilities."
      operationId: GetAdsetReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
        x-bodyName: reportQuery
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-501e-e48007356e9f
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-501e-e48007356e9f
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-04/transactions/report:
    post:
      description: This Transactions endpoint provides transactions id related data.
      operationId: GetTransactionsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-501e-e48007356e9f
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-501e-e48007356e9f
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /2021-04/advertisers/me:
    get:
      description: Use this call to fetch a list of all advertisers in your account.
      operationId: ApiPortfolioGet
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Unauthorized
      tags:
      - Advertiser
      x-accepts: application/json
  /legacy/marketing/v1/advertisers/{advertiserId}/categories:
    get:
      description: Get the list of all the categories linked to the requested advertiser.
      operationId: Advertisers_GetCategories
      parameters:
      - description: Mandatory. The id of the advertiser to return.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Optional. Returns only categories you can bid on. Defaults to
          false.
        explode: true
        in: query
        name: enabledOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
          description: Categories returned OK.
        "401":
          content: {}
          description: Authentication failed.
        "403":
          content: {}
          description: The requested advertiser is missing from current user’s portfolio.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Gets all advertiser's categories
      tags:
      - Advertiser
      x-accepts: application/json
  /legacy/marketing/v1/advertisers/{advertiserId}/categories/{categoryHashCode}:
    get:
      description: Get a specific category linked to the requested advertiser.
      operationId: Advertisers_GetCategory
      parameters:
      - description: Mandatory. The id of the advertiser to return.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Mandatory. The id of the category to return.
        explode: false
        in: path
        name: categoryHashCode
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
          description: Category returned OK.
        "401":
          content: {}
          description: Authentication failed.
        "403":
          content: {}
          description: The requested advertiser is missing from current user’s portfolio.
        "404":
          content: {}
          description: The requested category was not found for the advertiser.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Gets a specific advertiser's category
      tags:
      - Advertiser
      x-accepts: application/json
  /legacy/marketing/v1/campaigns/{campaignId}/categories:
    get:
      description: Get the list of categories linked to the requested campaign.
      operationId: Campaigns_GetCategories
      parameters:
      - description: Mandatory. The id of the campaign the categories are linked to.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Optional. Returns only categories you can bid on. Defaults to
          false.
        explode: true
        in: query
        name: enabledOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            text/html:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
          description: Categories returned OK.
        "401":
          content: {}
          description: Authentication failed.
        "403":
          content: {}
          description: One of the requested campaigns doesn't belong to the API user's
            portfolio which prevents from accessing its data.
        "404":
          content: {}
          description: The requested campaign was not found.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Gets categories
      tags:
      - Campaign
      x-accepts: application/json
  /legacy/marketing/v1/campaigns/{campaignId}/categories/{categoryHashCode}:
    get:
      description: Get a specific category linked to the requested campaign.
      operationId: Campaigns_GetCategory
      parameters:
      - description: Mandatory. The id of the campaign the categories are linked to.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Mandatory. The id of the category to return.
        explode: false
        in: path
        name: categoryHashCode
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
            text/html:
              schema:
                $ref: '#/components/schemas/CategoryMessage'
          description: Category returned OK.
        "401":
          content: {}
          description: Authentication failed.
        "403":
          content: {}
          description: One of the requested campaigns doesn't belong to the API user's
            portfolio which prevents from accessing its data.
        "404":
          content: {}
          description: The requested category was not found for the campaign.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Gets a specific category
      tags:
      - Campaign
      x-accepts: application/json
  /legacy/marketing/v1/campaigns/bids:
    get:
      description: "Get the campaigns' bids, as well as the bids of their categories"
      operationId: Campaigns_GetBids
      parameters:
      - description: "Optional. The ids of the campaigns we want to get the bids on.\
          \ If not specified, advertiserIds will be used."
        explode: true
        in: query
        name: campaignIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The ids of the advertisers' campaigns we want to get\
          \ the bids on. If campaignIds not specified, and neither is advertiserIds,\
          \ all the advertisers in the user's portfolio are used."
        explode: true
        in: query
        name: advertiserIds
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Filters only specified categories. By default no filtering
          is applied.
        explode: true
        in: query
        name: categoryHashCodes
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Filters by bid type. By default no filtering is applied.
        explode: true
        in: query
        name: bidType
        required: false
        schema:
          enum:
          - Unknown
          - CPC
          - COS
          - CPO
          type: string
        style: form
      - description: Optional. Filters by campaign status. By default no filtering
          is applied.
        explode: true
        in: query
        name: campaignStatus
        required: false
        schema:
          enum:
          - Running
          - Archived
          - NotRunning
          type: string
        style: form
      - description: Optional. Filters only pending changes or settled ones. By default
          no filtering is applied.
        explode: true
        in: query
        name: pendingChanges
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignBidMessage'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignBidMessage'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignBidMessage'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignBidMessage'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignBidMessage'
                type: array
          description: Bids returned OK.
        "401":
          content: {}
          description: Authentication failed.
        "403":
          content: {}
          description: There is not even one valid advertiserId or campaignId requested.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Gets a the bids for campaigns and their categories
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: "If a campaign bid is updated, all (if any) category bids for this\
        \ campaign will be updated with the new value if they are initially equal\
        \ to the campaign bid.\r\nIf the category bid is not wanted to be cascaded\
        \ to the categories with the same bid value, new change bids must be added\
        \ in the request for the categories where the value should be kept (with the\
        \ initial value)."
      operationId: Campaigns_UpdateBids
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CampaignBidChangeRequest'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/CampaignBidChangeRequest'
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/CampaignBidChangeRequest'
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/CampaignBidChangeRequest'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/CampaignBidChangeRequest'
              type: array
          text/html:
            schema:
              items:
                $ref: '#/components/schemas/CampaignBidChangeRequest'
              type: array
        description: Specifies the list of bid changes to be applied.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignMessage'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignMessage'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignMessage'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignMessage'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignMessage'
                type: array
          description: Campaign bids updated OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignBidChangeResponseMessageWithDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignBidChangeResponseMessageWithDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/CampaignBidChangeResponseMessageWithDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/CampaignBidChangeResponseMessageWithDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/CampaignBidChangeResponseMessageWithDetails'
          description: Invalid input. Please check returned message for details.
        "401":
          content: {}
          description: Authentication failed.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Update bids for campaigns and their categories
      tags:
      - Campaign
      x-codegen-request-body-name: bidChanges
      x-contentType: application/json
      x-accepts: application/json
  /legacy/marketing/v1/categories:
    get:
      description: "Get the list of categories with the specified filters.\r\nIf a\
        \ category is requested but is missing from current user's portfolio, it will\
        \ not be included in the list.\r\nIf neither campaign ids nor advertisers\
        \ ids are provided, then the user's portfolio will be used."
      operationId: Categories_GetCategories
      parameters:
      - description: "Optional. One or more campaign ids, E.g., 78, 12932, 45236.\
          \ If the campaign ids requested are not liked to advertisers in the user's\
          \ portfolio, they will be skipped."
        explode: true
        in: query
        name: campaignIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. One or more advertiser ids, E.g., 78, 12932, 45236.\
          \ If the advertiser ids requested are not part of the user's portfolio,\
          \ they will be skipped."
        explode: true
        in: query
        name: advertiserIds
        required: false
        schema:
          type: string
        style: form
      - description: Optional. One or more category hash codes.
        explode: true
        in: query
        name: categoryHashCodes
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Returns only categories you can bid on. Defaults to
          false.
        explode: true
        in: query
        name: enabledOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryMessage'
                type: array
          description: Categories returned OK.
        "400":
          content: {}
          description: There is not even one valid advertiserId or campaignId requested.
        "401":
          content: {}
          description: Authentication failed.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Gets categories
      tags:
      - Category
      x-accepts: application/json
    put:
      description: "Update categories for multiple catalogs.<br />\r\nPlease note\
        \ that all validations need to pass before applying the requested changes;\r\
        \nthe subsequent validation error messages will be returned in the response.<br\
        \ />\r\nPlease note that bidding will still happen for disabled categories,\
        \ but using the Camapign's bid.\r\nIf the call is successful, full details\
        \ about the changed categories will be returned."
      operationId: Categories_UpdateCategories
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
              type: array
          text/html:
            schema:
              items:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
              type: array
        description: "The list of categories to be enabled/disabled, grouped by catalog."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryUpdatesPerCatalog'
                type: array
          description: Categories updated OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalogErrorMessageWithDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalogErrorMessageWithDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalogErrorMessageWithDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalogErrorMessageWithDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/CategoryUpdatesPerCatalogErrorMessageWithDetails'
          description: Invalid input. Please check returned message for details.
        "401":
          content: {}
          description: Authentication failed.
        "429":
          content: {}
          description: Throttling failure. Maximum sending rate exceeded.
        "500":
          content: {}
          description: Unknown error.
      summary: Enables/disables categories
      tags:
      - Category
      x-codegen-request-body-name: categoriesPerCatalog
      x-contentType: application/json
      x-accepts: application/json
components:
  requestBodies:
    inline_object:
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/inline_object'
  schemas:
    ApplicationSummaryModelResponse:
      example:
        data:
          attributes:
            organizationId: 0
            name: name
            description: description
            criteoService: criteoService
          id: id
          type: type
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ApplicationSummaryModelResource:
      example:
        attributes:
          organizationId: 0
          name: name
          description: description
          criteoService: criteoService
        id: id
        type: type
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
      type: object
    ApplicationSummaryModel:
      example:
        organizationId: 0
        name: name
        description: description
        criteoService: criteoService
      properties:
        name:
          type: string
        organizationId:
          format: int32
          type: integer
        description:
          type: string
        criteoService:
          type: string
      type: object
      x-criteo-canonical:
        infoType: entity
    CommonProblem:
      description: Common problem object. Can be specialized as needed.
      example:
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceIdentifier:
          description: The request correlation ID this problem comes from.
          type: string
        type:
          description: The problem's category.
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "A machine-readable  error code, expressed as a string value."
          type: string
        instance:
          description: A URI that identifies the specific occurrence of the problem.
          type: string
        title:
          description: A short human-readable description of the problem type
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          type: string
        source:
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s)
            causing the error(s)
          type: object
        stackTrace:
          type: string
      type: object
    JwtModel:
      example:
        access_token: access_token
        token_type: token_type
        expires_in: 0
      properties:
        access_token:
          description: The access token issued by the authorization server.
          type: string
        token_type:
          description: The type of the token issued.
          type: string
        expires_in:
          description: "The lifetime in seconds of the access token.For\r\nexample,\
            \ the value \"3600\" denotes that the access token will\r\nexpire in one\
            \ hour from the time the response was generated.\r\nIf omitted, the authorization\
            \ server SHOULD provide the\r\nexpiration time via other means or document\
            \ the default value."
          format: int32
          type: integer
      type: object
    OAuth2Error:
      description: Represents an error response from an OAuth2 flow
      properties:
        error:
          type: string
        error_description:
          type: string
      required:
      - error
      type: object
    GetAudiencesResponse:
      description: Body of the GET audience operation
      example:
        data:
        - attributes:
            nbLinesEmail: 6
            nbLines: 0
            created: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            nbMatchesEmail: 1
            updated: 2000-01-23T04:56:07.000+00:00
            advertiserId: advertiserId
          id: "314159"
          type: Audience
        - attributes:
            nbLinesEmail: 6
            nbLines: 0
            created: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            nbMatchesEmail: 1
            updated: 2000-01-23T04:56:07.000+00:00
            advertiserId: advertiserId
          id: "314159"
          type: Audience
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/Audience'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ErrorCodeResponse:
      description: Definition of the error code
      properties:
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - errors
      type: object
    NewAudienceResponse:
      description: Response of a newly created audience
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    DeleteAudienceContactListResponse:
      description: Response of a contactlist deletion
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ModifyAudienceResponse:
      description: Parameters to modify an audience
      example:
        data:
          attributes:
            nbValidIdentifiers: 0
            nbInvalidIdentifiers: 6
            sampleInvalidIdentifiers:
            - sampleInvalidIdentifiers
            - sampleInvalidIdentifiers
            contactListId: contactListId
            requestDate: 2000-01-23T04:56:07.000+00:00
            identifierType: identifierType
            operation: operation
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ContactlistOperation'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    DeleteAudienceResponse:
      description: Response of an audience deletion
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    ReplaceAudienceResponse:
      description: Response of an audience replacement
      example:
        data:
          attributes:
            name: name
            description: description
          id: id
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        errors:
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
        - traceId: traceId
          code: code
          instance: instance
          detail: detail
          source: "{}"
          stackTrace:
          - stackTrace
          - stackTrace
          type: access-control
          title: title
      properties:
        data:
          $ref: '#/components/schemas/BasicAudienceDefinition'
        errors:
          items:
            $ref: '#/components/schemas/AudienceError'
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/AudienceWarning'
          type: array
      required:
      - data
      - errors
      - warnings
      type: object
    NewAudienceRequest:
      description: Body of creation of a new audience
      example:
        data:
          attributes:
            name: name
            description: description
            advertiserId: advertiserId
          type: Audience
      properties:
        data:
          $ref: '#/components/schemas/NewAudience'
      type: object
    ContactlistAmendmentRequest:
      description: Request for a contactlist amendment
      example:
        data:
          attributes:
            gumCallerId: 0
            identifiers:
            - identifiers
            - identifiers
            identifierType: email
            internalIdentifiers: true
            operation: add
          type: ContactlistAmendment
      properties:
        data:
          $ref: '#/components/schemas/ContactlistAmendment'
      required:
      - data
      type: object
    ReplaceAudienceRequest:
      description: Request to replace an audience
      example:
        data:
          attributes:
            name: name
            description: description
          type: Audience
      properties:
        data:
          $ref: '#/components/schemas/ReplaceAudience'
      required:
      - data
      type: object
    Audience:
      description: Definition of an audience and all its information
      example:
        attributes:
          nbLinesEmail: 6
          nbLines: 0
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          nbMatchesEmail: 1
          updated: 2000-01-23T04:56:07.000+00:00
          advertiserId: advertiserId
        id: "314159"
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        id:
          description: id of the Audience
          example: "314159"
          type: string
        attributes:
          $ref: '#/components/schemas/Audience_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    AudienceError:
      description: Definition of an audience error
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source: "{}"
        stackTrace:
        - stackTrace
        - stackTrace
        type: access-control
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
        type:
          description: (REQUIRED) The classification of the error
          enum:
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kebab-case."
          type: string
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem
          type: string
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type"
          type: string
        detail:
          description: (RECOMMENDED) A human-readable explanation specific to this
            occurrence of the problem
          type: string
        source:
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          items:
            type: string
          type: array
      required:
      - code
      - instance
      - type
      type: object
    AudienceWarning:
      description: Definition of the warning
      example:
        traceId: traceId
        code: code
        instance: instance
        detail: detail
        source: "{}"
        stackTrace:
        - stackTrace
        - stackTrace
        type: access-control
        title: title
      properties:
        traceId:
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is
            also a unique identifier for this particular occurrence of the problem.
          type: string
        type:
          description: (REQUIRED) The classification of the error
          enum:
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          description: "(REQUIRED) A machine-readable unique error code, expressed\
            \ as a string value. The format used must be kebab-case."
          type: string
        instance:
          description: (REQUIRED) A URI reference that identifies the specific occurrence
            of the problem
          type: string
        title:
          description: "(RECOMMENDED) A short, human-readable summary of the problem\
            \ type"
          type: string
        detail:
          description: (REQUIRED) A human-readable explanation specific to this occurrence
            of the problem
          type: string
        source:
          description: (OPTIONAL) A machine-readable structure to reference to the
            exact location(s) causing the error(s)
          type: object
        stackTrace:
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced
            by the implementation technology
          items:
            type: string
          type: array
      required:
      - code
      - detail
      - instance
      - type
      type: object
    BasicAudienceDefinition:
      description: Common definition of an audience
      example:
        attributes:
          name: name
          description: description
        id: id
        type: type
      properties:
        id:
          description: the id of the entity type
          type: string
        type:
          description: the name of the entity type
          type: string
        attributes:
          $ref: '#/components/schemas/AudienceNameDescription'
      required:
      - id
      - type
      type: object
    ContactlistOperation:
      description: Response definition of a contactlist operation
      example:
        attributes:
          nbValidIdentifiers: 0
          nbInvalidIdentifiers: 6
          sampleInvalidIdentifiers:
          - sampleInvalidIdentifiers
          - sampleInvalidIdentifiers
          contactListId: contactListId
          requestDate: 2000-01-23T04:56:07.000+00:00
          identifierType: identifierType
          operation: operation
        type: type
      properties:
        type:
          description: the name of the entity type
          type: string
        attributes:
          $ref: '#/components/schemas/ContactlistOperation_attributes'
      required:
      - attributes
      - type
      type: object
    NewAudience:
      description: "Body for the creation of a new audience (name, advertiserId, etc)"
      example:
        attributes:
          name: name
          description: description
          advertiserId: advertiserId
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        attributes:
          $ref: '#/components/schemas/NewAudience_attributes'
      required:
      - attributes
      - type
      type: object
    ContactlistAmendment:
      description: Parameters for the amendment of a contactlist
      example:
        attributes:
          gumCallerId: 0
          identifiers:
          - identifiers
          - identifiers
          identifierType: email
          internalIdentifiers: true
          operation: add
        type: ContactlistAmendment
      properties:
        type:
          description: User List
          example: ContactlistAmendment
          type: string
        attributes:
          $ref: '#/components/schemas/ContactlistAmendment_attributes'
      required:
      - attributes
      - type
      type: object
    ReplaceAudience:
      description: Parameters required to replace an audience
      example:
        attributes:
          name: name
          description: description
        type: Audience
      properties:
        type:
          description: the name of the entity type
          example: Audience
          type: string
        attributes:
          $ref: '#/components/schemas/AudienceNameDescription'
      required:
      - attributes
      - type
      type: object
    AudienceNameDescription:
      description: Description of an audience with name and detailed description
      example:
        name: name
        description: description
      properties:
        name:
          description: The name to designate the audience by
          type: string
        description:
          description: The description of the audience
          type: string
      type: object
    ResponseReadAdSet:
      description: output resource
      example:
        data:
          attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                countries:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                subdivisions:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          $ref: '#/components/schemas/ReadModelReadAdSet'
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ResponsesReadAdSet:
      description: List of output resources
      example:
        data:
        - attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                countries:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                subdivisions:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        - attributes:
            schedule:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              activationStatus: "on"
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
              deliveryStatus: draft
            targeting:
              geoLocation:
                zipCodes:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                countries:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                subdivisions:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidStrategy: actions
              bidAmount:
                value: 0.8008281904610115
              costController: COS
            campaignId: campaignId
            name: name
            destinationEnvironment: undefined
            advertiserId: advertiserId
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: ReadAdSet
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelReadAdSet'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ResponseAdSetId:
      description: output resource
      example:
        data:
        - id: id
          type: AdSetId
        - id: id
          type: AdSetId
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelAdSetId'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    ResponsesAdSetId:
      description: List of output resources
      example:
        data:
        - id: id
          type: AdSetId
        - id: id
          type: AdSetId
        warnings:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        errors:
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
        - traceIdentifier: traceIdentifier
          code: code
          instance: instance
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          type: unknown
          title: title
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReadModelAdSetId'
          readOnly: true
          type: array
          uniqueItems: false
        warnings:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
        errors:
          items:
            $ref: '#/components/schemas/ProblemDetails'
          readOnly: true
          type: array
          uniqueItems: false
      type: object
    RequestAdSetSearch:
      description: request payload of the search endpoint
      example:
        filters:
          adSetIds:
          - adSetIds
          - adSetIds
          advertiserIds:
          - advertiserIds
          - advertiserIds
          campaignIds:
          - campaignIds
          - campaignIds
      properties:
        filters:
          $ref: '#/components/schemas/AdSetSearchFilter'
      type: object
    RequestsPatchAdSet:
      description: List of input resources
      example:
        data:
        - attributes:
            targeting:
              geoLocation:
                zipCodes:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                countries:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                subdivisions:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidAmount:
                value: 0.8008281904610115
            name: name
            scheduling:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: PatchAdSet
        - attributes:
            targeting:
              geoLocation:
                zipCodes:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                countries:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
                subdivisions:
                  value:
                    values:
                    - values
                    - values
                    operand: undefined
              frequencyCapping:
                maximumImpressions: 6
                frequency: hourly
              deliveryLimitations:
                operatingSystems:
                - android
                - android
                environments:
                - web
                - web
                devices:
                - other
                - other
            bidding:
              bidAmount:
                value: 0.8008281904610115
            name: name
            scheduling:
              endDate:
                value: 2000-01-23T04:56:07.000+00:00
              startDate:
                value: 2000-01-23T04:56:07.000+00:00
            budget:
              budgetDeliverySmoothing: accelerated
              budgetDeliveryWeek: undefined
              budgetAmount:
                value: 0.8008281904610115
              budgetRenewal: undefined
              budgetStrategy: capped
          id: id
          type: PatchAdSet
      properties:
        data:
          items:
            $ref: '#/components/schemas/WriteModelPatchAdSet'
          type: array
          uniqueItems: false
      type: object
    RequestsAdSetId:
      description: List of input resources
      example:
        data:
        - id: id
          type: AdSetId
        - id: id
          type: AdSetId
      properties:
        data:
          items:
            $ref: '#/components/schemas/WriteModelAdSetId'
          type: array
          uniqueItems: false
      type: object
    ReadModelReadAdSet:
      description: read model data for resources
      example:
        attributes:
          schedule:
            endDate:
              value: 2000-01-23T04:56:07.000+00:00
            activationStatus: "on"
            startDate:
              value: 2000-01-23T04:56:07.000+00:00
            deliveryStatus: draft
          targeting:
            geoLocation:
              zipCodes:
                value:
                  values:
                  - values
                  - values
                  operand: undefined
              countries:
                value:
                  values:
                  - values
                  - values
                  operand: undefined
              subdivisions:
                value:
                  values:
                  - values
                  - values
                  operand: undefined
            frequencyCapping:
              maximumImpressions: 6
              frequency: hourly
            deliveryLimitations:
              operatingSystems:
              - android
              - android
              environments:
              - web
              - web
              devices:
              - other
              - other
          bidding:
            bidStrategy: actions
            bidAmount:
              value: 0.8008281904610115
            costController: COS
          campaignId: campaignId
          name: name
          destinationEnvironment: undefined
          advertiserId: advertiserId
          budget:
            budgetDeliverySmoothing: accelerated
            budgetDeliveryWeek: undefined
            budgetAmount:
              value: 0.8008281904610115
            budgetRenewal: undefined
            budgetStrategy: capped
        id: id
        type: ReadAdSet
      properties:
        id:
          description: Id of the entity
          readOnly: true
          type: string
        type:
          example: ReadAdSet
          readOnly: true
          type: string
        attributes:
          $ref: '#/components/schemas/ReadAdSet'
      type: object
    ProblemDetails:
      description: Data model for common error or warning
      example:
        traceIdentifier: traceIdentifier
        code: code
        instance: instance
        detail: detail
        source:
          key: source
        stackTrace: stackTrace
        type: unknown
        title: title
      properties:
        traceIdentifier:
          type: string
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
        code:
          type: string
        instance:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          additionalProperties:
            type: string
          type: object
        stackTrace:
          type: string
      type: object
    ReadModelAdSetId:
      description: read model data for resources
      example:
        id: id
        type: AdSetId
      properties:
        id:
          description: Id of the entity
          readOnly: true
          type: string
        type:
          example: AdSetId
          readOnly: true
          type: string
      type: object
    AdSetSearchFilter:
      description: filter on ad set ids
      example:
        adSetIds:
        - adSetIds
        - adSetIds
        advertiserIds:
        - advertiserIds
        - advertiserIds
        campaignIds:
        - campaignIds
        - campaignIds
      properties:
        adSetIds:
          items:
[...]
