openapi: 3.0.1
info:
  description: Criteo publicly exposed API
  title: Criteo API
  version: Preview
servers:
- url: https://api.criteo.com
security:
- oauth: []
paths:
  /preview/audiences:
    get:
      description: Get a list of all the audiences for the user or for the given advertiser_id
      operationId: getAudiences
      parameters:
      - description: "The advertiser id to get all the audiences for.\nMandatory for\
          \ internal users. For external users,\n           if you don't provide it,\
          \ we will take into account the advertisers from your portfolio"
        explode: true
        in: query
        name: advertiser-id
        required: false
        schema:
          format: int32
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: AudienceContactlist
                  id: "1"
                  attributes:
                    advertiserId: "18"
                    name: Audience name
                    description: Audience
                    created: 2018-12-10T10:00:50.0000000+00:00
                    updated: 2018-12-10T10:17:15.0000000+00:00
                    nbLines: 100
                    nbLinesEmail: 10
                    nbMatchesEmail: 10
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/GetAudiencesResponse'
          description: The list was retrieved.
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    post:
      description: Create an Audience for an Advertiser
      operationId: createAudience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/NewAudienceResponse'
          description: The audience was created
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /preview/audiences/{audience-id}/contactlist:
    delete:
      description: delete all identifiers from an Audience
      operationId: deleteIdentifiers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The contactlist was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove users to or from an audience
      operationId: modifyAudienceUsers
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: "12"
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Audience 123 not found
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /preview/audiences/{audience-id}:
    delete:
      description: Delete an audience by id
      operationId: removeAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceResponse'
          description: The audience was deleted
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Update user audience specified by the audience id
      operationId: modifyAudience
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAudienceRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                  attributes:
                    name: example audience
                    description: example audience description
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ReplaceAudienceResponse'
          description: The audience was updated
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: "Audience is not found, please choose a valid audience"
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
          description: Forbidden
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /preview/audiences/{audience-id}/contactlist-attributes:
    patch:
      description: Add/remove users to or from an audience
      operationId: modifyAudienceUsersWithAttributes
      parameters:
      - description: The id of the audience to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistWithAttributesAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  operation: ""
                  requestDate: ""
                  identifierType: ""
                  nbValidIdentifiers: 0
                  nbInvalidIdentifiers: 0
                  sampleInvalidIdentifiers:
                  - ""
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "401":
          description: Not authorized
      tags:
      - Audience
      x-contentType: application/json
      x-accepts: application/json
  /me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
        "404":
          content:
            application/json: {}
          description: Not Found
      tags:
      - Gateway
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets/{adSetId}:
    get:
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: adSetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
          description: data for the ad set
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets/search:
    post:
      description: Search for ad sets
      operationId: SearchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestAdSetSearch'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSet'
          description: data for the ad sets
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets:
    patch:
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSet'
        description: List of adsets to patch.
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseAdSetId'
          description: List of patched adSets.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
    post:
      description: Create the specified ad set
      operationId: CreateAdSet
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateAdSetRequest'
        description: the ad sets to create
        x-bodyName: adSet
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSet'
          description: The ad set that has been created and errors / warnings
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers:
    get:
      description: Get the Display Multipliers for all valid Categories associated
        to an Ad Set
      operationId: GetDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
          description: List of Display Multipliers for all valid Categories associated
            to an Ad Set.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Display Multipliers for one or more Categories in a single
        request. Partial success policy is followed.
      operationId: PatchDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
        x-bodyName: displayMultipliersToUpdate
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
          description: List of updated Display Multipliers for given Categories associated
            to an Ad Set.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/ad-sets/{ad-set-id}/category-bids:
    get:
      description: Get the Category Bids for all valid Categories associated to an
        Ad Set
      operationId: GetCategoryBidList
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
          description: List of Category Bids for all valid Categories associated to
            an Ad Set.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: Patch Category Bids for one or more Categories in a single request.
        Partial success policy is followed.
      operationId: PatchCategoryBidList
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
        x-bodyName: categoryBidsToUpdate
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
          description: List of updated Category Bids for given Categories associated
            to an Ad Set.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/campaigns/{campaign-id}:
    get:
      description: Get the data for the specified campaign
      operationId: GetCampaign
      parameters:
      - description: Id of the campaign
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          description: data for the campaign
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-accepts: application/json
  /preview/marketing-solutions/campaigns/search:
    post:
      description: Search for campaigns
      operationId: SearchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequest'
        description: filters on campaigns
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
          description: data for the campaigns
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Forbidden
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/marketing-solutions/campaigns:
    patch:
      description: Patch a list of Campaigns.
      operationId: PatchCampaigns
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
        description: List of campaigns to patch.
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
          description: List of patched campaigns.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not authorized to access this resource or
            the resource does not exist.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
    post:
      description: Create the specified campaign
      operationId: CreateCampaign
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        description: the campaigns to create
        x-bodyName: marketingCampaign
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          description: The campaign that has been created and errors / warnings
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: Bad Request
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The API client is not properly authenticated.
      tags:
      - Campaign
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/creatives:
    get:
      description: "Get the list of self-services Creatives (50 by default, to get\
        \ a different number of Creatives, you can use the offset and limit parameters\
        \ in the query string) for a given advertiser"
      operationId: GetCreatives
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of creatives to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of creatives. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreativeListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreativeListResponse'
          description: The list of self-services Creatives is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Creative
      operationId: CreateCreative
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
          description: The created creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/creatives/{id}:
    delete:
      description: Delete a Creative if there are no ads binded to it
      operationId: DeleteCreative
      parameters:
      - description: The creative identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The creative was deleted.
        "400":
          description: The request contained invalid parameters.
        "401":
          description: The request was not properly authorized.
        "500":
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Creative with its id
      operationId: GetCreative
      parameters:
      - description: The creative identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
          description: The found creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Creative
      operationId: EditCreative
      parameters:
      - description: The creative identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreativeWriteRequest'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
          description: The edited creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/creatives/{id}/preview:
    get:
      description: Get the preview of a specific Creative
      operationId: GetCreativePreview
      parameters:
      - description: The Creative identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the Creative to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The height of the Creative to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: The preview HTML of a specific Creative is returned.
        "400":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/ads:
    get:
      description: "Get the list of self-services Ads (50 by default, to get a different\
        \ number of Ads, you can use the offset and limit parameters in the query\
        \ string) for a given advertiser"
      operationId: GetAds
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of ads to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of ads. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdListResponse'
          description: The list of self-services Ads is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create an Ad
      operationId: CreateAd
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdWriteRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AdWriteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AdWriteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdWriteRequest'
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
          description: The created Ad is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/ads/{id}:
    delete:
      description: Delete an Ad
      operationId: DeleteAd
      parameters:
      - description: The ad identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: The ad was deleted.
        "400":
          description: The request contained invalid parameters.
        "401":
          description: The request was not properly authorized.
        "500":
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get an Ad with its id
      operationId: GetAd
      parameters:
      - description: The ad identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
          description: The found ad is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons:
    get:
      description: "Get the list of self-services Coupons (50 by default, to get a\
        \ different number of Coupons, you can use the offset and limit parameters\
        \ in the query string) for a given advertiser"
      operationId: GetCoupons
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of coupons to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of coupons. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CouponListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CouponListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CouponListResponse'
          description: The list of self-services Coupons is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Coupon
      operationId: CreateCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CouponResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
          description: Success
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "200":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The created Coupon is returned.
      tags:
      - Creative
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons/{id}:
    delete:
      description: Delete a Coupon
      operationId: DeleteCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The Coupon was deleted.
        "400":
          description: The request contained invalid parameters.
        "403":
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Coupon with its id
      operationId: GetCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CouponResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
          description: The found Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Coupon
      operationId: EditCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CouponResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
          description: The edited Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons/{id}/preview:
    get:
      description: Get the preview of a specific Coupon
      operationId: GetCouponPreview
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the coupon to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The height of the coupon to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: The preview HTML of a specific Coupon is returned.
        "400":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons-supported-sizes:
    get:
      description: Get the list of Coupon supported sizes
      operationId: GetCouponSupportedSizes
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ad set id on which you want to check the Coupon supported
          sizes.
        explode: true
        in: query
        name: ad-set-id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CouponSupportedSizesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CouponSupportedSizesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CouponSupportedSizesResponse'
          description: The list of Coupon supported sizes is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /oauth2/token:
    post:
      description: Creates a token when the supplied client credentials are valid
      operationId: GetToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                redirect_uri:
                  type: string
                code:
                  type: string
                refresh_token:
                  type: string
              required:
              - client_id
              - client_secret
              - grant_type
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AccessTokenModel'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
          description: Bad request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorModel'
          description: Unauthorized
      summary: Creates a token based either on supplied client credentials or on single
        use authorization code
      tags:
      - OAuth
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /preview/statistics/report:
    post:
      description: "This Statistics endpoint provides adset related data. It is an\
        \ upgrade of our previous Statistics endpoint, and includes new metrics and\
        \ customization capabilities."
      operationId: GetAdsetReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StatisticsReportQueryMessage'
        x-bodyName: reportQuery
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/transactions/report:
    post:
      description: This Transactions endpoint provides transactions id related data.
      operationId: GetTransactionsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransactionsReportQueryDataMessage'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/placements/report:
    post:
      description: "Your ads are placed in different domains (publishers) and environments\
        \ (websites and apps). Thanks to the placements endpoint, you can analyse\
        \ the performances for each publisher, comparing displays, clicks and sales\
        \ generated."
      operationId: GetPlacementsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PlacementsReportQueryDataMessage'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser id to fetch the transparency data.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          text/json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
        x-bodyName: queryMessage
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: TransparencyReport
                  attributes:
                    advertiserId: "123"
                    tokenValidUntil: 2021-01-31T00:00:00.0000000+00:00
                    files:
                    - fileName: report.csv
                      url: https://www.example.com/transparency
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportDataMessage'
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/categories/report:
    post:
      description: With this endpoint you can analyse what are the categories of the
        placements' domains your ads are placed in.
      operationId: GetCategoriesReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequest'
        x-bodyName: dataMessage
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                errors:
                - traceId: 00000000-0000-0000-941c-7dd3acd18056
                  type: access-control
                  code: insufficient-advertiser-permission
                  instance: /report
                  title: Insufficient advertiser permission.
                  detail: You do not have the rights to report on this advertiser.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      tags:
      - Analytics
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/me:
    get:
      description: Fetch the portfolio of Advertisers for this account
      operationId: ApiPortfolioGet
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: advertiser
                  id: "13"
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: "1352"
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: "73550"
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Unauthorized
      tags:
      - Advertiser
      x-accepts: application/json
  /preview/advertisers:
    post:
      description: Create a new advertiser based on provided parameters. This could
        take up to 30 seconds.
      operationId: createAdvertiser
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
        required: true
        x-bodyName: advertiserCreation
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  type: advertiser
                  id: "73550"
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: validation
                  code: invalid
                  title: Failed to create Advertiser
                  detail: Failed to create Advertiser
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: authentication
                  code: invalid
                  title: Permission Denied; This endpoint expects a user token
                  detail: Permission Denied; This endpoint expects a user token
                warnings: []
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseV2'
            text/plain:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseV2'
            text/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: availability
                  code: internal-error
                  title: Internal Server Error
                  detail: Internal Server Error
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
          description: Server Error
      tags:
      - Advertiser
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/industries:
    get:
      description: Returns the list of available industries for new advertisers.
      operationId: listIndustries
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: industry
                  id: "13"
                - type: industry
                  id: "1352"
                - type: industry
                  id: "73550"
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
          description: Success
      tags:
      - Advertiser
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/datasets:
    get:
      description: Retrieves corresponding Datasets for a given Advertiser. Only those
        Datasets are included for which the given Advertiser is marked a primary.
      operationId: getDatasetList
      parameters:
      - description: The id of the Advertiser for which Datasets are being retrieved.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: dataset
                  id: "73550"
                  attributes:
                    name: Dataset 1
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
          description: Success
        "403":
          content:
            application/json:
              example:
                data: []
                errors:
                - traceId: cb381a21702b247f
                  type: authorization
                  code: permission-denied
                  title: "Permission denied, you do not have access this to resource"
                  detail: "Permission denied, you do not have access this to resource"
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
          description: Forbidden
        "401":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: authentication
                  code: invalid
                  title: Permission Denied; This endpoint expects a user token
                  detail: Permission Denied; This endpoint expects a user token
                warnings: []
            text/plain: {}
            text/json: {}
          description: Unauthorized
      tags:
      - Advertiser
      x-accepts: application/json
  /preview/catalog/products/batch:
    post:
      description: "Used to publish a batch of operations to insert, update and deletes\
        \ products.\n The batch is processed asynchronously.The response provides\
        \ an operationToken which can be used to track\n the status of the report\
        \ of the operation."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"required-field\"),(type=\"validation\", code=\"required-field\"\
            ),(type=\"validation\", code=\"json-format\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "413":
          content:
            application/json: {}
          description: "Request too large. By default, payload up to 16 MB is rejected."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Too Many Requests. Allowed error types and errors: [(type=\"\
            availability\", code=\"too-many-requests\")]"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-contentType: application/json
      x-accepts: application/json
  /preview/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-token-is-malformed\"),(type=\"validation\"\
            , code=\"catalog-operation-report-is-expired\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Not Found. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-not-found\")]"
        "429":
          content:
            application/json: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-accepts: application/json
  /preview/recommendation/search:
    post:
      description: "Retrieves a list of products recommended for the given user. This\
        \ end point can either rely on a Criteo UserId, or a list of user events to\
        \ perform the recommendation."
      operationId: ApiV1RecoPost
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OnSiteRecoRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OnSiteRecoRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OnSiteRecoRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OnSiteRecoRequest'
        x-bodyName: request
      responses:
        "400":
          content:
            application/json: {}
          description: Bad Request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnSiteRecoResponse'
          description: Success
        "401":
          content:
            application/json: {}
          description: Unauthorized
      tags:
      - OnSiteRecommendation
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /preview/brand-safety/oci:
    delete:
      description: Delete OCI brand-safety rule.
      operationId: deleteOCIbrandSafetyRule
      parameters:
      - description: Defines a target for a rule.
        explode: true
        in: query
        name: target-type
        required: true
        schema:
          $ref: '#/components/schemas/TargetType'
[...]
