openapi: 3.0.1
info:
  description: Criteo API - MarketingSolutions
  title: Criteo API
  version: preview
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Advertiser
- name: Analytics
- name: Audience
- name: Campaign
- name: Catalog
- name: Creative
- name: Gateway
- name: OnSiteRecommendation
- name: Reco
paths:
  /preview/ads/{ad-id}/product-filter:
    delete:
      description: Disable product filtering for a given ad
      operationId: DisableProductFiltering
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
          description: Successful operation
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
        "409":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
      tags:
      - Reco
      x-accepts: application/json
    get:
      description: Fetch product filtering configuration for a given ad
      operationId: FetchProductFilteringConfig
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
          description: "Successful operation. Returns the product filtering configuration\
            \ if it exists, or empty data if it doesn't."
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
      tags:
      - Reco
      x-accepts: application/json
    post:
      description: Enable product filtering for a given ad
      operationId: EnableProductFiltering
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCreateProductFilterRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCreateProductFilterRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCreateProductFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCreateProductFilterRequest'
        x-bodyName: createProductFilterRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
          description: successful operation
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Operation failure
      tags:
      - Reco
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/ads/{id}:
    delete:
      description: Delete an Ad
      operationId: DeleteAd
      parameters:
      - description: The ad identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: The ad was deleted.
        "400":
          description: The request contained invalid parameters.
        "401":
          description: The request was not properly authorized.
        "500":
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get an Ad with its id
      operationId: GetAd
      parameters:
      - description: The ad identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The found ad is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
  /preview/advertisers:
    post:
      description: Create a new advertiser based on provided parameters. This could
        take up to 30 seconds.
      operationId: createAdvertiser
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdvertiserCreationRequest'
        description: ""
        required: true
        x-bodyName: advertiserCreation
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  type: advertiser
                  id: "73550"
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: validation
                  code: invalid
                  title: Failed to create Advertiser
                  detail: Failed to create Advertiser
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: authentication
                  code: invalid
                  title: Permission Denied; This endpoint expects a user token
                  detail: Permission Denied; This endpoint expects a user token
                warnings: []
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseV2'
            text/plain:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseV2'
            text/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: availability
                  code: internal-error
                  title: Internal Server Error
                  detail: Internal Server Error
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCreationResponse'
          description: Server Error
      tags:
      - Advertiser
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/ads:
    get:
      description: Get the list of self-services Ads for a given advertiser
      operationId: GetAdvertiserAds
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of ads to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of ads. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
          description: The list of self-services Ads is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create an Ad
      operationId: CreateAdvertiserAd
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The created Ad is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons:
    get:
      description: Get the list of self-services Coupons for a given advertiser
      operationId: GetAdvertiserCoupons
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of coupons to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of coupons. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
          description: The list of self-services Coupons is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Coupon
      operationId: CreateAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The created Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons-supported-sizes:
    get:
      description: Get the list of Coupon supported sizes
      operationId: GetAdvertiserCouponSupportedSizes
      parameters:
      - description: The ad set id on which you want to check the Coupon supported
          sizes.
        explode: true
        in: query
        name: ad-set-id
        required: false
        schema:
          type: string
        style: form
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
          description: The list of Coupon supported sizes is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons/{id}:
    delete:
      description: Delete a Coupon
      operationId: DeleteAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The Coupon was deleted.
        "400":
          description: The request contained invalid parameters.
        "403":
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Coupon with its id
      operationId: GetAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The found Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Coupon
      operationId: EditAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The edited Coupon is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/coupons/{id}/preview:
    get:
      description: Get the preview of a specific Coupon
      operationId: GetAdvertiserCouponPreview
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The height of the coupon to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The Coupon identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the coupon to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: The preview HTML of a specific Coupon is returned.
        "400":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/creatives:
    get:
      description: Get the list of self-services Creatives for a given advertiser
      operationId: GetAdvertiserCreatives
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of creatives to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of creatives. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreative'
          description: The list of self-services Creatives is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Creative
      operationId: CreateAdvertiserCreative
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The created creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiser-id}/datasets:
    get:
      description: Retrieves corresponding Datasets for a given Advertiser. Only those
        Datasets are included for which the given Advertiser is marked a primary.
      operationId: getDatasetList
      parameters:
      - description: The id of the Advertiser for which Datasets are being retrieved.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: dataset
                  id: "73550"
                  attributes:
                    name: Dataset 1
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
          description: Success
        "401":
          content:
            application/json:
              example:
                errors:
                - traceId: cb381a21702b247f
                  type: authentication
                  code: invalid
                  title: Permission Denied; This endpoint expects a user token
                  detail: Permission Denied; This endpoint expects a user token
                warnings: []
            text/plain: {}
            text/json: {}
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                data: []
                errors:
                - traceId: cb381a21702b247f
                  type: authorization
                  code: permission-denied
                  title: "Permission denied, you do not have access this to resource"
                  detail: "Permission denied, you do not have access this to resource"
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
          description: Forbidden
      tags:
      - Advertiser
      x-accepts: application/json
  /preview/advertisers/{advertiserId}/targeting/bundle-rules:
    delete:
      description: "Removes some bundles from the current list of targeted bundles\
        \ for a given advertiser.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted bundles for an advertiser.
      operationId: GetAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted bundles for an advertiser and sets\
        \ the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    put:
      description: "Updates the targeted bundles for an advertiser by adding a list\
        \ of bundles to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/{advertiserId}/targeting/domain-rules:
    delete:
      description: "Removes some domains from the current list of targeted domains\
        \ for a given advertiser.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted domains for an advertiser.
      operationId: GetAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted domains for an advertiser and sets\
        \ the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    put:
      description: "Updates the targeted domains for an advertiser by adding a list\
        \ of domains to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/advertisers/me:
    get:
      description: Fetch the portfolio of Advertisers for this account
      operationId: ApiPortfolioGet
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: advertiser
                  id: "13"
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: "1352"
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: "73550"
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Unauthorized
      tags:
      - Advertiser
      x-accepts: application/json
  /preview/audiences/{audience-id}/contactlist-attributes:
    patch:
      description: Add/remove identifiers to or from a contact list.
      operationId: modifyAudienceUsersWithAttributes
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistWithAttributesAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
        "401":
          description: Not authorized
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /preview/campaigns/{campaignId}/targeting/bundle-rules:
    delete:
      description: "Removes some bundles from the current list of targeted bundles\
        \ for a given campaign.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted bundles for a campaign.
      operationId: GetCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted bundles for a campaign and sets the\
        \ targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    put:
      description: "Updates the targeted bundles for a campaign by adding a list of\
        \ bundles to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/campaigns/{campaignId}/targeting/domain-rules:
    delete:
      description: "Removes some domains from the current list of targeted domains\
        \ for a given campaign.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted domains for a campaign.
      operationId: GetCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted domains for a campaign and sets the\
        \ targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
    put:
      description: "Updates the targeted domains for a campaign by adding a list of\
        \ domains to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unauthorized
        "403":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Forbidden
      tags:
      - Campaign
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/catalog/products/batch:
    post:
      description: |-
        Used to publish a batch of operations to insert, update and deletes products.
         The batch is processed asynchronously.The response provides an operationToken which can be used to track
         the status of the report of the operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"required-field\"),(type=\"validation\", code=\"required-field\"\
            ),(type=\"validation\", code=\"json-format\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "413":
          content:
            application/json: {}
          description: "Request too large. By default, payload up to 16 MB is rejected."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Too Many Requests. Allowed error types and errors: [(type=\"\
            availability\", code=\"too-many-requests\")]"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /preview/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Bad Request. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-token-is-malformed\"),(type=\"validation\"\
            , code=\"catalog-operation-report-is-expired\")]"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Not Found. Allowed error types and errors: [(type=\"validation\"\
            , code=\"catalog-operation-not-found\")]"
        "429":
          content:
            application/json: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-accepts: application/json
  /preview/catalog/stats/merchants/{merchant-id}:
    get:
      description: get an stats request
      parameters:
      - description: the last number of hours
        explode: true
        in: query
        name: lastNumHours
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: merchant-id to get
        explode: false
        in: path
        name: merchant-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsOkResponse'
          description: The successful response of GET stats request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Unauthorized. Allowed error types and errors: [(type=\"authentication\"\
            , code=\"not-authenticated\")]"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Forbidden. Allowed error types and errors: [(type=\"authorization\"\
            , code=\"not-authorized\")]"
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Too Many Requests. Allowed error types and errors: [(type=\"\
            availability\", code=\"too-many-requests\")]"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Internal Server Error. Allowed error types and errors: [(type=\"\
            availability\", code=\"internal-error\")]"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
          description: "Service Unavailable. Allowed error types and errors: [(type=\"\
            availability\", code=\"service-unavailable\")]"
      tags:
      - Catalog
      x-accepts: application/json
  /preview/categories/report:
    post:
      description: With this endpoint you can analyse what are the categories of the
        placements' domains your ads are placed in.
      operationId: GetCategoriesReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
            text/xml:
              schema:
                format: binary
                type: string
          description: Success
        "400":
          content:
            text/plain:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            application/xml:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/xml:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Bad Request
        "403":
          content:
            text/plain:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            application/json:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            text/json:
              example:
                warnings: []
                errors:
                - traceId: 905125ba2e35bd81e02ea712e4a05e2d
                  type: validation
                  code: required-field
                  instance: /report
                  title: Start date and end date are required.
                  detail: ""
              schema:
                $ref: '#/components/schemas/Outcome'
            application/xml:
              schema:
                $ref: '#/components/schemas/Outcome'
            text/xml:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Forbidden
      tags:
      - Analytics
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/creatives/{id}:
    delete:
      description: Delete a Creative if there are no ads binded to it
      operationId: DeleteCreative
      parameters:
      - description: The creative identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The creative was deleted.
        "400":
          description: The request contained invalid parameters.
        "401":
          description: The request was not properly authorized.
        "500":
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Creative with its id
      operationId: GetCreative
      parameters:
      - description: The creative identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The found creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Creative
      operationId: EditCreative
      parameters:
      - description: The creative identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The edited creative is returned.
        "400":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "401":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
        "500":
          content:
            text/plain: {}
            application/json: {}
            text/json: {}
          description: A non-request based error occurred on the server.
      tags:
      - Creative
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /preview/creatives/{id}/preview:
    post:
      description: Get the preview of a specific Creative
      operationId: GenerateCreativePreview
      parameters:
      - description: The height of the Creative to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The Creative identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the Creative to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: The preview HTML of a specific Creative is returned.
        "400":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request contained invalid parameters.
        "403":
          content:
            text/html: {}
            application/json: {}
            text/json: {}
          description: The request was not properly authorized.
      tags:
      - Creative
      x-accepts: application/json
  /preview/industries:
    get:
      description: Returns the list of available industries for new advertisers.
      operationId: listIndustries
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: industry
                  id: "13"
                - type: industry
                  id: "1352"
                - type: industry
                  id: "73550"
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
          description: Success
      tags:
      - Advertiser
      x-accepts: application/json
  /preview/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser id to fetch the transparency data.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            example:
              shouldDisplayProductIds: false
              startDate: 2024-04-24T00:00:00.0000000+02:00
[...]
